openapi: '3.0.0'
info:
  version: '1.0'
  title: DGIdb API
  description: >-
    Drug gene interaction database
  termsOfService: http://dgidb.genome.wustl.edu/contact
  contact:
    name: Malachi Griffith
    x-role: responsible developer
    email: help@dgidb.org
    x-id: 
      - 'https://github.com/malachig'
servers:
  - url: 'http://dgidb.genome.wustl.edu/api/v1'
    description: 'Production server'
tags:
  - name: drug
  - name: gene
  - name: annotation
  - name: translator
paths:
  '/interactions.json?drugs={drugname}':
    get:
      summary: 'return interactions for a drug with a gene'
      parameters:
        - name: drugname
          in: path
          description: >-
            Put gene names here, e.g. riluzole 
          required: true
          x-valueType:
            - 'http://biothings.io/terms/drugname/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/drugname/'
              template: drugs={{input}}
          schema:
            type: string
      responses:
        '200':
          description: 'A query response object with "matchedTerm" property'
          x-responseValueType:
            - path: matchedTerm.interactions.genename
              valueType: 'http://identifiers.org/hgnc.symbol/'
            - path: matchedTerm.interactions.geneEntrezId
              valueType: 'http://identifiers.org/ncbigene/'
            - path: matchedTerm.interactions
              valueType: 'http://biothings.io/concepts/drug_interaction/'
          x-JSONLDContext:
            'https://raw.githubusercontent.com/NCATS-Tangerine/translator-api-registry/master/dgidb/jsonld_context/dgidb_context.json'
  '/interactions.json?genes={genesymbol}':
    get:
      summary: 'return interactions for a gene with a drug'
      parameters:
        - name: genesymbol
          in: path
          description: >-
            Put gene names here, e.g. FLT1, CXCR4 
          required: true
          x-valueType:
            - 'http://identifiers.org/hgnc.symbol/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/hgnc.symbol/'
              template: genes={{input}}
          schema:
            type: string
      responses:
        '200':
          description: 'A query response object with "matchedTerm" property'
          x-responseValueType:
            - path: matchedTerm.interactions.drugName
              valueType: 'http://biothings.io/terms/drugname/'
            - path: matchedTerm.interactions
              valueType: 'http://biothings.io/concepts/drug_interaction/'
          x-JSONLDContext:
            'https://raw.githubusercontent.com/NCATS-Tangerine/translator-api-registry/master/dgidb/jsonld_context/dgidb_context.json'
