openapi: 3.0.0
info:
  contact:
    email: help@dgidb.org
    name: Malachi Griffith
    x-id: https://github.com/malachig
    x-role: responsible developer
  description: Drug gene interaction database
  termsOfService: http://dgidb.genome.wustl.edu/contact
  title: DGIdb API
  version: '2.0'
servers:
- description: Production server
  url: http://dgidb.genome.wustl.edu/api/v2
tags:
- name: drug
- name: gene
- name: annotation
- name: translator
paths:
  /interactions.json:
    get:
      parameters:
      - description: Put drug names here, e.g. riluzole
        in: query
        name: drugs
        example: riluzole
        schema:
          type: string
      - description: Put gene names here, e.g. CXCR4
        in: query
        name: genes
        example: CXCR4
        schema:
          type: string
      responses:
        '200':
          description: A query response object with "matchedTerm" property
          x-bte-response-mapping:
            - $ref: '#/components/x-bte-response-mapping/gene-drug'
            - $ref: '#/components/x-bte-response-mapping/drug-gene'
      summary: return interactions for a drug with a gene
      x-bte-kgs-operations:
        targetedBy:
          $ref: '#/components/x-bte-kgs-operations/targetedBy'
        target:
          $ref: '#/components/x-bte-kgs-operations/target'
components:
  x-bte-kgs-operations:
    targetedBy:
      inputs:
      - id: symbol
        semantic: Gene
      outputs:
      - id: chembl
        semantic: ChemicalSubstance
      parameters:
        genes: '{input1}'
      supportBatch: false
    target:
      inputs:
      - id: chembl
        semantic: ChemicalSubstance
      outputs:
      - id: entrez
        semantic: Gene
      parameters:
        drugs: '{input1}'
      supportBatch: false
  x-bte-response-mapping:
    gene-drug:
      "@context": http://schema.org
      "@type": Gene
      bts:entrez: matchedTerms.entrezId
      bts:symbol: matchedTerms.geneName
      bts:name: matchedTerms.geneLongName
      bts:targetedBy:
        "@type": ChemicalSubstance
        bts:chembl: matchedTerms.interactions.drugChemblId
        bts:name: matchedTerms.interactions.drugName
        bts:source: matchedTerms.interactions.sources
        bts:publication: matchedTerms.interactions.pmids
        "$input": bts:symbol
        "$source": dgidb
    drug-gene:
      "@context": http://schema.org
      "@type": ChemicalSubstance
      bts:chembl: matchedTerms.chemblId
      bts:name: matchedTerms.drugName
      bts:target:
        "@type": Gene
        bts:entrez: matchedTerms.interactions.geneEntrezId
        bts:name: matchedTerms.interactions.geneLongName
        bts:source: matchedTerms.interactions.sources
        bts:publication: matchedTerms.interactions.pmids
        "$input": bts:chembl
        "$source": dgidb