openapi: 3.0.3
info:
  contact:
    email: help@biothings.io
    name: BioThings Team
    x-id: https://github.com/biothings
    x-role: responsible developers
  description: Documentation of the BioThings SEMMEDDB query web services.
  termsOfService: https://biothings.io/about
  title: BioThings SEMMEDDB API
  version: '2.0'
  x-translator:
    infores: "infores:biothings-semmeddb"
    component: KP
    team:
      - Service Provider
    biolink-version: "2.2.13"
servers:
- description: Production server
  url: https://biothings.ncats.io/semmeddb
  x-maturity: production
tags:
## include what entities are in the API
- name: disease
- name: phenotype
- name: gene
- name: chemical
- name: association
- name: query
- name: translator
- name: biothings
- name: ngd
paths:
  "/association/{id}":
    get:
      parameters:
      - name: id
        in: path
        required: true
        example: "85213740"
        schema:
          type: string
      - "$ref": "#/components/parameters/raw"
      - "$ref": "#/components/parameters/rawquery"
      - "$ref": "#/components/parameters/_source"
      - "$ref": "#/components/parameters/size"
      - "$ref": "#/components/parameters/dotfield"
      - "$ref": "#/components/parameters/_sorted"
      - "$ref": "#/components/parameters/always_list"
      - "$ref": "#/components/parameters/allow_null"
      - "$ref": "#/components/parameters/format"
      responses:
        '200':
          description: "Success"
      #     content:
      #       application/json:
      #         schema:
      #           $ref: '#/components/schemas/Association'
      #   '404':
      #     description: A response indicating an unknown association ID
      # summary: Retrieve association objects based on ID
      tags:
      - association
  "/association":
    post:
      parameters:
      - "$ref": "#/components/parameters/raw"
      - "$ref": "#/components/parameters/rawquery"
      - "$ref": "#/components/parameters/_source"
      - "$ref": "#/components/parameters/size"
      - "$ref": "#/components/parameters/dotfield"
      - "$ref": "#/components/parameters/_sorted"
      - "$ref": "#/components/parameters/always_list"
      - "$ref": "#/components/parameters/allow_null"
      - "$ref": "#/components/parameters/format"
      requestBody:
        content:
          application/json:
            example:
              ids:
              - "85213740"
              - "85203385"
            schema:
              type: object
              properties:
                ids:
                  description: 'multiple Association IDs separated by comma. Note that
                    currently we only take the input ids up to 1000 maximum, the rest
                    will be omitted. Type: string (list). Max: 1000.'
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: "Success"
      tags:
      - association
  "/metadata":
    get:
      parameters:
      - "$ref": "#/components/parameters/format"
      - "$ref": "#/components/parameters/raw"
      - "$ref": "#/components/parameters/dev"
      responses:
        '200':
          description: Success
      summary: Get metadata about the data available from the API
      tags:
      - metadata
  "/metadata/fields":
    get:
      parameters:
      - "$ref": "#/components/parameters/format"
      - "$ref": "#/components/parameters/raw"
      - "$ref": "#/components/parameters/search"
      - "$ref": "#/components/parameters/prefix"
      responses:
        '200':
          description: Success
      summary: Get metadata about the data fields available from a record
      tags:
      - metadata
  "/query/ngd":
    get:
      parameters:
      - name: umls
        description: Query string.
        in: query
        required: true
        example: 
        - "C0003762,C0262587"
        schema:
          type: array
          items:
            type: string
      - "$ref": "#/components/parameters/format"
      responses:
        '200':
          description: Success
      tags:
      - ngd
    post:
      parameters:
      - name: umls
        description: Query string.
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - "$ref": "#/components/parameters/format"
      requestBody:
        content:
          application/json:
            example:
              umls:
              - 
                - C0003762
                - C0262587
            schema:
              type: object
              properties:
                umls:
                  type: array
                  items:
                    type: array
                    items:
                      type: string
      responses:
        '200':
          description: Success
      tags:
      - ngd
  "/query":
    get:
      parameters:
      - name: q
        description: Query string.
        in: query
        required: true
        example: "subject.umls:C0055723"
        schema:
          type: string
      - "$ref": "#/components/parameters/aggs"
      - "$ref": "#/components/parameters/facet_size"
      - "$ref": "#/components/parameters/from"
      - "$ref": "#/components/parameters/userquery"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/explain"
      - "$ref": "#/components/parameters/fetch_all"
      - "$ref": "#/components/parameters/scroll_id"
      - "$ref": "#/components/parameters/raw"
      - "$ref": "#/components/parameters/rawquery"
      - "$ref": "#/components/parameters/_source"
      - "$ref": "#/components/parameters/size"
      - "$ref": "#/components/parameters/dotfield"
      - "$ref": "#/components/parameters/_sorted"
      - "$ref": "#/components/parameters/always_list"
      - "$ref": "#/components/parameters/allow_null"
      - "$ref": "#/components/parameters/format"
      responses:
        '200':
          description: Success
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/QueryResult"
      #   '400':
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/ErrorResult"
      #     description: A response indicating an improperly formatted query
      # summary: Make queries and return matching gene hits. Supports JSONP and CORS
      #   as well.
      tags:
      - query
    post:
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: scopes
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            default:
            - _id
      - "$ref": "#/components/parameters/from"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/raw"
      - "$ref": "#/components/parameters/rawquery"
      - "$ref": "#/components/parameters/_source"
      - "$ref": "#/components/parameters/size"
      - "$ref": "#/components/parameters/dotfield"
      - "$ref": "#/components/parameters/_sorted"
      - "$ref": "#/components/parameters/always_list"
      - "$ref": "#/components/parameters/allow_null"
      - "$ref": "#/components/parameters/format"
      requestBody:
        content:
          application/json:
            example:
              q:
              - "C0055723"
              - "C0085083"
              scopes:
              - "subject.umls"
            schema:
              type: object
              properties:
                q:
                  type: array
                  items:
                    type: string
                scopes:
                  type: array
                  items:
                    type: string
                from:
                  type: integer
                sort:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Success
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/QueryPOSTResult"
      #   '400':
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/ErrorResult"
      #     description: A response indicating an improperly formatted query
      # summary: Make batch gene queries and return matching gene hits
      tags:
      - query
      ## list of operations goes here!!! 3 levels of indent
      x-bte-kgs-operations:
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-neop'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-aapp'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-TREATS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/topp-TREATS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-aapp'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-patf'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-TREATS-neop'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/phsu-TREATS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/phsu-TREATS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/cell-PART_OF-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/cell-PART_OF-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-PART_OF-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-PART_OF-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-aapp'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-gngm'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PART_OF-aapp'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PART_OF-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-diap'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-diap-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-inpo'
      - $ref: '#/components/x-bte-kgs-operations/aapp-ASSOCIATED_WITH-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/aapp-ASSOCIATED_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COEXISTS_WITH-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COEXISTS_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-aapp'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-celf'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-ASSOCIATED_WITH-neop'
      - $ref: '#/components/x-bte-kgs-operations/gngm-ASSOCIATED_WITH-neop'
      - $ref: '#/components/x-bte-kgs-operations/gngm-ASSOCIATED_WITH-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-PRECEDES-topp'
      - $ref: '#/components/x-bte-kgs-operations/topp-PRECEDES-topp-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-orch'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-orch-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-aapp'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/diap-DIAGNOSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/diap-DIAGNOSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/cell-PRODUCES-aapp'
      - $ref: '#/components/x-bte-kgs-operations/cell-PRODUCES-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-CAUSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-gngm'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PART_OF-celc'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PART_OF-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-gngm'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-cell'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PART_OF-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PART_OF-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-anab'
      - $ref: '#/components/x-bte-kgs-operations/phsu-TREATS-neop'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-bacs'
      - $ref: '#/components/x-bte-kgs-operations/patf-COEXISTS_WITH-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/patf-COEXISTS_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-cell'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-STIMULATES-gngm'
      - $ref: '#/components/x-bte-kgs-operations/gngm-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/celc-PART_OF-cell'
      - $ref: '#/components/x-bte-kgs-operations/celc-PART_OF-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-sosy'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PART_OF-cell'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PART_OF-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-aapp'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-TREATS-patf'
      - $ref: '#/components/x-bte-kgs-operations/topp-TREATS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/moft-PROCESS_OF-cell'
      - $ref: '#/components/x-bte-kgs-operations/moft-PROCESS_OF-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PART_OF-celc'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PART_OF-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CAUSES-celf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CAUSES-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-bacs'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-ASSOCIATED_WITH-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/orch-STIMULATES-gngm'
      - $ref: '#/components/x-bte-kgs-operations/orch-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/celc-PART_OF-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/celc-PART_OF-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/diap-DIAGNOSES-neop'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-gngm'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PRODUCES-aapp'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PRODUCES-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-acab'
      - $ref: '#/components/x-bte-kgs-operations/bacs-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-orch'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-orch-rev'
      - $ref: '#/components/x-bte-kgs-operations/neop-COEXISTS_WITH-neop'
      - $ref: '#/components/x-bte-kgs-operations/neop-COEXISTS_WITH-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-moft'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INHIBITS-gngm'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-cgab'
      - $ref: '#/components/x-bte-kgs-operations/orch-INTERACTS_WITH-aapp'
      - $ref: '#/components/x-bte-kgs-operations/orch-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-ASSOCIATED_WITH-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/bacs-ASSOCIATED_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-gngm'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-TREATS-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-moft'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/cell-INTERACTS_WITH-gngm'
      - $ref: '#/components/x-bte-kgs-operations/cell-INTERACTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/sosy-ASSOCIATED_WITH-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/sosy-ASSOCIATED_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CAUSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/antb-TREATS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PREDISPOSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PREDISPOSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/celf-PROCESS_OF-neop'
      - $ref: '#/components/x-bte-kgs-operations/celf-PROCESS_OF-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PART_OF-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PART_OF-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/orgf-ASSOCIATED_WITH-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/orgf-ASSOCIATED_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-orch'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-moft'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-neop'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-TREATS-inpo'
      - $ref: '#/components/x-bte-kgs-operations/phsf-PROCESS_OF-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/phsf-PROCESS_OF-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-ASSOCIATED_WITH-patf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-ASSOCIATED_WITH-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-CAUSES-celf'
      - $ref: '#/components/x-bte-kgs-operations/orch-CAUSES-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-CAUSES-patf'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-CAUSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-INTERACTS_WITH-orch'
      - $ref: '#/components/x-bte-kgs-operations/orch-INTERACTS_WITH-orch-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-TREATS-sosy'
      - $ref: '#/components/x-bte-kgs-operations/topp-TREATS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-PRECEDES-diap'
      - $ref: '#/components/x-bte-kgs-operations/celc-PART_OF-celc'
      - $ref: '#/components/x-bte-kgs-operations/celc-PART_OF-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/diap-DIAGNOSES-patf'
      - $ref: '#/components/x-bte-kgs-operations/diap-DIAGNOSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-COEXISTS_WITH-orch'
      - $ref: '#/components/x-bte-kgs-operations/orch-COEXISTS_WITH-orch-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-ortf'
      - $ref: '#/components/x-bte-kgs-operations/horm-TREATS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-gngm'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-CAUSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/orch-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-CAUSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/topp-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/patf-CAUSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/patf-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PART_OF-celc'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PART_OF-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-orch'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-orch-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COEXISTS_WITH-patf'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COEXISTS_WITH-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-TREATS-mobd'
      - $ref: '#/components/x-bte-kgs-operations/cell-INTERACTS_WITH-cell'
      - $ref: '#/components/x-bte-kgs-operations/cell-INTERACTS_WITH-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-COEXISTS_WITH-gngm'
      - $ref: '#/components/x-bte-kgs-operations/gngm-COEXISTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-bacs'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-ASSOCIATED_WITH-neop'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-bacs'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PART_OF-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PART_OF-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/patf-ASSOCIATED_WITH-gngm'
      - $ref: '#/components/x-bte-kgs-operations/patf-ASSOCIATED_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-AFFECTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-TREATS-sosy'
      - $ref: '#/components/x-bte-kgs-operations/orch-TREATS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PART_OF-cell'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PART_OF-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-TREATS-patf'
      - $ref: '#/components/x-bte-kgs-operations/phsu-TREATS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-INTERACTS_WITH-bacs'
      - $ref: '#/components/x-bte-kgs-operations/bacs-INTERACTS_WITH-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-ADMINISTERED_TO-cell'
      - $ref: '#/components/x-bte-kgs-operations/aapp-ADMINISTERED_TO-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREVENTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREVENTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-CAUSES-orgf'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-CAUSES-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-COEXISTS_WITH-aapp'
      - $ref: '#/components/x-bte-kgs-operations/gngm-COEXISTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PART_OF-neop'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PART_OF-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREDISPOSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREDISPOSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PRECEDES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PRECEDES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-TREATS-mobd'
      - $ref: '#/components/x-bte-kgs-operations/phsu-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-TREATS-anab'
      - $ref: '#/components/x-bte-kgs-operations/bacs-COEXISTS_WITH-bacs'
      - $ref: '#/components/x-bte-kgs-operations/bacs-COEXISTS_WITH-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-TREATS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CAUSES-patf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CAUSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orgf-COEXISTS_WITH-orgf'
      - $ref: '#/components/x-bte-kgs-operations/orgf-COEXISTS_WITH-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-aapp'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/moft-AFFECTS-gngm'
      - $ref: '#/components/x-bte-kgs-operations/moft-AFFECTS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-TREATS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-COEXISTS_WITH-aapp'
      - $ref: '#/components/x-bte-kgs-operations/bacs-COEXISTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-AFFECTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/bacs-AFFECTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-ortf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-moft'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-orch'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-orch-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-CAUSES-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/mobd-COEXISTS_WITH-mobd'
      - $ref: '#/components/x-bte-kgs-operations/mobd-COEXISTS_WITH-mobd-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-moft'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-orch'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-inch'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PART_OF-cell'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PART_OF-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-AFFECTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/topp-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-bacs'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-CAUSES-sosy'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-CAUSES-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-bacs'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-COEXISTS_WITH-inch'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-bacs'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-phsf'
      - $ref: '#/components/x-bte-kgs-operations/orch-PREVENTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/orch-PREVENTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/neop-AFFECTS-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/neop-AFFECTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-moft'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-CAUSES-patf'
      - $ref: '#/components/x-bte-kgs-operations/topp-CAUSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-COEXISTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/phsu-INTERACTS_WITH-orch-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/topp-TREATS-cgab'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-gngm'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CAUSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PRODUCES-bacs'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PRODUCES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-hops'
      - $ref: '#/components/x-bte-kgs-operations/orch-CAUSES-patf'
      - $ref: '#/components/x-bte-kgs-operations/orch-CAUSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/phsu-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/topp-AFFECTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/topp-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-gngm'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CAUSES-orgf'
      - $ref: '#/components/x-bte-kgs-operations/celf-AFFECTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/celf-AFFECTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-COEXISTS_WITH-phsu'
      - $ref: '#/components/x-bte-kgs-operations/patf-COEXISTS_WITH-neop'
      - $ref: '#/components/x-bte-kgs-operations/neop-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-celc'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-phsu'
      - $ref: '#/components/x-bte-kgs-operations/orch-CAUSES-sosy'
      - $ref: '#/components/x-bte-kgs-operations/orch-CAUSES-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-AFFECTS-moft'
      - $ref: '#/components/x-bte-kgs-operations/phsu-AFFECTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/patf-COEXISTS_WITH-patf'
      - $ref: '#/components/x-bte-kgs-operations/patf-COEXISTS_WITH-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/moft-COEXISTS_WITH-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/moft-COEXISTS_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-INTERACTS_WITH-phsu'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-PRODUCES-aapp'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-PRODUCES-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/inpo-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PREDISPOSES-neop'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PREDISPOSES-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-ortf'
      - $ref: '#/components/x-bte-kgs-operations/bacs-INTERACTS_WITH-gngm'
      - $ref: '#/components/x-bte-kgs-operations/bacs-INTERACTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/cell-AFFECTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/cell-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/inpo-COEXISTS_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/celf-COEXISTS_WITH-celf'
      - $ref: '#/components/x-bte-kgs-operations/celf-COEXISTS_WITH-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-strd'
      - $ref: '#/components/x-bte-kgs-operations/gngm-ASSOCIATED_WITH-patf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-ASSOCIATED_WITH-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-TREATS-acab'
      - $ref: '#/components/x-bte-kgs-operations/aapp-ASSOCIATED_WITH-mobd'
      - $ref: '#/components/x-bte-kgs-operations/topp-AFFECTS-ortf'
      - $ref: '#/components/x-bte-kgs-operations/orch-STIMULATES-bacs'
      - $ref: '#/components/x-bte-kgs-operations/orch-STIMULATES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-AFFECTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-orch'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREDISPOSES-patf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREDISPOSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/neop-PRODUCES-aapp'
      - $ref: '#/components/x-bte-kgs-operations/neop-PRODUCES-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-cell'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-STIMULATES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-STIMULATES-orch'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-carb'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREVENTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREVENTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-CAUSES-inpo'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/cell-PRODUCES-bacs'
      - $ref: '#/components/x-bte-kgs-operations/cell-PRODUCES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-AFFECTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/diap-DIAGNOSES-anab'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COMPLICATES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COMPLICATES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PREDISPOSES-patf'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PREDISPOSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-ASSOCIATED_WITH-patf'
      - $ref: '#/components/x-bte-kgs-operations/bacs-ASSOCIATED_WITH-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-cell'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-orch'
      - $ref: '#/components/x-bte-kgs-operations/aapp-ASSOCIATED_WITH-inpo'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREDISPOSES-neop'
      - $ref: '#/components/x-bte-kgs-operations/diap-DIAGNOSES-inpo'
      - $ref: '#/components/x-bte-kgs-operations/horm-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-INTERACTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/comd-COEXISTS_WITH-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-PREVENTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-AFFECTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-lipd'
      - $ref: '#/components/x-bte-kgs-operations/topp-PRECEDES-acab'
      - $ref: '#/components/x-bte-kgs-operations/topp-PRECEDES-acab-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-COEXISTS_WITH-gngm'
      - $ref: '#/components/x-bte-kgs-operations/bacs-COEXISTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREDISPOSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREDISPOSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-STIMULATES-orgf'
      - $ref: '#/components/x-bte-kgs-operations/topp-STIMULATES-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/nsba-PART_OF-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/celc-AFFECTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/celc-AFFECTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-COEXISTS_WITH-bacs'
      - $ref: '#/components/x-bte-kgs-operations/gngm-COEXISTS_WITH-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-phsu'
      - $ref: '#/components/x-bte-kgs-operations/ortf-COEXISTS_WITH-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-aapp'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-ortf'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-ortf-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-AFFECTS-ortf'
      - $ref: '#/components/x-bte-kgs-operations/bacs-CAUSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-ortf'
      - $ref: '#/components/x-bte-kgs-operations/nnon-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-AUGMENTS-moft'
      - $ref: '#/components/x-bte-kgs-operations/phsu-AUGMENTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-cell'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-aapp'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/celf-CAUSES-celf'
      - $ref: '#/components/x-bte-kgs-operations/celf-CAUSES-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-lipd'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-nnon'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-lipd'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-carb'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-orch'
      - $ref: '#/components/x-bte-kgs-operations/orch-PREVENTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/orch-PREVENTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-INHIBITS-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-horm'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PRECEDES-patf'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PRECEDES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-TREATS-inpo'
      - $ref: '#/components/x-bte-kgs-operations/phsu-PREVENTS-sosy'
      - $ref: '#/components/x-bte-kgs-operations/phsu-PREVENTS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-ASSOCIATED_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PREVENTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COEXISTS_WITH-sosy'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COEXISTS_WITH-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREVENTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREVENTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/inpo-COEXISTS_WITH-inpo'
      - $ref: '#/components/x-bte-kgs-operations/inpo-COEXISTS_WITH-inpo-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-AUGMENTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-inch'
      - $ref: '#/components/x-bte-kgs-operations/orgf-AFFECTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/orgf-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/celf-AFFECTS-bacs'
      - $ref: '#/components/x-bte-kgs-operations/celf-AFFECTS-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-ASSOCIATED_WITH-sosy'
      - $ref: '#/components/x-bte-kgs-operations/aapp-ASSOCIATED_WITH-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PREDISPOSES-neop'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-inch'
      - $ref: '#/components/x-bte-kgs-operations/diap-DIAGNOSES-cgab'
      - $ref: '#/components/x-bte-kgs-operations/patf-PREDISPOSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/patf-PREDISPOSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/imft-ASSOCIATED_WITH-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/imft-ASSOCIATED_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-cell'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-ADMINISTERED_TO-cell'
      - $ref: '#/components/x-bte-kgs-operations/bacs-ADMINISTERED_TO-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/patf-AFFECTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/patf-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PRODUCES-orch'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/neop-AFFECTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/neop-AFFECTS-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-DISRUPTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/imft-PREVENTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/imft-PREVENTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-CAUSES-neop'
      - $ref: '#/components/x-bte-kgs-operations/hops-CAUSES-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-cell'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-AFFECTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/orch-COEXISTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/inpo-CAUSES-patf'
      - $ref: '#/components/x-bte-kgs-operations/inpo-CAUSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/inch-COEXISTS_WITH-inch-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-carb'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PREDISPOSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-carb'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COEXISTS_WITH-cgab'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/food-CAUSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/food-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-ortf'
      - $ref: '#/components/x-bte-kgs-operations/bacs-AFFECTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/sosy-COEXISTS_WITH-sosy'
      - $ref: '#/components/x-bte-kgs-operations/sosy-COEXISTS_WITH-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-ASSOCIATED_WITH-moft'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-ASSOCIATED_WITH-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-AFFECTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/topp-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-INHIBITS-ortf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-celc'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-AFFECTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREVENTS-sosy'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREVENTS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-hops'
      - $ref: '#/components/x-bte-kgs-operations/celf-AFFECTS-cell'
      - $ref: '#/components/x-bte-kgs-operations/celf-AFFECTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-AUGMENTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CAUSES-inpo'
      - $ref: '#/components/x-bte-kgs-operations/patf-AFFECTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/patf-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-ASSOCIATED_WITH-mobd'
      - $ref: '#/components/x-bte-kgs-operations/imft-PART_OF-cell'
      - $ref: '#/components/x-bte-kgs-operations/imft-PART_OF-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/cgab-COEXISTS_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-CAUSES-comd'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COEXISTS_WITH-inpo'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-moft'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-lipd'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-hops'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-strd'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/neop-CAUSES-neop'
      - $ref: '#/components/x-bte-kgs-operations/orgf-COEXISTS_WITH-ortf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PRODUCES-aapp'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PRODUCES-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-STIMULATES-bacs'
      - $ref: '#/components/x-bte-kgs-operations/gngm-STIMULATES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/antb-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CAUSES-neop'
      - $ref: '#/components/x-bte-kgs-operations/patf-CAUSES-orgf'
      - $ref: '#/components/x-bte-kgs-operations/patf-CAUSES-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/inch-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PREDISPOSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PREDISPOSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREVENTS-inpo'
      - $ref: '#/components/x-bte-kgs-operations/acab-COEXISTS_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/diap-DIAGNOSES-acab'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-PREVENTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CAUSES-neop'
      - $ref: '#/components/x-bte-kgs-operations/bacs-DISRUPTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-imft'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-imft-rev'
      - $ref: '#/components/x-bte-kgs-operations/diap-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-phsf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-celc'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/phsu-COEXISTS_WITH-orch-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-PREVENTS-inpo'
      - $ref: '#/components/x-bte-kgs-operations/diap-DIAGNOSES-sosy'
      - $ref: '#/components/x-bte-kgs-operations/diap-DIAGNOSES-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-inch'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CAUSES-sosy'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CAUSES-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-COEXISTS_WITH-orch'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CAUSES-patf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CAUSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/celf-AFFECTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/celf-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-diap'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-diap-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/sosy-CAUSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/sosy-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsf-COEXISTS_WITH-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-AFFECTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-nsba'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-inch'
      - $ref: '#/components/x-bte-kgs-operations/sosy-COEXISTS_WITH-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/sosy-COEXISTS_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-AFFECTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREVENTS-inpo'
      - $ref: '#/components/x-bte-kgs-operations/antb-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-CAUSES-mobd'
      - $ref: '#/components/x-bte-kgs-operations/lipd-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CAUSES-comd'
      - $ref: '#/components/x-bte-kgs-operations/carb-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-AUGMENTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-AUGMENTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-ADMINISTERED_TO-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-COEXISTS_WITH-hops'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-phsf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-STIMULATES-aapp'
      - $ref: '#/components/x-bte-kgs-operations/gngm-STIMULATES-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/orgf-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-COEXISTS_WITH-inch-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/ortf-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-PART_OF-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREDISPOSES-patf'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREDISPOSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/anab-COEXISTS_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/celf-AFFECTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/celf-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/imft-STIMULATES-gngm'
      - $ref: '#/components/x-bte-kgs-operations/imft-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/strd-ASSOCIATED_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-CAUSES-inpo-rev'
      - $ref: '#/components/x-bte-kgs-operations/diap-PRECEDES-topp-rev'
      - $ref: '#/components/x-bte-kgs-operations/diap-DIAGNOSES-mobd'
      - $ref: '#/components/x-bte-kgs-operations/inch-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/carb-ASSOCIATED_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-phsf'
      - $ref: '#/components/x-bte-kgs-operations/orgf-PRECEDES-orgf'
      - $ref: '#/components/x-bte-kgs-operations/orgf-PRECEDES-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/cgab-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-ASSOCIATED_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-PART_OF-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-cell'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PRODUCES-inch'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PRODUCES-inch-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-INTERACTS_WITH-hops'
      - $ref: '#/components/x-bte-kgs-operations/orch-STIMULATES-aapp'
      - $ref: '#/components/x-bte-kgs-operations/orch-STIMULATES-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-STIMULATES-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-AUGMENTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-ASSOCIATED_WITH-comd'
      - $ref: '#/components/x-bte-kgs-operations/nsba-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-ASSOCIATED_WITH-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/celc-PART_OF-neop'
      - $ref: '#/components/x-bte-kgs-operations/celc-PART_OF-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/patf-AFFECTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/patf-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-inpo'
      - $ref: '#/components/x-bte-kgs-operations/inch-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CAUSES-phsf'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-sosy'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/neop-COEXISTS_WITH-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-PART_OF-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/carb-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-TREATS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/aapp-TREATS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/patf-AFFECTS-ortf'
      - $ref: '#/components/x-bte-kgs-operations/patf-PRECEDES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/patf-PRECEDES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-cell'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/moft-CAUSES-celf'
      - $ref: '#/components/x-bte-kgs-operations/moft-CAUSES-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/orgf-ASSOCIATED_WITH-sosy'
      - $ref: '#/components/x-bte-kgs-operations/orgf-ASSOCIATED_WITH-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-sosy'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-COEXISTS_WITH-lipd'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INHIBITS-bacs'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INHIBITS-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/imft-INTERACTS_WITH-aapp'
      - $ref: '#/components/x-bte-kgs-operations/imft-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/moft-AFFECTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/moft-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/inch-INTERACTS_WITH-orch-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-horm'
      - $ref: '#/components/x-bte-kgs-operations/orgf-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-gngm'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREVENTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREVENTS-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/carb-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/celc-PRODUCES-aapp'
      - $ref: '#/components/x-bte-kgs-operations/celc-PRODUCES-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-PREDISPOSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-phsf'
      - $ref: '#/components/x-bte-kgs-operations/carb-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-AUGMENTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-INTERACTS_WITH-horm'
      - $ref: '#/components/x-bte-kgs-operations/horm-INTERACTS_WITH-horm-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INHIBITS-aapp'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INHIBITS-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/orgf-AFFECTS-ortf'
      - $ref: '#/components/x-bte-kgs-operations/diap-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/celf-AFFECTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/phsu-DISRUPTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/celf-PRODUCES-bacs'
      - $ref: '#/components/x-bte-kgs-operations/celf-PRODUCES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/inch-ASSOCIATED_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-phsf'
      - $ref: '#/components/x-bte-kgs-operations/imft-ASSOCIATED_WITH-neop'
      - $ref: '#/components/x-bte-kgs-operations/phsu-TREATS-acab'
      - $ref: '#/components/x-bte-kgs-operations/lipd-CAUSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-TREATS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PRODUCES-bacs'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PRODUCES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-phsu'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/nsba-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-phsu'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-inpo'
      - $ref: '#/components/x-bte-kgs-operations/celc-AFFECTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/phsu-PREVENTS-comd'
      - $ref: '#/components/x-bte-kgs-operations/bacs-AUGMENTS-ortf-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-AFFECTS-moft'
      - $ref: '#/components/x-bte-kgs-operations/topp-AFFECTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/neop-PRECEDES-neop'
      - $ref: '#/components/x-bte-kgs-operations/neop-PRECEDES-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/nnon-ADMINISTERED_TO-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREVENTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/comd-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-nsba'
      - $ref: '#/components/x-bte-kgs-operations/phsu-COEXISTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/ortf-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-TREATS-comd'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-lipd'
      - $ref: '#/components/x-bte-kgs-operations/clnd-TREATS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/clnd-TREATS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-celc'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/antb-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/inpo-CAUSES-sosy'
      - $ref: '#/components/x-bte-kgs-operations/inpo-CAUSES-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CONVERTS_TO-gngm'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CONVERTS_TO-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/acab-PART_OF-neop'
      - $ref: '#/components/x-bte-kgs-operations/acab-PART_OF-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-imft'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-imft-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-CAUSES-phsf'
      - $ref: '#/components/x-bte-kgs-operations/moft-CAUSES-moft'
      - $ref: '#/components/x-bte-kgs-operations/moft-CAUSES-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-phsf'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-bacs'
      - $ref: '#/components/x-bte-kgs-operations/bacs-AFFECTS-celc'
      - $ref: '#/components/x-bte-kgs-operations/bacs-AFFECTS-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-DISRUPTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-ASSOCIATED_WITH-inpo'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-antb'
      - $ref: '#/components/x-bte-kgs-operations/gngm-ASSOCIATED_WITH-comd'
      - $ref: '#/components/x-bte-kgs-operations/topp-AFFECTS-phsf'
      - $ref: '#/components/x-bte-kgs-operations/orch-INTERACTS_WITH-inch'
      - $ref: '#/components/x-bte-kgs-operations/nnon-INTERACTS_WITH-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COEXISTS_WITH-acab'
      - $ref: '#/components/x-bte-kgs-operations/carb-AUGMENTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COEXISTS_WITH-anab'
      - $ref: '#/components/x-bte-kgs-operations/orch-CONVERTS_TO-orch'
      - $ref: '#/components/x-bte-kgs-operations/orch-CONVERTS_TO-orch-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-INTERACTS_WITH-orch-rev'
      - $ref: '#/components/x-bte-kgs-operations/imft-PART_OF-celc'
      - $ref: '#/components/x-bte-kgs-operations/imft-PART_OF-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-TREATS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-ortf'
      - $ref: '#/components/x-bte-kgs-operations/phsu-INHIBITS-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-mobd'
      - $ref: '#/components/x-bte-kgs-operations/cell-INTERACTS_WITH-aapp'
      - $ref: '#/components/x-bte-kgs-operations/cell-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-PREVENTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/patf-AFFECTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/imft-CAUSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/imft-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CAUSES-celf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CAUSES-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-INTERACTS_WITH-nsba'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-AFFECTS-phsf'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-celc'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-AFFECTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-phsu'
      - $ref: '#/components/x-bte-kgs-operations/bacs-INHIBITS-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PREDISPOSES-patf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PREDISPOSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-neop'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/inpo-PRECEDES-celf'
      - $ref: '#/components/x-bte-kgs-operations/inpo-PRECEDES-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-nsba'
      - $ref: '#/components/x-bte-kgs-operations/mobd-AFFECTS-mobd'
      - $ref: '#/components/x-bte-kgs-operations/mobd-AFFECTS-mobd-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-INTERACTS_WITH-lipd'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-diap'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-diap-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-AUGMENTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-lipd'
      - $ref: '#/components/x-bte-kgs-operations/food-AFFECTS-orgf'
      - $ref: '#/components/x-bte-kgs-operations/food-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsf-ASSOCIATED_WITH-phsu'
      - $ref: '#/components/x-bte-kgs-operations/phsf-ASSOCIATED_WITH-phsu-rev'
      - $ref: '#/components/x-bte-kgs-operations/antb-INTERACTS_WITH-antb'
      - $ref: '#/components/x-bte-kgs-operations/antb-INTERACTS_WITH-antb-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-comd'
      - $ref: '#/components/x-bte-kgs-operations/phsu-CAUSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/nnon-AUGMENTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/cell-PRODUCES-gngm'
      - $ref: '#/components/x-bte-kgs-operations/cell-PRODUCES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-STIMULATES-phsu'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PART_OF-aapp'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PART_OF-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-ASSOCIATED_WITH-inpo'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PRODUCES-imft'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PRODUCES-imft-rev'
      - $ref: '#/components/x-bte-kgs-operations/antb-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-STIMULATES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-carb'
      - $ref: '#/components/x-bte-kgs-operations/inch-CAUSES-inpo-rev'
      - $ref: '#/components/x-bte-kgs-operations/nsba-PART_OF-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-PRODUCES-bacs'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-PRODUCES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AFFECTS-acab'
      - $ref: '#/components/x-bte-kgs-operations/orgf-COEXISTS_WITH-phsf'
      - $ref: '#/components/x-bte-kgs-operations/patf-PRECEDES-patf'
      - $ref: '#/components/x-bte-kgs-operations/patf-PRECEDES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-INTERACTS_WITH-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-hops'
      - $ref: '#/components/x-bte-kgs-operations/bacs-INTERACTS_WITH-nnon'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-phsu'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/ortf-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-MANIFESTATION_OF-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-MANIFESTATION_OF-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-ASSOCIATED_WITH-sosy'
      - $ref: '#/components/x-bte-kgs-operations/gngm-ASSOCIATED_WITH-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-STIMULATES-orch'
      - $ref: '#/components/x-bte-kgs-operations/orgf-PRODUCES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PREDISPOSES-neop'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-strd'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-eico'
      - $ref: '#/components/x-bte-kgs-operations/lipd-COEXISTS_WITH-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/patf-COMPLICATES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/patf-COMPLICATES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/inch-CAUSES-comd-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-phsu'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREDISPOSES-inpo'
      - $ref: '#/components/x-bte-kgs-operations/nsba-ASSOCIATED_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/neop-AFFECTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INHIBITS-orch'
      - $ref: '#/components/x-bte-kgs-operations/food-AFFECTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/food-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-cell'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-CAUSES-acab'
      - $ref: '#/components/x-bte-kgs-operations/antb-COEXISTS_WITH-antb'
      - $ref: '#/components/x-bte-kgs-operations/antb-COEXISTS_WITH-antb-rev'
      - $ref: '#/components/x-bte-kgs-operations/nsba-AFFECTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/sosy-PREDISPOSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/sosy-PREDISPOSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-ASSOCIATED_WITH-mobd'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-eico'
      - $ref: '#/components/x-bte-kgs-operations/carb-INTERACTS_WITH-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-inch'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-DISRUPTS-cell'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-DISRUPTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-ASSOCIATED_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-celc'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CAUSES-mobd'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-hops'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CAUSES-comd'
      - $ref: '#/components/x-bte-kgs-operations/orch-STIMULATES-nsba'
      - $ref: '#/components/x-bte-kgs-operations/hops-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/food-PREDISPOSES-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/food-PREDISPOSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/antb-CAUSES-inpo-rev'
      - $ref: '#/components/x-bte-kgs-operations/eico-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-DISRUPTS-ortf'
      - $ref: '#/components/x-bte-kgs-operations/phsu-STIMULATES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-AUGMENTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-PREDISPOSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PREDISPOSES-patf'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PREDISPOSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-inch'
      - $ref: '#/components/x-bte-kgs-operations/carb-COEXISTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CAUSES-cgab'
      - $ref: '#/components/x-bte-kgs-operations/inch-COEXISTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/imft-COEXISTS_WITH-aapp'
      - $ref: '#/components/x-bte-kgs-operations/imft-COEXISTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/hops-CAUSES-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/strd-TREATS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/patf-COEXISTS_WITH-cgab'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-DISRUPTS-celf'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-DISRUPTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/nsba-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/vita-ASSOCIATED_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/comd-AFFECTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/sosy-CAUSES-sosy'
      - $ref: '#/components/x-bte-kgs-operations/sosy-CAUSES-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-INTERACTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsf-ASSOCIATED_WITH-orch'
      - $ref: '#/components/x-bte-kgs-operations/patf-COEXISTS_WITH-mobd'
      - $ref: '#/components/x-bte-kgs-operations/bacs-INTERACTS_WITH-carb'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-hops'
      - $ref: '#/components/x-bte-kgs-operations/phsu-AFFECTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PREDISPOSES-mobd'
      - $ref: '#/components/x-bte-kgs-operations/nnon-AUGMENTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsf-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/carb-COEXISTS_WITH-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-AUGMENTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-mobd'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-horm'
      - $ref: '#/components/x-bte-kgs-operations/horm-PREVENTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-sosy'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-INHIBITS-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-DISRUPTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/antb-TREATS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-PRECEDES-mobd'
      - $ref: '#/components/x-bte-kgs-operations/gngm-COEXISTS_WITH-inch'
      - $ref: '#/components/x-bte-kgs-operations/mobd-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PRODUCES-nnon'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COEXISTS_WITH-comd'
      - $ref: '#/components/x-bte-kgs-operations/horm-COEXISTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-ASSOCIATED_WITH-sosy'
      - $ref: '#/components/x-bte-kgs-operations/bacs-ASSOCIATED_WITH-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-hops'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsf-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-horm'
      - $ref: '#/components/x-bte-kgs-operations/lipd-COEXISTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/inch-AUGMENTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-CAUSES-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/strd-PART_OF-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/imft-PART_OF-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/imft-PART_OF-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-AFFECTS-mobd'
      - $ref: '#/components/x-bte-kgs-operations/gngm-STIMULATES-cell'
      - $ref: '#/components/x-bte-kgs-operations/gngm-STIMULATES-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/orgf-AFFECTS-phsf'
      - $ref: '#/components/x-bte-kgs-operations/food-PREDISPOSES-neop'
      - $ref: '#/components/x-bte-kgs-operations/celc-PRODUCES-bacs'
      - $ref: '#/components/x-bte-kgs-operations/celc-PRODUCES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-comd'
      - $ref: '#/components/x-bte-kgs-operations/hops-AFFECTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-PART_OF-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-STIMULATES-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-COEXISTS_WITH-carb'
      - $ref: '#/components/x-bte-kgs-operations/cell-LOCATION_OF-phsu'
      - $ref: '#/components/x-bte-kgs-operations/nsba-INTERACTS_WITH-orch-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-AFFECTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/patf-COEXISTS_WITH-acab'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PART_OF-gngm'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PART_OF-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/mobd-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-STIMULATES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-inch'
      - $ref: '#/components/x-bte-kgs-operations/bacs-CAUSES-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/inch-STIMULATES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-nsba'
      - $ref: '#/components/x-bte-kgs-operations/patf-PREDISPOSES-neop'
      - $ref: '#/components/x-bte-kgs-operations/hops-COEXISTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/patf-PRODUCES-bacs'
      - $ref: '#/components/x-bte-kgs-operations/patf-PRODUCES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/patf-AFFECTS-neop'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/nnon-AFFECTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-PREDISPOSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/inch-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/celf-COEXISTS_WITH-neop'
      - $ref: '#/components/x-bte-kgs-operations/celf-COEXISTS_WITH-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/antb-PREVENTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREVENTS-mobd'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-PRODUCES-horm'
      - $ref: '#/components/x-bte-kgs-operations/nnon-AFFECTS-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/nnon-CAUSES-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-AFFECTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-imft'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-imft-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-AFFECTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-comd'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREDISPOSES-comd'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-carb'
      - $ref: '#/components/x-bte-kgs-operations/patf-COEXISTS_WITH-anab'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PRODUCES-carb'
      - $ref: '#/components/x-bte-kgs-operations/horm-ASSOCIATED_WITH-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-ASSOCIATED_WITH-comd'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CONVERTS_TO-bacs'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CONVERTS_TO-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-COEXISTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/neop-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-AUGMENTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/celc-LOCATION_OF-bacs'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-patf'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-DISRUPTS-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/antb-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/neop-COEXISTS_WITH-celf'
      - $ref: '#/components/x-bte-kgs-operations/neop-COEXISTS_WITH-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-comd'
      - $ref: '#/components/x-bte-kgs-operations/bacs-CONVERTS_TO-bacs'
      - $ref: '#/components/x-bte-kgs-operations/bacs-CONVERTS_TO-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/imft-CAUSES-patf'
      - $ref: '#/components/x-bte-kgs-operations/imft-CAUSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-COEXISTS_WITH-phsu'
      - $ref: '#/components/x-bte-kgs-operations/carb-AUGMENTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-inch'
      - $ref: '#/components/x-bte-kgs-operations/sosy-CAUSES-orgf'
      - $ref: '#/components/x-bte-kgs-operations/sosy-CAUSES-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-DISRUPTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-nsba'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-horm'
      - $ref: '#/components/x-bte-kgs-operations/celf-PRODUCES-imft'
      - $ref: '#/components/x-bte-kgs-operations/celf-PRODUCES-imft-rev'
      - $ref: '#/components/x-bte-kgs-operations/diap-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PRODUCES-horm'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-hops'
      - $ref: '#/components/x-bte-kgs-operations/comd-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/diap-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-celc'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-STIMULATES-inch'
      - $ref: '#/components/x-bte-kgs-operations/horm-CAUSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/anab-LOCATION_OF-neop'
      - $ref: '#/components/x-bte-kgs-operations/anab-LOCATION_OF-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/nsba-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-DISRUPTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/food-CAUSES-patf'
      - $ref: '#/components/x-bte-kgs-operations/food-CAUSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-PREVENTS-inpo-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-COEXISTS_WITH-antb'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-lipd'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-horm'
      - $ref: '#/components/x-bte-kgs-operations/phsu-TREATS-anab'
      - $ref: '#/components/x-bte-kgs-operations/neop-MANIFESTATION_OF-neop'
      - $ref: '#/components/x-bte-kgs-operations/neop-MANIFESTATION_OF-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-CAUSES-acab'
      - $ref: '#/components/x-bte-kgs-operations/celc-AFFECTS-ortf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CAUSES-mobd'
      - $ref: '#/components/x-bte-kgs-operations/cell-PRODUCES-orch'
      - $ref: '#/components/x-bte-kgs-operations/acab-LOCATION_OF-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-cell'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/comd-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsf-AFFECTS-bpoc'
      - $ref: '#/components/x-bte-kgs-operations/phsf-AFFECTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-TREATS-neop'
      - $ref: '#/components/x-bte-kgs-operations/cell-PRODUCES-imft'
      - $ref: '#/components/x-bte-kgs-operations/cell-PRODUCES-imft-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-comd'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CAUSES-inpo'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREDISPOSES-mobd'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-hops'
      - $ref: '#/components/x-bte-kgs-operations/orch-PREVENTS-mobd'
      - $ref: '#/components/x-bte-kgs-operations/horm-INTERACTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/nnon-AUGMENTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-MANIFESTATION_OF-patf'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-MANIFESTATION_OF-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/carb-CAUSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orgf-PRECEDES-ortf'
      - $ref: '#/components/x-bte-kgs-operations/patf-MANIFESTATION_OF-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/patf-MANIFESTATION_OF-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/imft-INHIBITS-gngm'
      - $ref: '#/components/x-bte-kgs-operations/imft-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/antb-DISRUPTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-sosy'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/comd-COEXISTS_WITH-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orgf-AFFECTS-mobd'
      - $ref: '#/components/x-bte-kgs-operations/orch-AFFECTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-INTERACTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/patf-AFFECTS-phsf'
      - $ref: '#/components/x-bte-kgs-operations/lipd-INHIBITS-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-AFFECTS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-AFFECTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-acab'
      - $ref: '#/components/x-bte-kgs-operations/lipd-AUGMENTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/mobd-COEXISTS_WITH-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-TREATS-cgab'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COMPLICATES-patf'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COMPLICATES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/patf-ASSOCIATED_WITH-aapp'
      - $ref: '#/components/x-bte-kgs-operations/patf-ASSOCIATED_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-DISRUPTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-STIMULATES-hops'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-inpo'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-eico'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-eico'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-lipd'
      - $ref: '#/components/x-bte-kgs-operations/diap-CAUSES-sosy'
      - $ref: '#/components/x-bte-kgs-operations/diap-CAUSES-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-DISRUPTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-STIMULATES-eico'
      - $ref: '#/components/x-bte-kgs-operations/orch-INHIBITS-lipd'
      - $ref: '#/components/x-bte-kgs-operations/bacs-STIMULATES-lipd'
      - $ref: '#/components/x-bte-kgs-operations/mobd-MANIFESTATION_OF-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-AUGMENTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PRODUCES-bacs'
      - $ref: '#/components/x-bte-kgs-operations/strd-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/inch-INHIBITS-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-comd'
      - $ref: '#/components/x-bte-kgs-operations/nsba-AUGMENTS-ortf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-phsf'
      - $ref: '#/components/x-bte-kgs-operations/carb-AFFECTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/patf-MANIFESTATION_OF-patf'
      - $ref: '#/components/x-bte-kgs-operations/patf-MANIFESTATION_OF-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-AUGMENTS-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/moft-AFFECTS-aapp'
      - $ref: '#/components/x-bte-kgs-operations/moft-AFFECTS-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/antb-AFFECTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/inpo-CAUSES-anab'
      - $ref: '#/components/x-bte-kgs-operations/nsba-PART_OF-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-STIMULATES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/ortf-CAUSES-orgf'
      - $ref: '#/components/x-bte-kgs-operations/ortf-CAUSES-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-carb'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INTERACTS_WITH-strd'
      - $ref: '#/components/x-bte-kgs-operations/imft-ASSOCIATED_WITH-patf'
      - $ref: '#/components/x-bte-kgs-operations/imft-ASSOCIATED_WITH-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-INHIBITS-orch-rev'
      - $ref: '#/components/x-bte-kgs-operations/anab-PART_OF-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/inch-AUGMENTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/nnon-DISRUPTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsf-AFFECTS-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PRODUCES-lipd'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-comd'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-inpo'
      - $ref: '#/components/x-bte-kgs-operations/horm-COEXISTS_WITH-horm'
      - $ref: '#/components/x-bte-kgs-operations/horm-COEXISTS_WITH-horm-rev'
      - $ref: '#/components/x-bte-kgs-operations/nsba-CAUSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/nsba-STIMULATES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/celf-AFFECTS-comd'
      - $ref: '#/components/x-bte-kgs-operations/acab-COEXISTS_WITH-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-sosy'
      - $ref: '#/components/x-bte-kgs-operations/aapp-AUGMENTS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/carb-INHIBITS-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/eico-PART_OF-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-acab'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-celc'
      - $ref: '#/components/x-bte-kgs-operations/gngm-DISRUPTS-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-COEXISTS_WITH-imft'
      - $ref: '#/components/x-bte-kgs-operations/bacs-COEXISTS_WITH-imft-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-LOCATION_OF-horm'
      - $ref: '#/components/x-bte-kgs-operations/carb-STIMULATES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-AFFECTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/strd-AUGMENTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/eico-INTERACTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-STIMULATES-horm'
      - $ref: '#/components/x-bte-kgs-operations/inch-DISRUPTS-orgf-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-PREDISPOSES-inpo'
      - $ref: '#/components/x-bte-kgs-operations/eico-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-imft'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-imft-rev'
      - $ref: '#/components/x-bte-kgs-operations/lipd-ASSOCIATED_WITH-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/antb-COEXISTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREVENTS-dsyn'
      - $ref: '#/components/x-bte-kgs-operations/cgab-LOCATION_OF-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-carb'
      - $ref: '#/components/x-bte-kgs-operations/phsf-PRODUCES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/eico-ASSOCIATED_WITH-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-TREATS-comd'
      - $ref: '#/components/x-bte-kgs-operations/hops-ASSOCIATED_WITH-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/cell-PRODUCES-horm'
      - $ref: '#/components/x-bte-kgs-operations/inch-AUGMENTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PREDISPOSES-mobd'
      - $ref: '#/components/x-bte-kgs-operations/lipd-INTERACTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/celc-AFFECTS-phsf'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-sosy'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AFFECTS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-AFFECTS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-STIMULATES-moft'
      - $ref: '#/components/x-bte-kgs-operations/gngm-STIMULATES-moft-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-PREDISPOSES-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/imft-COEXISTS_WITH-imft'
      - $ref: '#/components/x-bte-kgs-operations/imft-COEXISTS_WITH-imft-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PRODUCES-hops'
      - $ref: '#/components/x-bte-kgs-operations/orch-PREVENTS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-DISRUPTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/inch-COEXISTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-COEXISTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/bpoc-PRODUCES-orch'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-AFFECTS-comd'
      - $ref: '#/components/x-bte-kgs-operations/carb-AUGMENTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/hops-PREDISPOSES-neop-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-DISRUPTS-inpo'
      - $ref: '#/components/x-bte-kgs-operations/lipd-DISRUPTS-celf-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PRODUCES-gngm'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PRODUCES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/food-AFFECTS-ortf'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-sosy'
      - $ref: '#/components/x-bte-kgs-operations/orch-AUGMENTS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/comd-PRODUCES-bacs-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREDISPOSES-sosy'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREDISPOSES-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PRODUCES-imft'
      - $ref: '#/components/x-bte-kgs-operations/gngm-PRODUCES-imft-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-COEXISTS_WITH-hops'
      - $ref: '#/components/x-bte-kgs-operations/imft-INTERACTS_WITH-gngm'
      - $ref: '#/components/x-bte-kgs-operations/imft-INTERACTS_WITH-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/dsyn-COMPLICATES-neop'
      - $ref: '#/components/x-bte-kgs-operations/nsba-COEXISTS_WITH-aapp-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-DISRUPTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-cell'
      - $ref: '#/components/x-bte-kgs-operations/gngm-AUGMENTS-cell-rev'
      - $ref: '#/components/x-bte-kgs-operations/strd-INHIBITS-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/aapp-INHIBITS-antb'
      - $ref: '#/components/x-bte-kgs-operations/orch-CAUSES-cgab'
      - $ref: '#/components/x-bte-kgs-operations/cgab-COEXISTS_WITH-patf-rev'
      - $ref: '#/components/x-bte-kgs-operations/horm-AUGMENTS-ortf-rev'
      - $ref: '#/components/x-bte-kgs-operations/bacs-DISRUPTS-celc-rev'
      - $ref: '#/components/x-bte-kgs-operations/antb-TREATS-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/phsu-DISRUPTS-dsyn-rev'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREDISPOSES-sosy'
      - $ref: '#/components/x-bte-kgs-operations/topp-PREDISPOSES-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/inch-CAUSES-sosy-rev'
      - $ref: '#/components/x-bte-kgs-operations/orch-DISRUPTS-inpo'
      - $ref: '#/components/x-bte-kgs-operations/strd-STIMULATES-gngm-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-INTERACTS_WITH-antb'
      - $ref: '#/components/x-bte-kgs-operations/aapp-PREVENTS-acab'
      - $ref: '#/components/x-bte-kgs-operations/diap-DIAGNOSES-comd'
      - $ref: '#/components/x-bte-kgs-operations/inch-AFFECTS-bpoc-rev'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CONVERTS_TO-gngm'
      - $ref: '#/components/x-bte-kgs-operations/gngm-CONVERTS_TO-gngm-rev'
[...]
