openapi: '3.0.0'
info:
  version: '1.0'
  title: EBI OxO Service API
  description: >-
    OxO is a service for finding mappings (or cross-references) between terms from ontologies, vocabularies and coding standards. OxO imports mappings from a variety of sources including the Ontology Lookup Service and a subset of mappings provided by the UMLS.
  termsOfService: https://www.ebi.ac.uk/spot/oxo/docs/about
  contact:
    name: Simon Jupp
    x-role: responsible developer
    email: jupp@ebi.ac.uk
    x-id: 'https://github.com/simonjupp'
servers:
  - url: 'https://www.ebi.ac.uk/spot/oxo/api'
    description: 'Production server'
paths:
  /mappings:
    get:
      tags:
        - mapping
      summary: 'Get direct xrefs between ontology terms. Xrefs are extracted from ontologies in the EBI Ontology Lookup Service.'
      parameters:
        - name: fromId
          in: query
          description: >-
            'The input terms for mappings. The format of the id can be either the full IRI or compact URI (e.g. DOID:162) for the term.'
          required: true
          x-valueType:
            - 'http://biothings.io/concepts/ontology_term/curie'
          schema:
            type: string
      responses:
        '200':
          description: 'A query response object with "hits" property'
          x-responseValueType:
            - path: _embedded.mappings.toTerm.curie
              valueType: 'http://biothings.io/concepts/ontology_term/curie'
              description: 'The compact URI for the mapped term'
            - path: _embedded.mappings.sourcePrefix
              valueType: 'http://biothings.io/concepts/ontology_term/curie'
              description: 'The source that asserted the mapping'
  /search:
    post:
      summary: 'Search xrefs between terms extracted from ontologies in the EBI Ontology Lookup Service. The search endpoint provides support for filtering results and getting multi-hop mappings'
      tags:
        - search
      requestBody:
        content:
          'application/json':
            schema:
             properties:
                ids:
                  description: 'List of identifiers in compact URI format.'
                  type: array
                mappingTarget:
                  description: 'The target ontology or vocabulary e.g. MESH'
                  type: array
                distance:
                  description: 'The number of mappings to hop through to find a mapping'
                  type: integer
                  default: 1
             required:
               - ids
      responses:
        '200':
          description: 'A collection of ontology mappings search results with provenance'
          x-responseValueType:
            - path: _embedded.searchResults.mappingResponseList.curie
              valueType: 'http://biothings.io/concepts/ontology_term/curie'
              description: 'The compact URI for the mapped term'
