openapi: 3.0.0
info:
  contact:
    email: cjm@berkeleybop.org
    name: Chris Mungall
    x-id: https://github.com/cmungall
    x-role: responsible developer
  description: API integration layer for linked biological objects.
  termsOfService: https://github.com/monarch-initiative/biolink-api/
  title: BioLink API
  version: 1.1.14
  x-translator:
    infores: "infores:biolink-api"
    component: KP
    team:
    - "Service Provider"
    - "Standards Reference Implementation Team"  
    biolink-version: "2.2.13"
servers:
- description: Production server
  url: https://api.monarchinitiative.org/api
  x-maturity: production
tags:
- name: anatomy
- name: disease
- name: gene
- name: phenotype
- name: pathway
- name: variant
- name: annotation
- name: query
- name: translator
- name: biolink
paths:
## - note that this API has a LOT of endpoints. Currently we only include endpoints we are annotating as x-bte operations
##   browse here to find more endpoints: https://api.monarchinitiative.org/api/ 
## - not interested in any endpoints using cases, genotypes, models, publications
## - there are more parameters in the endpoints below. Only included parameters we're using
## - potentially interesting operation to annotate:
##   - disease -> treatment: doesn't have same output format as the other endpoints...
##   - function <-> gene: looks like MolecularActivity GO <-> Gene
##   - bioentity/gene/{id}/expression/anatomy: same as gene/anatomy endpoint (already annotated)?
##   - bioentity/gene/{id}/homologs: same as gene/anatomy endpoint (already annotated)
##   - /bioentity/gene/{id}/ortholog/diseases: for non-human genes to diseases?
##   - /bioentity/gene/{id}/ortholog/phenotypes: for non-human genes to phenotypes?
##   - gene <-> pathway 
##   - ontology/shared/{subject}/{object}:
##     the shared ancestry operation looks kinda interesting...but it's only for GO terms? 
## - removed / decided not to:
##   - pathway <-> phenotype: only seemed to include non-human REACT pathways (MMU, DRE) connected to MP / HP terms...
##   - phenotype -> anatomy: has a different output format (only has object...)
##   - /bioentity/substance/{id}/participant_in: gives association between chebi chem and...chebi roles/GO MF...
##   - /bioentity/substance/{id}/treats: looks like it's not working
  "/bioentity/anatomy/{id}/genes":
    get:
      parameters:
      - name: id
        description: "CURIE identifier of anatomical entity, e.g. GO:0005634 (nucleus), UBERON:0002037 (cerebellum), CL:0000540 (neuron). Equivalent IDs can be used with same results"
        in: path
        required: true
        example: "UBERON:0001817"  ## same as for anatomy-gene operation
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns genes associated with a given anatomy
      tags:
      - anatomy
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/anatomy-gene"
  "/bioentity/disease/{id}/genes":
    get:
      parameters:
      - name: id
        description: "CURIE identifier of disease, e.g. OMIM:605543, DOID:678. Equivalent IDs can be used with same results"
        in: path
        required: true
        example: "MONDO:0011562"  ## same as for disease-gene-1 operation
        schema:
          type: string
      - name: association_type
        description: "Additional filters: causal, non_causal, both"
        in: query
        required: false
        example: "causal"
        schema:
          type: string
          enum:
            - causal
            - non_causal
            - both
          default: "both"
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns genes associated with a disease
      tags:
      - disease
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/disease-gene-1"
      - "$ref": "#/components/x-bte-kgs-operations/disease-gene-2"
  "/bioentity/disease/{id}/pathways":
    get:
      parameters:
      - name: id
        description: "CURIE identifier of disease, e.g. DOID:4450. Equivalent IDs can be used with same results"
        in: path
        required: true
        example: "MONDO:0010524"  ## same as for disease-pathway operation
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns pathways associated with a disease
      tags:
      - disease
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/disease-pathway"
  "/bioentity/disease/{id}/phenotypes":
    get:
      parameters:
      - name: id
        description: "CURIE identifier of disease, e.g. OMIM:605543, Orphanet:1934, DOID:678. Equivalent IDs can be used with same results"
        in: path
        required: true
        example: "MONDO:0008974"  ## same as for disease-phenotypes operation
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns phenotypes associated with a disease
      tags:
      - disease
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/disease-phenotype"
  "/bioentity/disease/{id}/variants":
    get:
      parameters:
      - name: id
        description: "CURIE identifier of disease, e.g. OMIM:605543, DOID:678. Equivalent IDs can be used with same results"
        in: path
        required: true
        example: "MONDO:0004747"  ## same as for disease-variant operation
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns variants associated with a disease
      tags:
      - disease
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/disease-variant"
  "/bioentity/gene/{id}/anatomy":
    get:
      parameters:
      - name: id
        description: "CURIE identifier of gene, e.g. NCBIGene:13434"
        in: path
        required: true
        example: "HGNC:8548"  ## same as for gene-anatomy operation
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns anatomies associated with a gene
      tags:
      - gene
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/gene-anatomy"
  "/bioentity/gene/{id}/diseases":
    get:
      parameters:
      - name: id
        description: "CURIE identifier of gene, e.g. NCBIGene:4750. Equivalent IDs can be used with same results"
        in: path
        required: true
        example: "HGNC:11138"  ## same as for gene-disease-1 operation
        schema:
          type: string
      - name: association_type
        description: "Additional filters: causal, non_causal, both"
        in: query
        required: false
        example: "causal"
        schema:
          type: string
          enum:
            - causal
            - non_causal
            - both
          default: "both"
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns diseases associated with a gene
      tags:
      - gene
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/gene-disease-1"
      - "$ref": "#/components/x-bte-kgs-operations/gene-disease-2"
  "/bioentity/gene/{id}/interactions":
    get:
      parameters:
      - name: id
        description: "id, e.g. NCBIGene:3630. Equivalent IDs can be used with same results"
        in: path
        required: true
        example: "HGNC:2950"  ## same as for gene-disease-1 operation
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns gene interaction
      tags:
      - gene
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/gene-interaction"
  "/bioentity/gene/{id}/phenotypes":
    get:
      parameters:
      - name: id
        description: "CURIE identifier of gene, e.g. NCBIGene:4750. Equivalent IDs can be used with same results"
        in: path
        required: true
        example: "HGNC:2950"  ## same as for gene-phenotype operation
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns phenotypes associated with a gene
      tags:
      - gene
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/gene-phenotype"
  "/bioentity/gene/{id}/variants":
    get:
      parameters:
      - name: id
        description: "CURIE identifier of gene, e.g. HGNC:10896"
        in: path
        required: true
        example: "HGNC:2950"  ## same as for gene-variant operation
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns variants associated with a gene
      tags:
      - gene
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/gene-variant"
  "/bioentity/pathway/{id}/diseases":
    get:
      parameters:
      - name: id
        description: "CURIE any pathway element. E.g. REACT:R-HSA-5387390"
        in: path
        required: true
        example: "REACT:R-HSA-2644606"   ## same as for pathway-disease operation
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns diseases associated with a pathway
      tags:
      - pathway
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/pathway-disease"
  "/bioentity/phenotype/{id}/diseases":
    get:
      parameters:
      - name: id
        description: "CURIE identifier of phenotype, e.g. HP:0007359. Equivalent IDs can be used with same results"
        in: path
        required: true
        example: "HP:0000272"   ## same as for phenotype-disease operation
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns diseases associated with a phenotype
      tags:
      - phenotype
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/phenotype-disease"
  "/bioentity/phenotype/{id}/genes":
    get:
      parameters:
      - name: id
        description: "Pheno class CURIE identifier, e.g  WBPhenotype:0000180 (axon morphology variant), MP:0001569 (abnormal circulating bilirubin level)" 
        in: path
        required: true
        example: "HP:0000183"   ## same as for phenotype-gene operation
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns genes associated with a phenotype
      tags:
      - phenotype
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/phenotype-gene"
  "/bioentity/phenotype/{id}/variants":
    get:
      parameters:
      - name: id
        description: "Pheno class CURIE identifier, e.g  WBPhenotype:0000180 (axon morphology variant), MP:0001569 (abnormal circulating bilirubin level)"
        in: path
        required: true
        example: "HP:0002944"   ## same as for phenotype-variant operation
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns variants associated with a phenotype
      tags:
      - phenotype
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/phenotype-variant"
  "/bioentity/variant/{id}/diseases":
    get:
      parameters:
      - name: id
        description: "CURIE identifier of variant, e.g. ClinVarVariant:14925"
        in: path
        required: true
        example: "dbSNP:rs227731"   ## same as for variant-disease operation; but they use these as prefix
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns diseases associated with a variant
      tags:
      - variant
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/variant-disease"
  "/bioentity/variant/{id}/genes":
    get:
      parameters:
      - name: id
        description: "CURIE identifier of variant, e.g. ZFIN:ZDB-ALT-010427-8, ClinVarVariant:39783"
        in: path
        required: true
        example: "dbSNP:rs11879191"   ## same as for variant-gene operation; but they use these as prefix
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns genes associated with a variant
      tags:
      - variant
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/variant-gene"
  "/bioentity/variant/{id}/phenotypes":
    get:
      parameters:
      - name: id
        description: "CURIE identifier of variant, e.g. ZFIN:ZDB-ALT-010427-8, ClinVarVariant:39783"
        in: path
        required: true
        example: "dbSNP:rs115165302"   ## same as for variant-phenotype operation; but they use these as prefix
        schema:
          type: string
      - "$ref": "#/components/parameters/rows"
      - "$ref": "#/components/parameters/start"
      - "$ref": "#/components/parameters/facet"
      - "$ref": "#/components/parameters/facet_fields"
      - "$ref": "#/components/parameters/unselect_evidence"
      - "$ref": "#/components/parameters/exclude_automatic_assertions"
      - "$ref": "#/components/parameters/fetch_objects"
      - "$ref": "#/components/parameters/use_compact_associations"
      - "$ref": "#/components/parameters/slim"
      - "$ref": "#/components/parameters/evidence"
      - "$ref": "#/components/parameters/direct"
      - "$ref": "#/components/parameters/taxon"
      - "$ref": "#/components/parameters/direct_taxon"
      - "$ref": "#/components/parameters/relation"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/q"
      responses:
        '200':
          description: Success
      summary: Returns phenotypes associated with a variant
      tags:
      - variant
      x-bte-kgs-operations:
      - "$ref": "#/components/x-bte-kgs-operations/variant-phenotype"
components:
  parameters:
    rows:
      name: rows
      description: number of rows
      in: query
      required: false
      schema:
      ## default is 100; -1 should get everything back (not sure though)
        type: integer
        default: 100
    start:
      name: start
      description: beginning row
      in: query
      required: false
      schema:
        type: integer
    facet:
      name: facet
      description: Enable faceting
      in: query
      required: false
      schema:
        type: boolean
    facet_fields:
      name: facet_fields
      description: Fields to facet on
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
    unselect_evidence:
      name: unselect_evidence
      description: If true, excludes evidence objects in response
      in: query
      required: false
      schema:
        type: boolean
        default: false
    exclude_automatic_assertions:
      name: exclude_automatic_assertions
      description: If true, excludes associations that involve IEAs (ECO:0000501)
      in: query
      required: false
      schema:
        type: boolean
        default: false
    fetch_objects:
      name: fetch_objects
      description: "If true, returns a distinct set of association.objects (typically ontology terms). This appears at the top level of the results payload"
      in: query
      required: false
      schema:
        type: boolean
        default: false
    use_compact_associations:
      name: use_compact_associations
      description: If true, returns results in compact associations format
      in: query
      required: false
      schema:
        type: boolean
        default: false
    slim:
      name: slim
      description: "Map objects up (slim) to a higher level category. Value can be ontology class ID or subset ID"
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
    evidence:
      name: evidence
      description: "Object id, e.g. ECO:0000501 (for IEA; Includes inferred by default) or a specific publication or other supporting object, e.g. ZFIN:ZDB-PUB-060503-2"
      in: query
      required: false
      schema:
        type: string
    direct:
      name: direct
      description: "Set true to only include direct associations, and false to include inferred (via subclass or subclass|part of), default=False"
      in: query
      required: false
      schema:
        type: boolean
        default: false
    taxon:
      name: taxon
      description: "One or more taxon CURIE to filter associations by subject taxon; includes inferred associations by default"
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
    direct_taxon:
      name: direct_taxon
      description: Set true to exclude inferred taxa
      in: query
      required: false
      schema:
        type: boolean
        default: false
    relation:
      name: relation
      description: A relation CURIE to filter associations
      in: query
      required: false
      schema:
        type: string
    sort:
      name: sort
      description: "Sorting responses <field> <desc,asc>"
      in: query
      required: false
      schema:
        type: string
    q:
      name: q
      description: Query string to filter documents
      in: query
      required: false
      schema:
        type: string
  ## there's a special api-response-transform. So object ID can be specified this way...
  x-bte-response-mapping:
    gene-hgnc:
      HGNC: associations.object.HGNC
      source: associations.provided_by
      ## there's also a relation.id and relation.inverse.
      ## this often has "expressed in" with inverse: true. Meaning the actual relation should be "expresses"
      relation: associations.relation.label
      pubmed: associations.publications.id
    pathway-react:
      REACT: associations.object.REACT
      source: associations.provided_by
      relation: associations.relation.label
      pubmed: associations.publications.id
    phenotype-hp:
      HP: associations.object.HP
      source: associations.provided_by
      pubmed: associations.publications.id
      relation: associations.relation.label
    variant-dbsnp:
      DBSNP: associations.object.dbSNP
      source: associations.provided_by
      pubmed: associations.publications.id
      relation: associations.relation.label
    anatomy-uberon:
      UBERON: associations.object.UBERON
      source: associations.provided_by
      pubmed: associations.publications.id
      relation: associations.relation.label
    disease-mondo:
      MONDO: associations.object.MONDO
      source: associations.provided_by
      relation: associations.relation.label
      pubmed: associations.publications.id
  x-bte-kgs-operations:
  ## other useful endpoints for x-bte annotation are...
  ## /relation/usage/between/{subject_category}/{object_category}
  ## /association/find/{subject_category}/{object_category}
  ## note that anatomy is "anatomical entity" for this lookup
    anatomy-gene:
    ## supposedly I could use this endpoint with CellularComponent (GO) and Cell (CL) terms
    ##   but I haven't been successful in getting results when trying this out
    - parameters:
        id: "{inputs[0]}"          ## current BTE automatically adds UBERON prefix to IDs
        rows: -1                   ## should allow all results to be returned (above default max of 200)
        direct: true               ## don't traverse ontology for anatomy ID to find connection to its subclass terms
        unselect_evidence: true    ## don't include nested / verbose evidence info
        taxon: "NCBITaxon:9606"    ## currently setting it to human-only
      inputs:
      - id: UBERON
        semantic: GrossAnatomicalStructure
      outputs:
      - id: HGNC  ## Monarch seems to prefer HGNC IDs for human genes
        semantic: Gene
      predicate: expresses
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/gene-hgnc"
      # testExamples:
      #   - qInput: "UBERON:0001817"  ## lacrimal gland
      #     oneOutput: "HGNC:8548"  ## P4HB
    disease-gene-1:
    ## put multiple causal relations here by using association_type parameter
    - parameters:
        id: "{inputs[0]}"         ## current BTE automatically adds MONDO prefix to IDs
        rows: -1
        direct: true
        unselect_evidence: true
        taxon: "NCBITaxon:9606"    ## currently setting it to human-only
        association_type: "causal"
        ## includes:
        ## - causes condition (example below)
        ## - is causal germline mutation in 
        ##   (MONDO:0019600, Xeroderma pigmentosum -> HGNC:3434, ERCC2)
        ## - is causal loss of function germline mutation of in 
        ##   (MONDO:0009889, autosomal recessive polycystic kidney disease -> HGNC:9016, PKHD1)
        ## - is marker for (MONDO:0009861, phenylketonuria -> HGNC:8582, PAH)
        ## - is causal somatic mutation in
        ##   (MONDO:0004948, B-cell chronic lymphocytic leukemia -> HGNC:17284, POT1)
        ## - is causal gain of function germline mutation of in
        ##   (MONDO:0013648, familial progressive hyperpigmentation -> HGNC:6343, KITLG)
      inputs:
      - id: MONDO
        semantic: Disease
      outputs:
      - id: HGNC
        semantic: Gene
      predicate: caused_by
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/gene-hgnc"
      # testExamples:
      #   - qInput: "MONDO:0011562"  ## autosomal dominant Parkinson disease 4
      #     oneOutput: "HGNC:11138"  ## SNCA
    disease-gene-2:
    ## put non-causal relations together here
    - parameters:
        id: "{inputs[0]}"         ## current BTE automatically adds MONDO prefix to IDs
        rows: -1
        direct: true
        unselect_evidence: true
        taxon: "NCBITaxon:9606"    ## currently setting it to human-only
        association_type: "non_causal"
        ## includes:
        ## - contributes to condition (example below)
        ## - contributes to (MONDO:0007915, systemic lupus erythematosus (disease) -> HGNC:9652, PTPN22)
        ## - has phenotype (MONDO:0009131, Riley-Day syndrome -> HGNC:4878, HEXA)
        ## - is causal susceptibility factor for (MONDO:0018961, familial melanoma -> HGNC:1787, CDKN2A)
        ## - pathogenic_for_condition (MONDO:0008647, hypertrophic cardiomyopathy 1 -> HGNC:7551, MYBPC3)
        ## - is causal germline mutation partially giving rise to 
        ##   (MONDO:0018875, Li-Fraumeni syndrome -> HGNC:6973, MDM2)
        ## - likely_pathogenic_for_condition 
        ##   (MONDO:0019497, nonsyndromic genetic deafness -> HGNC:7605, MYO6)
      inputs:
      - id: MONDO
        semantic: Disease
      outputs:
      - id: HGNC
        semantic: Gene
      ## more specific than contribution_from
      predicate: condition_associated_with_gene
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/gene-hgnc"
      # testExamples:
      #   - qInput: "MONDO:0016575"  ## primary ciliary dyskinesia
      #     oneOutput: "HGNC:2950"  ## DNAH5
    disease-pathway:
    ## will include non-human pathways because Monarch doesn't include the taxon for pathways
    ##   but REACT prefixes show the species (MMU = mouse)
    ## data has weird relation direction. says disease involved_in pathway...
    ##   I'm flipping it so disease involves pathway...
    - parameters:
        id: "{inputs[0]}"         ## current BTE automatically adds MONDO prefix to IDs
        rows: -1
        direct: true
        unselect_evidence: true
      inputs:
      - id: MONDO
        semantic: Disease
      outputs:
      - id: REACT
        semantic: Pathway
      ## biolink 2.2.13 maps to RO:0002331 involved_in
      predicate: actively_involves
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/pathway-react"
      # testExamples:
      #   - qInput: "MONDO:0010524"  ## X-linked sideroblastic anemia with ataxia
      #     oneOutput: "REACT:R-HSA-1369007"  ## Mitochondrial ABC transporters
    disease-phenotype:
    ## will include non-human phenotypes because Monarch doesn't include the taxon for phenotypes
    ##   but prefixes show the species (MP = mouse)
    - parameters:
        id: "{inputs[0]}"         ## current BTE automatically adds MONDO prefix to IDs
        rows: -1
        direct: true
        unselect_evidence: true
      inputs:
      - id: MONDO
        semantic: Disease
      outputs:
      - id: HP
        semantic: PhenotypicFeature
      predicate: has_phenotype
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/phenotype-hp"
      # testExamples:
      #   - qInput: "MONDO:0008974"  ## Greenberg dysplasia
      #     oneOutput: "HP:0000272"  ## Malar flattening
    disease-variant:
    ## not using: 
    ## - GENO:0000840 (pathogenic_for_condition). seems to use ClinVarVariant (ClinVarVariant:13417)
    ## - GENO:0000841 (likely_pathogenic_for_condition). seems to use ClinVarVariant (ClinVarVariant:370820)
    - parameters:
        id: "{inputs[0]}"         ## current BTE automatically adds MONDO prefix to IDs
        rows: -1
        direct: true
        unselect_evidence: true
        taxon: "NCBITaxon:9606"    ## currently setting it to human-only
        relation: "RO:0003304"    ## contributes to condition
      inputs:
      - id: MONDO
        semantic: Disease
      outputs:
      - id: DBSNP
        semantic: SequenceVariant
      predicate: contribution_from
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/variant-dbsnp"
      # testExamples:
      #   - qInput: "MONDO:0004747"  ## cleft lip (disease)
      #     oneOutput: "DBSNP:rs227731"
    gene-anatomy:
    ## supposedly I could use this endpoint with CellularComponent (GO) and Cell (CL) terms
    ##   but I haven't been successful in getting results when trying this out
    - parameters:
        id: "HGNC:{inputs[0]}"    ## add prefix since Monarch expects this, while BTE automatically removes
        rows: -1
        direct: true
        unselect_evidence: true
        ## don't need to set anatomy to human-only...
      inputs:
      - id: HGNC   ## Monarch seems to prefer HGNC IDs for human genes
        semantic: Gene
      outputs:
      - id: UBERON
        semantic: GrossAnatomicalStructure
      predicate: expressed_in
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/anatomy-uberon"
      # testExamples:
      #   - qInput: "HGNC:8548"  ## P4HB 
      #     oneOutput: "UBERON:0000970"  ## eye
    gene-disease-1:
    ## put multiple causal relations here by using association_type parameter
    - parameters:
        id: "HGNC:{inputs[0]}"    ## add prefix since Monarch expects this, while BTE automatically removes
        rows: -1
        direct: true
        unselect_evidence: true
        association_type: "causal"
        ## don't need to set disease to human-only...
        ## includes:
        ## - causes condition (example below)
        ## - is causal germline mutation in 
        ##   (MONDO:0019600, Xeroderma pigmentosum <- HGNC:3434, ERCC2)
        ## - is causal loss of function germline mutation of in 
        ##   (MONDO:0009889, autosomal recessive polycystic kidney disease <- HGNC:9016, PKHD1)
        ## - is marker for (MONDO:0009861, phenylketonuria <- HGNC:8582, PAH)
        ## - is causal somatic mutation in
        ##   (MONDO:0004948, B-cell chronic lymphocytic leukemia <- HGNC:17284, POT1)
        ## - is causal gain of function germline mutation of in
        ##   (MONDO:0013648, familial progressive hyperpigmentation <- HGNC:6343, KITLG)
      inputs:
      - id: HGNC
        semantic: Gene
      outputs:
      - id: MONDO
        semantic: Disease
      predicate: causes
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/disease-mondo"
      # testExamples:
      #   - qInput: "HGNC:11138"  ## SNCA 
      #     oneOutput: "MONDO:0011562"  ## autosomal dominant Parkinson disease 4
    gene-disease-2:
    ## put non-causal relations together here
    - parameters:
        id: "HGNC:{inputs[0]}"    ## add prefix since Monarch expects this, while BTE automatically removes
        rows: -1
        direct: true
        unselect_evidence: true
        association_type: "non_causal"
        ## don't need to set disease to human-only...
        ## includes:
        ## - contributes to condition (example below)
        ## - contributes to (MONDO:0007915, systemic lupus erythematosus (disease) <- HGNC:9652, PTPN22)
        ## - has phenotype (MONDO:0009131, Riley-Day syndrome <- HGNC:4878, HEXA)
        ## - is causal susceptibility factor for (MONDO:0018961, familial melanoma <- HGNC:1787, CDKN2A)
        ## - pathogenic_for_condition (MONDO:0008647, hypertrophic cardiomyopathy 1 <- HGNC:7551, MYBPC3)
        ## - is causal germline mutation partially giving rise to 
        ##   (MONDO:0018875, Li-Fraumeni syndrome <- HGNC:6973, MDM2)
        ## - likely_pathogenic_for_condition 
        ##   (MONDO:0019497, nonsyndromic genetic deafness <- HGNC:7605, MYO6)
      inputs:
      - id: HGNC
        semantic: Gene
      outputs:
      - id: MONDO
        semantic: Disease
      predicate: gene_associated_with_condition
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/disease-mondo"
      # testExamples:
      #   - qInput: "HGNC:2950"  ## DNAH5 
      #     oneOutput: "MONDO:0016575"  ## primary ciliary dyskinesia
    gene-interaction:
    - parameters:
        id: "HGNC:{inputs[0]}"    ## add prefix since Monarch expects this, while BTE automatically removes
        rows: -1
        direct: true
        unselect_evidence: true
        taxon: "NCBITaxon:9606"    ## currently setting it to human-only
      inputs:
      - id: HGNC
        semantic: Gene
      outputs:
      - id: HGNC
        semantic: Gene
      predicate: interacts_with
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/gene-hgnc"
      # testExamples:
      #   - qInput: "HGNC:2950"  ## DNAH5 
      #     oneOutput: "HGNC:9069"  ## PLEC
    gene-phenotype:
    ## will include non-human phenotypes because Monarch doesn't include the taxon for phenotypes
    ##   but prefixes show the species (MP = mouse)
    - parameters:
        id: "HGNC:{inputs[0]}"    ## add prefix since Monarch expects this, while BTE automatically removes
        rows: -1
        direct: true
        unselect_evidence: true
      inputs:
      - id: HGNC
        semantic: Gene
      outputs:
      - id: HP
        semantic: PhenotypicFeature
      predicate: gene_associated_with_condition
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/phenotype-hp"
      # testExamples:
      #   - qInput: "HGNC:2950"  ## DNAH5 
      #     oneOutput: "HP:0002643"  ## Neonatal respiratory distress
    gene-variant:
    ## can take human or non-human genes as input...
    - parameters:
        id: "HGNC:{inputs[0]}"    ## add prefix since Monarch expects this, while BTE automatically removes
        rows: -1
        direct: true
        unselect_evidence: true
      inputs:
      - id: HGNC
        semantic: Gene
      outputs:
      - id: DBSNP
        semantic: SequenceVariant
      predicate: has_sequence_variant
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/variant-dbsnp"
      # testExamples:
      #   - qInput: "HGNC:2950"  ## DNAH5 
      #     oneOutput: "dbSNP:rs795544"  
    pathway-disease:
    ## can include non-human pathways because Monarch doesn't include the taxon for pathways
    ##   but REACT prefixes show the species (MMU = mouse)
    ## data has weird relation direction. says disease involved_in pathway...
    ##   I'm flipping it so disease involves pathway...
    - parameters:
        id: "REACT:{inputs[0]}"    ## add prefix since Monarch expects this, while BTE automatically removes
        rows: -1
        direct: true
        unselect_evidence: true
        ## don't need to set disease to human-only...
      inputs:
      - id: REACT
        semantic: Pathway
      outputs:
      - id: MONDO
        semantic: Disease
      predicate: actively_involved_in
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/disease-mondo"
      # testExamples:
      #   - qInput: "REACT:R-HSA-2644606"  ## Constitutive Signaling by NOTCH1 PEST Domain Mutants
      #     oneOutput: "MONDO:0010665"  ## Wilson-Turner syndrome
    phenotype-disease:
    ## could include non-human phenotypes because Monarch doesn't include the taxon for phenotypes
    ##   but prefixes show the species (MP = mouse)
    - parameters:
        id: "{inputs[0]}"   ## current BTE automatically adds prefix for HP terms
        rows: -1
        direct: true
        unselect_evidence: true
      inputs:
      - id: HP
        semantic: PhenotypicFeature
      outputs:
      - id: MONDO
        semantic: Disease
      predicate: phenotype_of
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/disease-mondo"
      # testExamples:
      #   - qInput: "HP:0000272"  ## Malar flattening
      #     oneOutput: "MONDO:0008974"  ## Greenberg dysplasia
    phenotype-gene:
    - parameters:
        id: "{inputs[0]}"   ## current BTE automatically adds prefix for HP terms
        rows: -1
        direct: true
        unselect_evidence: true
        taxon: "NCBITaxon:9606"    ## currently setting it to human-only
      inputs:
      - id: HP
        semantic: PhenotypicFeature
      outputs:
      - id: HGNC
        semantic: Gene
      predicate: condition_associated_with_gene
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/gene-hgnc"
      # testExamples:
      #   - qInput: "HP:0000183"  ## Difficulty in tongue movements
      #     oneOutput: "HGNC:4065"  ## GAA
    phenotype-variant:
    ## could also use OMIM IDs...
    ## note: relation RO:0003304 (contributes to condition) seems to use EFO terms, rather than HP...
    - parameters:
        id: "{inputs[0]}"   ## current BTE automatically adds prefix for HP terms
        rows: -1
        direct: true
        unselect_evidence: true
        taxon: "NCBITaxon:9606"    ## currently setting it to human-only
      inputs:
      - id: HP
        semantic: PhenotypicFeature
      outputs:
      - id: DBSNP
        semantic: SequenceVariant
      ## main relations: has phenotype, is marker for, contributes to condition...
      predicate: related_to
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/variant-dbsnp"
      # testExamples:
      #   - qInput: "HP:0002944"  ## Thoracolumbar scoliosis
      #     oneOutput: "DBSNP:rs115165302" 
    variant-disease:
    ## not using: 
    ## - GENO:0000840 (pathogenic_for_condition). seems to use ClinVarVariant (ClinVarVariant:13417)
    ## - GENO:0000841 (likely_pathogenic_for_condition). seems to use ClinVarVariant (ClinVarVariant:370820)
    - parameters:
        id: "dbSNP:{inputs[0]}"
        ## add prefix since Monarch expects this in this form, while BTE automatically removes
        rows: -1
        direct: true
        unselect_evidence: true
        taxon: "NCBITaxon:9606"    ## currently setting it to human-only
        relation: "RO:0003304"    ## contributes to condition
      inputs:
      - id: DBSNP
        semantic: SequenceVariant
      outputs:
      - id: MONDO
        semantic: Disease
      predicate: contributes_to
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/disease-mondo"
      # testExamples:
      #   - qInput: "DBSNP:rs227731" 
      #     oneOutput: "MONDO:0004747"  ## cleft lip (disease)
    variant-gene:
    ## can take human or non-human genes as input...
    - parameters:
        id: "dbSNP:{inputs[0]}"
        ## add prefix since Monarch expects this in this form, while BTE automatically removes
        rows: -1
        direct: true
        unselect_evidence: true
      inputs:
      - id: DBSNP
        semantic: SequenceVariant
      outputs:
      - id: HGNC
        semantic: Gene
      predicate: is_sequence_variant_of
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/gene-hgnc"
      # testExamples:
      #   - qInput: "DBSNP:rs11879191" 
      #     oneOutput: "HGNC:1735"  ## CDC37
    variant-phenotype:
    ## could also use OMIM IDs...
    ## note: relation RO:0003304 (contributes to condition) seems to use EFO terms, rather than HP...
    - parameters:
        id: "dbSNP:{inputs[0]}"
        ## add prefix since Monarch expects this in this form, while BTE automatically removes
        rows: -1
        direct: true
        unselect_evidence: true
        taxon: "NCBITaxon:9606"    ## currently setting it to human-only
      inputs:
      - id: DBSNP
        semantic: SequenceVariant
      outputs:
      - id: HP
        semantic: PhenotypicFeature
      ## main relations: has phenotype, is marker for, contributes to condition...
      predicate: related_to
      source: "infores:monarchinitiative"
      supportBatch: false
      response_mapping:
        "$ref": "#/components/x-bte-response-mapping/phenotype-hp"
      # testExamples:
      #   - qInput: "DBSNP:rs115165302" 
      #     oneOutput: "HP:0002944"  ## Thoracolumbar scoliosis
      