openapi: 3.0.0
info:
  version: '1.0'
  title: LINCS Data Portal API
  description: >-
    Documentation of the LINCS Data Portal web services. Learn more about [LINCS
    Data Portal](http://lincsportal.ccs.miami.edu/dcic-portal/)
  termsOfService: 'http://lincsportal.ccs.miami.edu/dcic-portal/#/terms'
  contact:
    name: UM BD2K-LINCS DCIC
    x-role: responsible organization
    email: akoleti@med.miami.edu
    x-id: 'http://lincsportal.ccs.miami.edu/'
  x-translator:
    infores-curie: "infores:lincs"
    component: KP
    team:
    - Service Provider
    biolink-version: "2.2.3"
servers:
  - url: 'http://lincsportal.ccs.miami.edu/dcic/api/'
    description: Production server
tags:
  - name: small molecule
  - name: query
  - name: cells
  - name: gene
  - name: diseases
  - name: LINCS
  - name: SchuererLab
  - name: signature
  - name: translator
paths:
  ## BIG NOTE: this API only works if one goes thru an http connection (not https)
  /fetchmolecules:
    get:
      tags:
        - small molecule
        - query
        - LINCS
        - SchuererLab
      summary: >-
        Get LINCS small molecule records, which contain both LINCS-based and
        general metadata about the small molecules tested in the NIH LINCS
        program. Parameter 'searchTerm' allows querying by specific metadata
        fields within small molecule records.
      parameters:
        - name: searchTerm
          in: query
          description: >-
            Parameter used for searching small molecule metadata fields. Syntax
            is "field name:"value"" Do Not include outer quotes. Example;
            Name:"Imatinib", lincsidentifier:"LSM-1028", etc. Setting search
            term equal to the wildcard charachter, "*", will query for all
            fields of all records up to the specified limit.
          required: true
          x-valueType:
            - 'http://identifiers.org/lincs.smallmolecule'
          schema:
            type: string
        - name: limit
          in: query
          description: 'limit the number of records returned, default is 10'
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: >-
            A query response object with 'documents' property, each document
            corresponds to a small molecule that matched the query criteria.
          x-responseValueType:
            - path: lincs.smallmolecule
              valueType: ' http://identifiers.org/'
      ## To query: use the searchTerm parameter, just put in the keywords/ids without any "" or prefixes
      ## I have successfully queried using Imatinib, LSM-1023
      ## What is returned is like a Translator "node" with "node attributes"
      ## Cool: Predicted Physicochemical Properties that are related to drug suitability
      ## see Physicochemical Properties section of http://lincsportal.ccs.miami.edu/signatures/perturbations/16646 with its explanations of the terms (cross-ref with the API response's keys)
  /fetchcells:
    get:
      tags:
        - diseases
        - cells
        - query
        - LINCS
        - SchuererLab
      summary: >-
        Get LINCS cell lines records, which contain both LINCS-based and general
        metadata about the cell lines tested in the NIH LINCS program. Parameter
        'searchTerm' allows querying by specific metadata fields within the cell
        line records.
      parameters:
        - name: searchTerm
          in: query
          description: >-
            Parameter used for searching cell line metadata fields. Syntax is
            "field name:"value"" Do Not include outer quotes. Example;
            Name:"MCF7", lincsidentifier:"LSM-1028", etc. Setting search term
            equal to the wildcard charachter, "*", will query for all fields of
            all records up to the specified limit.
          required: true
          x-valueType:
            - ' http://identifiers.org/lincs.cell'
          schema:
            type: string
        - name: limit
          in: query
          description: 'limit the number of records returned, default is 10'
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: >-
            A query response object with 'documents' property, each document
            corresponds to a cell line that matched the query criteria.
          x-responseValueType:
            - path: lincs.cell
              valueType: 'http://identifiers.org/'
      ## To query: use the searchTerm parameter, put as specified above.
      ## I have successfully queried using info for the cell line - LINCS_ID:"LCL-1150", Name:"HuTu 80";
      ##   info for the tissue origin - organ:"intestine" (multiple results);
      ##   the disease the tissue was from - disease_detail:"DOID:10816"
      ## What is returned is like a cell line "node" with properties about the cell line.
      ## so that may be useful if we ever have to connect cell line info to tissue/disease
  /fetchdata:
    get:
      tags:
        - signature
        - query
        - LINCS
        - SchuererLab
      summary: >-
        Get metadata for LINCS assay data sets (DOES NOT RETURN ASSAY ENDPOINT
        DATA). Parameter 'searchTerm' allows querying by specific metadata
        fields within the assay metadata records.
      parameters:
        - name: searchTerm
          in: query
          description: >-
            Parameter used for searching data set metadata fields. Syntax is
            "field name:"value"" Do Not include outer quotes. Example;
            centerfullname:"HMS LINCS (Harvard Medical School)",
            technologies:"Fluorescence imaging", etc. Setting search term equal
            to the wildcard charachter, "*", will query for all fields of all
            records up to the specified limit.
          required: true
          x-valueType:
            - 'http://identifiers.org/lincs.data'
          schema:
            type: string
        - name: limit
          in: query
          description: 'limit the number of records returned, default is 10'
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: >-
            A query response object with 'documents' property, each document
            corresponds to a dataset that matched the query criteria.
          x-responseValueType:
            - path: lincs.data
              valueType: 'http://identifiers.org/'
      ## To query: use the searchTerm parameter, just put in the keywords/ids without any "" or prefixes
      ## I have successfully queried using Transcriptomics, LINCS
      ## Doesn't look useful to Translator. It's about individual projects that created data used in LINCS, like funding/PI/center/dataset/type-of-assay
  /mechanismOfAction:
    get:
      tags:
        - query
        - LINCS
        - SchuererLab
        - small molecule
      summary: Get known mechanisms of action for LINCS small molecules.
      parameters:
        - name: id
          in: query
          description: >-
            Parameter used to search by LINCS small molecule identifier. Syntax
            is "id=LSM-#" Do Not use quotes. Example; id=LSM-1008.
          required: false
          x-valueType:
            - 'http://identifiers.org/lincs.smallmolecule'
          schema:
            type: string
        - name: moa
          in: query
          description: >-
            Parameter used to search by the full name of the mechanism of
            action. Syntax is "moa=Mechanism name" Do Not use quotes. Example;
            moa=Stem cell growth factor receptor inhibitor.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: 'limit the number of records returned, default is 10'
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: >-
            A query response object with 'documents' property, each document
            corresponds to a mechanism of action that matched the query
            criteria.
          x-responseValueType:
            - path: lincs.smallmolecule
              valueType: 'http://identifiers.org/'
      ## To query: use the id parameter, looks like it only accepts the LINCS small molecule IDs.
      ## I have successfully queried using LSM-1008, LSM-1023
      ## This is like a simple ChemicalSubstance -(has target)-> Gene/Protein one-hop, with added mechanism of action info
      ## What is returned is basically a list of dicts. Each dict has the "mechanism_of_action" of the small molecule on the target gene/protein, the target gene/protein symbol/name (mechanism_target). 
      ##   This info is likely from CHEMBL. See curated data tab, * note in http://lincsportal.ccs.miami.edu/SmallMolecules/view/LSM-1023
  /bioactivity:
    get:
      tags:
        - signature
        - query
        - LINCS
        - SchuererLab
        - small molecule
      summary: >-
        Get known bioactivities for LINCS small molecules, these data are
        aggregated values resourced from the ChEMBL ver 23 database
        <https://www.ebi.ac.uk/chembl/>. The ChEMBL values were mined from
        numerous sources.
      parameters:
        - name: id
          in: query
          description: >-
            Parameter used to search by LINCS small molecule identifier. Syntax
            is "id=LSM-#" Do Not use quotes. Example; id=LSM-1008.
          required: false
          x-valueType:
            - 'http://identifiers.org/lincs.smallmolecule'
          schema:
            type: string
        - name: target
          in: query
          description: >-
            Parameter used to search by the biochemical assay target using the
            target's preferred gene symbol from UniProt. Syntax is "target=GENE
            SYMBOL" Do Not use quotes. Examples; target=BRAF; target=MAPK13;
            etc..
          required: false
          schema:
            type: string
        - name: uniprot
          in: query
          description: >-
            Parameter used to search by the biochemical assay target using the
            target's UniProt accession number. Syntax is "uniprot=accession
            number" Do Not use quotes. Examples; uniprto=O15264; uniprot=P15056;
            etc..
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: 'limit the number of records returned, default is 10'
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: >-
            A query response object with 'documents' property, each document
            corresponds to a bioactivity that matched the query criteria.
          x-responseValueType:
            - path: lincs.smallmolecule
              valueType: 'http://identifiers.org/'
      ## To query: use the id parameter, looks like it only accepts the LINCS small molecule IDs.
      ## I have successfully queried using LSM-1008, LSM-1023
      ## I'm wary of ingesting this into Translator without more info (maybe another Provider doing an analysis and filtering the results).
      ## This looks like the results from assays for ChemicalSubstances with various Gene/Protein targets. I'm not sure if these have been filtered for "strong/likely/true/interesting" relationships between the chemicals and genes.
      ## Also there are 3 properties (endpoint_result_type, relationship, median_pvalue) to give the quantitative value for some measure of activity. Note that "pValue" actually means "-log10(Value)" (like pH or pKa); it's not the stats thing. It's hard to know how to interpret that or parse it with BTE though
      ## This info is likely from CHEMBL. See curated data tab, * note in http://lincsportal.ccs.miami.edu/SmallMolecules/view/LSM-1023
  /drugindication:
    get:
      tags:
        - signature
        - query
        - LINCS
        - SchuererLab
        - small molecule
      summary: >-
        Get known drug indications for LINCS small molecules, the indications
        are captured from both the Experimental Factor Ontology (EFO) and the
        Medical Subject Headings (MeSH) vocabularies.
      parameters:
        - name: id
          in: query
          description: >-
            Parameter used to search by LINCS small molecule identifier. Syntax
            is "id=LSM-#" Do Not use quotes. Example; id=LSM-1008.
          required: false
          x-valueType:
            - 'http://identifiers.org/lincs.smallmolecule'
          schema:
            type: string
        - name: efo
          in: query
          description: >-
            Parameter used to search by the EFO drug indication. Syntax is
            "efo=Drug Indication" Do Not use quotes. Example; efo=renal
            carcinoma
          required: false
          schema:
            type: string
        - name: mesh
          in: query
          description: >-
            Parameter used to search by the MeSH drug indication. Syntax is
            "efo=Drug Indication" Do Not use quotes. Example; mesh=carcinoma,
            renal cell
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: 'limit the number of records returned, default is 10'
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: >-
            A query response object with 'documents' property, each document
            corresponds to a drug indication that matched the query criteria.
          x-responseValueType:
          - path: lincs.smallmolecule
            valueType: 'http://identifiers.org/'
      x-bte-kgs-operations:
      - $ref: '#/components/x-bte-kgs-operations/drug-indication'
      ## To query: use the id parameter, looks like it only accepts the LINCS small molecule IDs.
      ## I have successfully queried using LSM-1008, LSM-1023
      ## This info is likely from CHEMBL. See curated data tab, * note in http://lincsportal.ccs.miami.edu/SmallMolecules/view/LSM-1023
      ## it looks like this endpoint could accept only the disease's name (under the efo or mesh parameter)
      ##   and then lookup the small molecule. But...having to look up diseases by name seems...tricky to hook up
  /disease:
    get:
      tags:
        - diseases
        - query
        - LINCS
        - SchuererLab
        - cells
      summary: >-
        Query for LINCS cell line identifiers by disease, the diseases are
        captured from the Disease Ontology (DO) vocabulary.
      parameters:
        - name: disease
          in: query
          description: >-
            Parameter used to search by the DO disease name. Syntax is
            "disease=disease name" Do Not use quotes. Example; disease=breast
            carcinoma
          required: false
          schema:
            type: string
        - name: doid
          in: query
          description: >-
            Parameter used to search by the DO identifier. Syntax is
            "doid=DOID:#" Do Not use quotes. Example; doid=DOID:3459
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: 'limit the number of records returned, default is 10'
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: >-
            A query response object with 'documents' property, each document
            corresponds to a disease that matched the query criteria.
          x-responseValueType:
            - path: lincs.cell
              valueType: 'http://identifiers.org/'
      ## To query: use the disease (renal cell) or doid (ex: DOID:3459) parameter.
      ## What is returned is the LINCS cell line id
      ## Doesn't look useful to Translator.
components:
  x-bte-kgs-operations:
    drug-indication:
    - inputs:
    ## SRI-ID-Resolver doesn't support LINCS ID prefix...
      - id: LINCS
        semantic: SmallMolecule
      method: get
      outputs:
      - id: MESH
        semantic: Disease
      parameters:
        id: '{inputs[0]}'  ## no prefix
        ## example: put LSM-1023 here (Imatinib)
        ##   should get D046152 in response (GASTROINTESTINAL STROMAL TUMORS)
      ## This info is likely from CHEMBL.
      ##   See curated data tab, * note in http://lincsportal.ccs.miami.edu/SmallMolecules/view/LSM-1023
      predicate: treats
      response_mapping:
        $ref: '#/components/x-bte-response-mapping/drug-indication'
      supportBatch: false  ## no batch support (get operation)
  x-bte-response-mapping:
    drug-indication:
      MESH: documents.mesh_id  ## no prefix
      name: documents.mesh_heading
      ## could include categoricalMeasure for FDA max phase (for the indication)