openapi: '3.0.0'
info:
  version: '1.0'
  title: Proteins API
  description: >-
    The proteins service provides an interface for accessing UniProtKB entries and UniProtKB isoform entries. The features service provides protein functional annotations from UniProt Knowledgebase (UniProtKB) protein entries. The variation, proteomics and antigen services provide annotations imported and mapped from Large Scale data Sources (LSS) such as 1000Genomes, ExAC, PeptideAtlas, MaxQB and HPA along with UniProtKB annotations for these feature types (if applicable).
    The Proteins service returns XML, JSON and FASTA formatted results. Features, variation, proteomics and antigen all return XML, JSON and GFF formatted results.
  termsOfService: https://groups.google.com/d/forum/ebi-proteins-api
  contact:
    name: Chunlei Wu
    x-role: responsible developer
    email: help@myvariant.info
    x-id: 'http://orcid.org/0000-0002-2629-6124'  
servers:
  - url: 'http://www.ebi.ac.uk/proteins/api'
    description: 'Production server'
paths:
  '/proteins/interaction/{accession}':
    get:
      summary: 'Get Uniprot Interactions by Accession'
      parameters:
        - name: accession
          in: path
          description: >-
            Uniprot Accession number for proteins, e.g. P51587.
          required: true
          x-valueType:
            - 'http://identifiers.org/uniprot/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/uniprot/'
              template: /proteins/interaction/{{input}}
      responses:
        '200':
          description: 'A query response object with "hits" property'
          x-responseValueType:
            - path: interactions.id
              valueType: 'http://identifiers.org/uniprot/'
            - path: interactions.gene
              valueType: 'http://identifiers.org/hgnc.symbol/'
          x-JSONLDContext:
            'https://raw.githubusercontent.com/NCATS-Tangerine/translator-api-registry/master/myvariant.info/jsonld_context/myvariant_query_1.1.json'
  '/features/{accession}':
    get:
      summary: 'Get UniProt protein sequence features by accession'
      parameters:
        - name: accession
          in: path
          description: >-
            Uniprot accession number for proteins, e.g. P51587.
          required: true
          x-valueType:
            - 'http://identifiers.org/uniprot/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/uniprot/'
              template: /features/{{input}}
          schema:
            type: string
        - name: categories
          in: query
          description: >-
            Category type(s): MOLECULE_PROCESSING, TOPOLOGY, SEQUENCE_INFORMATION, STRUCTURAL, DOMAINS_AND_SITES, PTM, VARIANT, MUTAGENESIS. Comma separated values accepted up to 20
          required: false
          x-valueType:
            - 'http://identifiers.org/'
          schema:
            type: string
      responses:
        '200':
          description: 'A variant object'
          x-responseValueType:
            - path: cadd.gene.genename
              valueType: 'http://identifiers.org/hgnc.symbol/'
            - path: clinvar.rsid
              valueType: 'http://identifiers.org/dbsnp/'
            - path: cadd.gene.gene_id
              valueType: 'http://identifiers.org/ensembl.gene/'
            - path: cadd.gene.feature_id
              valueType: 'http://identifiers.org/ensembl.transcript/'
            - path: cadd.gene.ccds_id
              valueType: 'http://identifiers.org/ccds/'
            - path: clinvar.uniprot
              valueType: 'http://identifiers.org/uniprot/'
            - path: clinvar.rcv.accession
              valueType: 'http://identifiers.org/clinvar/'
            - path: clinvar.rcv.conditions.identifiers.omim
              valueType: 'http://identifiers.org/omim/'
            - path: clinvar.rcv.conditions.identifiers.efo
              valueType: 'http://identifiers.org/efo/'
            - path: clinvar.rcv.conditions.identifiers.orphanet
              valueType: 'http://identifiers.org/orphanet/'
            - path: clinvar.gene.id
              valueType: 'http://identifiers.org/hgnc/'
            - path: dbnsfp.ensembl.proteinid
              valueType: 'http://identifiers.org/ensembl.protein/'
            - path: docm.pubmed_id
              valueType: 'http://identifiers.org/pubmed/'
            - path: evs.gene.accession
              valueType: 'http://identifiers.org/refseq/'
            - path: clinvar.rcv.clinical_significance
              valueType: 'http://identifiers.org/clinicalsignificance/'
          x-JSONLDContext:
            'https://raw.githubusercontent.com/NCATS-Tangerine/translator-api-registry/master/myvariant.info/jsonld_context/myvariant_variant_1.1.json'
