openapi: 3.0.3
info:
  contact:
    email: help@biothings.io
    name: BioThings Team
    x-id: https://github.com/biothings
    x-role: responsible developers
  description: >-
    Documentation of the BioThings API for the Drug Repositioning Database, 
    [repoDB](https://unmtid-shinyapps.net/shiny/repodb/), data. 
    repoDB contains a standard set of drug repositioning successes and failures that can be used to 
    fairly and reproducibly benchmark computational repositioning methods. 
    repoDB data was extracted from DrugCentral and ClinicalTrials.gov.
  termsOfService: https://biothings.io/about
  title: BioThings repoDB API
  version: '2.0'
  x-translator:
    infores: "infores:biothings-repodb"
    component: KP
    team:
      - Service Provider
    biolink-version: "4.1.6"
servers:
- description: Encrypted Production server
  url: https://biothings.ncats.io/repodb
  x-maturity: production
tags:
- name: indication
- name: chemical
- name: disease
- name: metadata
- name: query
- name: translator
- name: biothings
paths:
  "/indication/{id}":
    get:
      description: >-
        By default, this will return the complete association in JSON format. If the input is not valid,
        404 (NOT FOUND) will be returned.
        

        Optionally, you can pass a "fields" parameter to return only the annotation you want 
        (by filtering returned object fields). "fields" accepts any attributes (a.k.a fields) available 
        from the association. Multiple attributes should be separated by commas. If an attribute is not 
        available for a specific association, it will be ignored. Note that the attribute names are 
        case-sensitive.


        Just like the query service, you can also pass a "callback" parameter to make a JSONP call.
      parameters:
      - name: id
        in: path
        required: true
        example: "DB14539_C0151467"
        schema:
          type: string
      - "$ref": "#/components/parameters/fields"
      - "$ref": "#/components/parameters/callback"
      - "$ref": "#/components/parameters/email"
      ## this is useful even when it's not noted in the docs
      - "$ref": "#/components/parameters/size"
      ## these are noted in the /spec endpoint; commenting out for now
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/rawquery"
      # - "$ref": "#/components/parameters/dotfield"
      # - "$ref": "#/components/parameters/_sorted"
      # - "$ref": "#/components/parameters/always_list"
      # - "$ref": "#/components/parameters/allow_null"
      # - "$ref": "#/components/parameters/format"
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      ## commenting out schemas and other status codes for now
      #     content:
      #       application/json:
      #         schema:
      #           $ref: '#/components/schemas/Association'
      #   '404':
      #     description: A response indicating an unknown association ID
      tags:
      - indication
  "/indication":
    post:
      description: >-
        Although making simple GET requests above to our service is sufficient in most use cases, 
        there are some times you might find it easier to batch query (e.g., retrieving multiple associations). 
        Fortunately, you can also make batch queries via POST requests when you need to.
      parameters:
      - name: ids
        description: >-
          Accepts multiple association ids separated by commas. Note that currently we only take ids up to 
          1000 maximum, the rest will be omitted.


          The request body can also be used to provide these ids.
        in: query
        ## setting to false since putting this info in the request body seems to work as well
        required: false
        schema:
          type: string
      - "$ref": "#/components/parameters/fields"
      - "$ref": "#/components/parameters/email"
      ## this is useful even when it's not noted in the docs
      - "$ref": "#/components/parameters/size"
      ## these are noted in the /spec endpoint; commenting out for now
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/rawquery"
      # - "$ref": "#/components/parameters/dotfield"
      # - "$ref": "#/components/parameters/_sorted"
      # - "$ref": "#/components/parameters/always_list"
      # - "$ref": "#/components/parameters/allow_null"
      # - "$ref": "#/components/parameters/format"
      requestBody:
        content:
          application/json:
            example:
              ids:
              - "DB14539_C0151467"
              - "DB14509_C0003873"
            schema:
              type: object
              properties:
                ids:
                  description: >-
                    Accepts multiple association ids. Note that currently we only take the input ids 
                    up to 1000 maximum, the rest will be omitted.
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      tags:
      - indication
  "/metadata":
    get:
      description: Get metadata about the data available from the API
      ## these are noted in the https://mychem.info/v1/spec endpoint; commenting out for now
      # parameters:
      # - "$ref": "#/components/parameters/format"
      # - "$ref": "#/components/parameters/raw"
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      tags:
      - metadata
  "/metadata/fields":
    get:
      description: Get metadata about the data fields available from the API
      ## these are noted in the https://mychem.info/v1/spec endpoint; commenting out for now
      # parameters:
      # - "$ref": "#/components/parameters/format"
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/search"
      # - "$ref": "#/components/parameters/prefix"
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      tags:
      - metadata
  "/query":
    get:
      description: >-
        Query service. In the output, "total" in the output gives the total number 
        of matching hits, while the actual hits are returned under "hits" field.
      parameters:
      - name: q
        description: >-
          Required, passing user query. The detailed query syntax for parameter is explained 
          [here for a core BioThings 
          API](https://docs.mychem.info/en/latest/doc/chem_query_service.html#query-syntax).
        in: query
        required: true
        example: "drug.drugbank:DB14006"
        schema:
          type: string
      - "$ref": "#/components/parameters/fields"
      - "$ref": "#/components/parameters/size"
      - "$ref": "#/components/parameters/from"
      - "$ref": "#/components/parameters/fetch_all"
      - "$ref": "#/components/parameters/scroll_id"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/facets"
      - "$ref": "#/components/parameters/facet_size"
      - "$ref": "#/components/parameters/callback"
      - "$ref": "#/components/parameters/dotfield"
      - "$ref": "#/components/parameters/email"
      ## these are noted in the /spec endpoint; commenting out for now
      # - "$ref": "#/components/parameters/aggs"
      # - "$ref": "#/components/parameters/userquery"
      # - "$ref": "#/components/parameters/explain"
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/rawquery"
      # - "$ref": "#/components/parameters/_sorted"
      # - "$ref": "#/components/parameters/always_list"
      # - "$ref": "#/components/parameters/allow_null"
      # - "$ref": "#/components/parameters/format"
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      ## commenting out schemas and other status codes for now
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/QueryResult"
      #   '400':
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/ErrorResult"
      #     description: A response indicating an improperly formatted query
      # summary: Make queries and return matching gene hits. Supports JSONP and CORS
      #   as well.
      tags:
      - query
    post:
      description: >-
        Although making simple GET requests above to our query service is sufficient for most use cases, 
        there are times you might find it more efficient to make batch queries (e.g., retrieving data 
        for multiple inputs). Fortunately, you can also make batch queries via POST requests when you need to.


        The "query” field in the returned object indicates the matching query term. If a query term has no match, 
        it will return with a “notfound” field with the value “true”.
      parameters:
      - name: q
        description: >-
          Accepts multiple values separated by commas. Note that currently we only take the input values up to 1000 
          maximum, the rest will be omitted.


          The request body can also be used to provide these ids.
        in: query
        ## setting to false since putting this info in the request body seems to work as well
        required: false
        schema:
          type: array
          items:
            type: string
      - name: scopes
        description: >-
          Optional, specify one or more fields (separated by commas) to search. Default: _id


          The request body can also be used to provide this information.
        in: query
        ## setting to false since putting this info in the request body seems to work as well
        required: false
        schema:
          type: string
      - "$ref": "#/components/parameters/fields"
      - "$ref": "#/components/parameters/email"
      ## this is useful even when it's not noted in the docs
      - "$ref": "#/components/parameters/size"
      - "$ref": "#/components/parameters/from"
      - "$ref": "#/components/parameters/fetch_all"
      - "$ref": "#/components/parameters/scroll_id"
      ## these are noted in the https://mychem.info/v1/spec endpoint; commenting out for now
      # - "$ref": "#/components/parameters/sort"
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/rawquery"
      # - "$ref": "#/components/parameters/dotfield"
      # - "$ref": "#/components/parameters/_sorted"
      # - "$ref": "#/components/parameters/always_list"
      # - "$ref": "#/components/parameters/allow_null"
      # - "$ref": "#/components/parameters/format"
      requestBody:
        content:
          application/json:
            example:
              q:
              - "DB14006"
              - "DB00012"
              scopes:
              - "drug.drugbank"
            schema:
              type: object
              properties:
                q:
                  description: >-
                    Accepts multiple values separated by commas. Note that currently we only take the input values 
                    up to 1000 maximum, the rest will be omitted.
                  type: array
                  items:
                    type: string
                scopes:
                  description: >-
                    Specify one or more fields (separated by commas) to search. Default: _id
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      ## commenting out schemas and other status codes for now
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/QueryPOSTResult"
      #   '400':
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/ErrorResult"
      #     description: A response indicating an improperly formatted query
      # summary: Make batch gene queries and return matching gene hits
      tags:
      - query
      ## 4 operations (2 sets)
      x-bte-kgs-operations:
      - $ref: '#/components/x-bte-kgs-operations/drug-disease-approved'
      - $ref: '#/components/x-bte-kgs-operations/disease-drug-approved'
      - $ref: '#/components/x-bte-kgs-operations/drug-disease-not-approved'
      - $ref: '#/components/x-bte-kgs-operations/disease-drug-not-approved'
components:
  parameters:
    callback:
      name: callback
      description: >-
        Optional, you can pass a "callback" parameter to make a JSONP call.
      in: query
      required: false
      schema:
        type: string
    dotfield:
      name: dotfield
      description: >-
        Optional, can be used to control the format of the returned object. 
        If "dotfield" is true, the returned data object is returned flattened (no nested objects) 
        using dotfield notation for key names. Default: false.
      in: query
      required: false
      schema:
        type: boolean
        default: false
    email:
      name: email
      description: >-
        Optional, if you are regular users of our services, we encourage you to provide us an email, 
        so that we can better track the usage or follow up with you.
      in: query
      required: false
      schema:
        type: string
    facet_size:
      name: facet_size
      description: >-
        Optional, an integer (1 <= facet_size <= 1000) that specifies how many buckets to return in a 
        [faceted query](https://docs.mychem.info/en/latest/doc/chem_query_service.html?highlight=from#faceted-queries).
      in: query
      required: false
      schema:
        type: integer
        default: 10
    facets:
      name: facets
      description: >-
        Optional, a single field or comma-separated fields to return facets, can only be used on non-free text fields. 
        E.g. “facets=chembl.molecule_properties.full_mwt”. See [examples of faceted queries for a core BioThings 
        API](https://docs.mychem.info/en/latest/doc/chem_query_service.html?highlight=from#faceted-queries).
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
    fetch_all:
      name: fetch_all
      description: >-
        Optional, a boolean, which when TRUE, allows fast retrieval of all unsorted query hits. 
        The return object contains a _scroll_id field, which when passed as a parameter to the query endpoint 
        (see the scroll_id parameter), returns the next 1000 query results. Setting fetch_all = TRUE causes 
        the results to be inherently unsorted, therefore the sort parameter is ignored. For more information, 
        see [examples using fetch_all for a core BioThings 
        API](https://docs.mychem.info/en/latest/doc/chem_query_service.html?highlight=from#scrolling-queries). 
        Default: FALSE.
      in: query
      required: false
      schema:
        type: boolean
        default: false
    fields:
      name: fields
      description: >-
        Optional, can be a comma-separated list to limit the fields returned from the object. 
        If "fields=all", all available fields will be returned.
        

        Note that it supports dot notation as well, e.g., you can pass "chebi.name". 
        Default: "fields=all". 
        The parameter "filter" is an alias for this parameter.
      in: query
      required: false
      schema:
        type: string
        default: all
    from:
      name: from
      description: >-
        Optional, the number of matching hits to skip, starting from 0. Default: 0. 
      in: query
      required: false
      schema:
        type: integer
        default: 0
    scroll_id:
      name: scroll_id
      description: >-
        Optional, a string containing the _scroll_id returned from a query request with fetch_all = TRUE. 
        Supplying a valid scroll_id will return the next 1000 unordered results. If the next results are 
        not obtained within 1 minute of the previous set of results, the scroll_id becomes stale, and a 
        new one must be obtained with another query request with fetch_all = TRUE. All other parameters are 
        ignored when the scroll_id parameter is supplied. For more information see [examples using scroll_id 
        for a core BioThings 
        API](https://docs.mychem.info/en/latest/doc/chem_query_service.html?highlight=from#scrolling-queries).
      in: query
      required: false
      schema:
        type: string
    size:
      name: size
      description: >-
        Optional, the maximum number of matching hits to return (with a cap of 1000 at the moment). Default: 10.
        The combination of "size" and "from" parameters can be used to get paging for a large query.
      in: query
      required: false
      schema:
        type: integer
        default: 10
    sort:
      name: sort
      description: >-
        Optional, the comma-separated fields to sort on. Prefix with "-" for descending order, otherwise in ascending order. 
        Default: sort by matching scores in descending order.
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
    ## these are noted in the https://mychem.info/v1/spec endpoint; commenting out for now
    # _sorted:
    #   name: _sorted
    #   in: query
    #   required: false
    #   schema:
    #     type: boolean
    #     default: true
    # aggs:
    #   name: aggs
    #   in: query
    #   required: false
    #   schema:
    #     type: array
    #     items:
    #       type: string
    # allow_null:
    #   name: allow_null
    #   in: query
    #   required: false
    #   schema:
    #     type: array
    #     items:
    #       type: string
    # always_list:
    #   name: always_list
    #   in: query
    #   required: false
    #   schema:
    #     type: array
    #     items:
    #       type: string
    # explain:
    #   name: explain
    #   in: query
    #   required: false
    #   schema:
    #     type: boolean
    # format:
    #   name: format
    #   description: 'controls output format of server response, currently supports:
    #     "json", "jsonld", "html". Type: string. Default: json.'
    #   in: query
    #   required: false
    #   schema:
    #     type: string
    #     default: json
    # prefix:
    #   name: prefix
    #   in: query
    #   required: false
    #   schema:
    #     type: string
    # raw:
    #   name: raw
    #   in: query
    #   required: false
    #   schema:
    #     type: boolean
    # rawquery:
    #   name: rawquery
    #   in: query
    #   required: false
    #   schema:
    #     type: boolean
    # search:
    #   name: search
    #   in: query
    #   required: false
    #   schema:
    #     type: string
    # userquery:
    #   name: userquery
    #   in: query
    #   required: false
    #   schema:
    #     type: string
  ## commenting out schemas and other status codes for now
  # schemas:
  #   Association:
  #     properties:
  #       _id:
  #         type: string
  #     required:
  #     - _id
  #     type: object
  #   ErrorResult:
  #     properties:
  #       message:
  #         type: string
  #       success:
  #         type: boolean
  #     type: object
  #   QueryPOSTResult:
  #     items:
  #       allOf:
  #       - $ref: '#/components/schemas/Association'
  #       - properties:
  #           _score:
  #             format: float
  #             type: number
  #           query:
  #             type: string
  #         type: object
  #     type: array
  #   QueryResult:
  #     properties:
  #       hits:
  #         items:
  #           $ref: '#/components/schemas/Association'
  #         type: array
  #       max_score:
  #         format: float
  #         type: number
  #       took:
  #         type: integer
  #       total:
  #         type: integer
  #     type: object
  #   int64_or_array:
  #     oneOf:
  #     - items:
  #         format: int64
  #         type: integer
  #       type: array
  #     - format: int64
  #       type: integer
  #   string_or_array:
  #     oneOf:
  #     - items:
  #         type: string
  #       type: array
  #     - type: string
  x-bte-kgs-operations:
  ## NOTES
  ## - knowledge_level / agent_type: based on paper https://www.nature.com/articles/sdata201729
  ##   - approved drug info from downloading drugcentral / drugbank
  ##   - non-approved drug info from data parsing/cleaning clinicaltrials.gov data 
  ## - possible edge-attributes:
  ##   - 2185 / 10602 records have detailed status (free-text): https://biothings.ncats.io/repodb/query?q=_exists_:trials.detailed_status
  ##   - status: all records have this, but the values need to be mapped to biolink-model ClinicalApprovalStatusEnum
    drug-disease-approved:
    ## 8390 records: https://biothings.ncats.io/repodb/query?q=trials.status:approved
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: DRUGBANK
            semantic: SmallMolecule
        requestBody:
          body: 
            q: "{{ queryInputs | rmPrefix() }}"
            scopes: drug.drugbank
        outputs:
          - id: UMLS
            semantic: Disease
        parameters:
        ## not including clinical trial field since none of the approved entries seem to have it
          fields: >-
            indication.umls,
            drug.name,
            indication.name,
            trials.status
          size: 1000
          filter: trials.status:approved
        predicate: treats
        source: "infores:repodb"
        knowledge_level: knowledge_assertion
        agent_type: automated_agent
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/disease-only"
        testExamples:
          - qInput: "DRUGBANK:DB00002"    ## Cetuximab / Methyl 4,7,10,13,16-docosapentaenoate
            oneOutput: "UMLS:C0007102"    ## Malignant tumor of colon / MONDO:0021063 malignant colon neoplasm
    disease-drug-approved:
      - supportBatch: true
        useTemplating: true
        inputs:
          - id: UMLS
            semantic: Disease
        requestBody:
          body: 
            q: "{{ queryInputs | rmPrefix() }}"
            scopes: indication.umls
        outputs:
          - id: DRUGBANK
            semantic: SmallMolecule
        parameters:
          fields: >-
            drug.drugbank,
            drug.name,
            indication.name,
            trials.status
          size: 1000
          filter: trials.status:approved
        predicate: treated_by
        source: "infores:repodb"
        knowledge_level: knowledge_assertion
        agent_type: automated_agent
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/drug-only"
        testExamples:
          - qInput: "UMLS:C0032797"          ## Postpartum Hemorrhage / HP:0011891 Post-partum hemorrhage
            oneOutput: "DRUGBANK:DB00107"    ## Oxytocin / PUBCHEM.COMPOUND:439302
    drug-disease-not-approved:
    ## 2583 records (going off of existence of trials.phase which doesn't seem to exist in approved entries)
    ## biothings.ncats.io/repodb/query?q=_exists_:trials.phase
    ## phase values are either Phase 1, Phase 2, Phase 3 (so all went through clinical trials)
    ## status values are either terminated, withdrawn, suspended
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: DRUGBANK
            semantic: SmallMolecule
        requestBody:
          body: 
            q: "{{ queryInputs | rmPrefix() }}"
            scopes: drug.drugbank
        outputs:
          - id: UMLS
            semantic: Disease
        parameters:
        ## include clinical trial field since some will have it
          fields: >-
            indication.umls,
            drug.name,
            indication.name,
            trials.id,
            trials.status
          size: 1000
          filter: _exists_:trials.phase
        predicate: in_clinical_trials_for
        source: "infores:repodb"
        knowledge_level: observation
        agent_type: automated_agent
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/disease-clinicaltrial"
        testExamples:
        ## for Terminated
          - qInput: "DRUGBANK:DB00043"    ## Omalizumab / UNII:2P471X1Z11
            oneOutput: "UMLS:C0004096"    ## Asthma / MONDO:0004979
        ## for Withdrawn
          - qInput: "DRUGBANK:DB14482"    ## Sodium ascorbate / PUBCHEM.COMPOUND:23667548
            oneOutput: "UMLS:C0004238"    ## Atrial Fibrillation / MONDO:0004981
        ## for Suspended
          - qInput: "DRUGBANK:DB00104"    ## Octreotide / PUBCHEM.COMPOUND:448601
            oneOutput: "UMLS:C0001206"    ## Acromegaly / MONDO:0019933
    disease-drug-not-approved:
      - supportBatch: true
        useTemplating: true
        inputs:
          - id: UMLS
            semantic: Disease
        requestBody:
          body: 
            q: "{{ queryInputs | rmPrefix() }}"
            scopes: indication.umls
        outputs:
          - id: DRUGBANK
            semantic: SmallMolecule
        parameters:
          fields: >-
            drug.drugbank,
            drug.name,
            indication.name,
            trials.id,
            trials.status
          size: 1000
          filter: _exists_:trials.phase
        predicate: tested_by_clinical_trials_of
        source: "infores:repodb"
        knowledge_level: observation
        agent_type: automated_agent
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/drug-clinicaltrial"
        testExamples:
        ## for Terminated
          - qInput: "UMLS:C0184567"          ## Acute onset pain / NCIT:C27003
            oneOutput: "DRUGBANK:DB14123"    ## Menthol / PUBCHEM.COMPOUND:1254
        ## for Withdrawn
          - qInput: "UMLS:C0022104"          ## Irritable Bowel Syndrome / MONDO:0005052
            oneOutput: "DRUGBANK:DB14005"    ## Dimethicone 410 / PUBCHEM.COMPOUND:131740050 Bis(tert-butylsilyloxy)-dimethylsilane
        ## for Suspended
          - qInput: "UMLS:C0406317"          ## Chronic small plaque psoriasis
            oneOutput: "DRUGBANK:DB14006"    ## Choline salicylate / PUBCHEM.COMPOUND:54686350
  x-bte-response-mapping:
    disease-only:
      UMLS: indication.umls
      input_name: drug.name
      output_name: indication.name
    disease-clinicaltrial:
      UMLS: indication.umls
      input_name: drug.name
      output_name: indication.name
      ref_clinicaltrials: trials.id  ## no prefix
    drug-only:
      DRUGBANK: drug.drugbank
      input_name: indication.name
      output_name: drug.name
    drug-clinicaltrial:
      DRUGBANK: drug.drugbank
      input_name: indication.name
      output_name: drug.name
      ref_clinicaltrials: trials.id  ## no prefix
