openapi: 3.0.3
info:
  contact:
    email: help@biothings.io
    name: BioThings Team
    x-id: https://github.com/biothings
    x-role: responsible developers
  description: >-
    Documentation of the BioThings API for 
    [Gene Ontology Biological Process sub-ontology](http://geneontology.org/docs/ontology-documentation/) data.
  termsOfService: https://biothings.io/about
  title: BioThings GO Biological Process API
  version: '2020.07'
  x-translator:
    infores: "infores:biothings-go-bp"
    component: KP
    team:
      - Service Provider
    biolink-version: "3.5.0"
servers:
- description: Encrypted Production server
  url: https://biothings.ncats.io/go_bp
  x-maturity: production
- description: Production server
  url: http://biothings.ncats.io/go_bp
  x-maturity: production
tags:
- name: ontology
- name: biological process
- name: query
- name: translator
- name: biothings
paths:
## /geneset is a confusing path name because these don't have genes, only ontology terms
  "/geneset/{id}":
    get:
      description: >-
        By default, this will return the complete ontology term record in JSON format. If the input is not valid,
        404 (NOT FOUND) will be returned.
        

        Optionally, you can pass a "fields" parameter to return only the annotation you want 
        (by filtering returned object fields). "fields" accepts any attributes (a.k.a fields) available 
        from the association. Multiple attributes should be separated by commas. If an attribute is not 
        available for a specific ontology term, it will be ignored. Note that the attribute names are 
        case-sensitive.


        Just like the query service, you can also pass a "callback" parameter to make a JSONP call.
      parameters:
      - name: id
        in: path
        required: true
        example: "GO:0009809"
        schema:
          type: string
      - "$ref": "#/components/parameters/fields"
      - "$ref": "#/components/parameters/callback"
      - "$ref": "#/components/parameters/email"
      ## this is useful even when it's not noted in the docs
      - "$ref": "#/components/parameters/size"
      ## these are noted in the /spec endpoint; commenting out for now
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/rawquery"
      # - "$ref": "#/components/parameters/dotfield"
      # - "$ref": "#/components/parameters/_sorted"
      # - "$ref": "#/components/parameters/always_list"
      # - "$ref": "#/components/parameters/allow_null"
      # - "$ref": "#/components/parameters/format"
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      ## commenting out schemas and other status codes for now
      #     content:
      #       application/json:
      #         schema:
      #           $ref: '#/components/schemas/Association'
      #   '404':
      #     description: A response indicating an unknown association ID
      tags:
      - ontology
  "/geneset":
    post:
      description: >-
        Although making simple GET requests above to our service is sufficient in most use cases, 
        there are some times you might find it easier to batch query (e.g., retrieving multiple ontology terms). 
        Fortunately, you can also make batch queries via POST requests when you need to.
      parameters:
      - name: ids
        description: >-
          Accepts multiple ontology term ids separated by commas. Note that currently we only take ids up to 
          1000 maximum, the rest will be omitted.


          The request body can also be used to provide these ids.
        in: query
        ## setting to false since putting this info in the request body seems to work as well
        required: false
        schema:
          type: string
      - "$ref": "#/components/parameters/fields"
      - "$ref": "#/components/parameters/email"
      ## this is useful even when it's not noted in the docs
      - "$ref": "#/components/parameters/size"
      ## these are noted in the /spec endpoint; commenting out for now
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/rawquery"
      # - "$ref": "#/components/parameters/dotfield"
      # - "$ref": "#/components/parameters/_sorted"
      # - "$ref": "#/components/parameters/always_list"
      # - "$ref": "#/components/parameters/allow_null"
      # - "$ref": "#/components/parameters/format"
      requestBody:
        content:
          application/json:
            example:
              ids:
              - "GO:0009809"
              - "GO:1901428"
            schema:
              type: object
              properties:
                ids:
                  description: >-
                    Accepts multiple ontology term ids. Note that currently we only take the input ids 
                    up to 1000 maximum, the rest will be omitted.
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      tags:
      - ontology
  "/metadata":
    get:
      description: Get metadata about the data available from the API
      ## these are noted in the https://mychem.info/v1/spec endpoint; commenting out for now
      # parameters:
      # - "$ref": "#/components/parameters/format"
      # - "$ref": "#/components/parameters/raw"
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      tags:
      - metadata
  "/metadata/fields":
    get:
      description: Get metadata about the data fields available from the API
      ## these are noted in the https://mychem.info/v1/spec endpoint; commenting out for now
      # parameters:
      # - "$ref": "#/components/parameters/format"
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/search"
      # - "$ref": "#/components/parameters/prefix"
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      tags:
      - metadata
  "/query":
    get:
      description: >-
        Query service. In the output, "total" in the output gives the total number 
        of matching hits, while the actual hits are returned under "hits" field.
      parameters:
      - name: q
        description: >-
          Required, passing user query. The detailed query syntax for parameter is explained 
          [here for a core BioThings 
          API](https://docs.mychem.info/en/latest/doc/chem_query_service.html#query-syntax).
        in: query
        required: true
        example: go:"GO:0010596"
        schema:
          type: string
      - "$ref": "#/components/parameters/fields"
      - "$ref": "#/components/parameters/size"
      - "$ref": "#/components/parameters/from"
      - "$ref": "#/components/parameters/fetch_all"
      - "$ref": "#/components/parameters/scroll_id"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/facets"
      - "$ref": "#/components/parameters/facet_size"
      - "$ref": "#/components/parameters/callback"
      - "$ref": "#/components/parameters/dotfield"
      - "$ref": "#/components/parameters/email"
      ## these are noted in the /spec endpoint; commenting out for now
      # - "$ref": "#/components/parameters/aggs"
      # - "$ref": "#/components/parameters/userquery"
      # - "$ref": "#/components/parameters/explain"
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/rawquery"
      # - "$ref": "#/components/parameters/_sorted"
      # - "$ref": "#/components/parameters/always_list"
      # - "$ref": "#/components/parameters/allow_null"
      # - "$ref": "#/components/parameters/format"
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      ## commenting out schemas and other status codes for now
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/QueryResult"
      #   '400':
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/ErrorResult"
      #     description: A response indicating an improperly formatted query
      # summary: Make queries and return matching gene hits. Supports JSONP and CORS
      #   as well.
      tags:
      - query
    post:
      description: >-
        Although making simple GET requests above to our query service is sufficient for most use cases, 
        there are times you might find it more efficient to make batch queries (e.g., retrieving data 
        for multiple inputs). Fortunately, you can also make batch queries via POST requests when you need to.


        The "query” field in the returned object indicates the matching query term. If a query term has no match, 
        it will return with a “notfound” field with the value “true”.
      parameters:
      - name: q
        description: >-
          Accepts multiple values separated by commas. Note that currently we only take the input values up to 1000 
          maximum, the rest will be omitted.


          The request body can also be used to provide these ids.
        in: query
        ## setting to false since putting this info in the request body seems to work as well
        required: false
        schema:
          type: array
          items:
            type: string
      - name: scopes
        description: >-
          Optional, specify one or more fields (separated by commas) to search. Default: _id


          The request body can also be used to provide this information.
        in: query
        ## setting to false since putting this info in the request body seems to work as well
        required: false
        schema:
          type: string
      - "$ref": "#/components/parameters/fields"
      - "$ref": "#/components/parameters/email"
      ## this is useful even when it's not noted in the docs
      - "$ref": "#/components/parameters/size"
      - "$ref": "#/components/parameters/from"
      - "$ref": "#/components/parameters/fetch_all"
      - "$ref": "#/components/parameters/scroll_id"
      ## these are noted in the https://mychem.info/v1/spec endpoint; commenting out for now
      # - "$ref": "#/components/parameters/sort"
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/rawquery"
      # - "$ref": "#/components/parameters/dotfield"
      # - "$ref": "#/components/parameters/_sorted"
      # - "$ref": "#/components/parameters/always_list"
      # - "$ref": "#/components/parameters/allow_null"
      # - "$ref": "#/components/parameters/format"
      requestBody:
        content:
          application/json:
            example:
              q:
              - "GO:0009809"
              - "GO:1901428"
              scopes:
              - "go"
            schema:
              type: object
              properties:
                q:
                  description: >-
                    Accepts multiple values separated by commas. Note that currently we only take the input values 
                    up to 1000 maximum, the rest will be omitted.
                  type: array
                  items:
                    type: string
                scopes:
                  description: >-
                    Specify one or more fields (separated by commas) to search. Default: _id
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      ## commenting out schemas and other status codes for now
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/QueryPOSTResult"
      #   '400':
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/ErrorResult"
      #     description: A response indicating an improperly formatted query
      # summary: Make batch gene queries and return matching gene hits
      tags:
      - query
      x-bte-kgs-operations:
      - $ref: '#/components/x-bte-kgs-operations/has_subclass'
      - $ref: '#/components/x-bte-kgs-operations/subclass_of'
      - $ref: '#/components/x-bte-kgs-operations/negatively_regulates'
      - $ref: '#/components/x-bte-kgs-operations/negatively_regulated_by'
      - $ref: '#/components/x-bte-kgs-operations/positively_regulates'
      - $ref: '#/components/x-bte-kgs-operations/positively_regulated_by'
      - $ref: '#/components/x-bte-kgs-operations/regulates'
      - $ref: '#/components/x-bte-kgs-operations/regulated_by'
      - $ref: '#/components/x-bte-kgs-operations/has_part'
      - $ref: '#/components/x-bte-kgs-operations/part_of'
components:
  parameters:
    callback:
      name: callback
      description: >-
        Optional, you can pass a "callback" parameter to make a JSONP call.
      in: query
      required: false
      schema:
        type: string
    dotfield:
      name: dotfield
      description: >-
        Optional, can be used to control the format of the returned object. 
        If "dotfield" is true, the returned data object is returned flattened (no nested objects) 
        using dotfield notation for key names. Default: false.
      in: query
      required: false
      schema:
        type: boolean
        default: false
    email:
      name: email
      description: >-
        Optional, if you are regular users of our services, we encourage you to provide us an email, 
        so that we can better track the usage or follow up with you.
      in: query
      required: false
      schema:
        type: string
    facet_size:
      name: facet_size
      description: >-
        Optional, an integer (1 <= facet_size <= 1000) that specifies how many buckets to return in a 
        [faceted query](https://docs.mychem.info/en/latest/doc/chem_query_service.html?highlight=from#faceted-queries).
      in: query
      required: false
      schema:
        type: integer
        default: 10
    facets:
      name: facets
      description: >-
        Optional, a single field or comma-separated fields to return facets, can only be used on non-free text fields. 
        E.g. “facets=chembl.molecule_properties.full_mwt”. See [examples of faceted queries for a core BioThings 
        API](https://docs.mychem.info/en/latest/doc/chem_query_service.html?highlight=from#faceted-queries).
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
    fetch_all:
      name: fetch_all
      description: >-
        Optional, a boolean, which when TRUE, allows fast retrieval of all unsorted query hits. 
        The return object contains a _scroll_id field, which when passed as a parameter to the query endpoint 
        (see the scroll_id parameter), returns the next 1000 query results. Setting fetch_all = TRUE causes 
        the results to be inherently unsorted, therefore the sort parameter is ignored. For more information, 
        see [examples using fetch_all for a core BioThings 
        API](https://docs.mychem.info/en/latest/doc/chem_query_service.html?highlight=from#scrolling-queries). 
        Default: FALSE.
      in: query
      required: false
      schema:
        type: boolean
        default: false
    fields:
      name: fields
      description: >-
        Optional, can be a comma-separated list to limit the fields returned from the object. 
        If "fields=all", all available fields will be returned.
        

        Note that it supports dot notation as well, e.g., you can pass "chebi.name". 
        Default: "fields=all". 
        The parameter "filter" is an alias for this parameter.
      in: query
      required: false
      schema:
        type: string
        default: all
    from:
      name: from
      description: >-
        Optional, the number of matching hits to skip, starting from 0. Default: 0. 
      in: query
      required: false
      schema:
        type: integer
        default: 0
    scroll_id:
      name: scroll_id
      description: >-
        Optional, a string containing the _scroll_id returned from a query request with fetch_all = TRUE. 
        Supplying a valid scroll_id will return the next 1000 unordered results. If the next results are 
        not obtained within 1 minute of the previous set of results, the scroll_id becomes stale, and a 
        new one must be obtained with another query request with fetch_all = TRUE. All other parameters are 
        ignored when the scroll_id parameter is supplied. For more information see [examples using scroll_id 
        for a core BioThings 
        API](https://docs.mychem.info/en/latest/doc/chem_query_service.html?highlight=from#scrolling-queries).
      in: query
      required: false
      schema:
        type: string
    size:
      name: size
      description: >-
        Optional, the maximum number of matching hits to return (with a cap of 1000 at the moment). Default: 10.
        The combination of "size" and "from" parameters can be used to get paging for a large query.
      in: query
      required: false
      schema:
        type: integer
        default: 10
    sort:
      name: sort
      description: >-
        Optional, the comma-separated fields to sort on. Prefix with "-" for descending order, otherwise in ascending order. 
        Default: sort by matching scores in descending order.
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
    ## these are noted in the https://mychem.info/v1/spec endpoint; commenting out for now
    # _sorted:
    #   name: _sorted
    #   in: query
    #   required: false
    #   schema:
    #     type: boolean
    #     default: true
    # aggs:
    #   name: aggs
    #   in: query
    #   required: false
    #   schema:
    #     type: array
    #     items:
    #       type: string
    # allow_null:
    #   name: allow_null
    #   in: query
    #   required: false
    #   schema:
    #     type: array
    #     items:
    #       type: string
    # always_list:
    #   name: always_list
    #   in: query
    #   required: false
    #   schema:
    #     type: array
    #     items:
    #       type: string
    # explain:
    #   name: explain
    #   in: query
    #   required: false
    #   schema:
    #     type: boolean
    # format:
    #   name: format
    #   description: 'controls output format of server response, currently supports:
    #     "json", "jsonld", "html". Type: string. Default: json.'
    #   in: query
    #   required: false
    #   schema:
    #     type: string
    #     default: json
    # prefix:
    #   name: prefix
    #   in: query
    #   required: false
    #   schema:
    #     type: string
    # raw:
    #   name: raw
    #   in: query
    #   required: false
    #   schema:
    #     type: boolean
    # rawquery:
    #   name: rawquery
    #   in: query
    #   required: false
    #   schema:
    #     type: boolean
    # search:
    #   name: search
    #   in: query
    #   required: false
    #   schema:
    #     type: string
    # userquery:
    #   name: userquery
    #   in: query
    #   required: false
    #   schema:
    #     type: string
  ## commenting out schemas and other status codes for now
  # schemas:
  #   Association:
  #     properties:
  #       _id:
  #         type: string
  #     required:
  #     - _id
  #     type: object
  #   ErrorResult:
  #     properties:
  #       message:
  #         type: string
  #       success:
  #         type: boolean
  #     type: object
  #   QueryPOSTResult:
  #     items:
  #       allOf:
  #       - $ref: '#/components/schemas/Association'
  #       - properties:
  #           _score:
  #             format: float
  #             type: number
  #           query:
  #             type: string
  #         type: object
  #     type: array
  #   QueryResult:
  #     properties:
  #       hits:
  #         items:
  #           $ref: '#/components/schemas/Association'
  #         type: array
  #       max_score:
  #         format: float
  #         type: number
  #       took:
  #         type: integer
  #       total:
  #         type: integer
  #     type: object
  #   int64_or_array:
  #     oneOf:
  #     - items:
  #         format: int64
  #         type: integer
  #       type: array
  #     - format: int64
  #       type: integer
  #   string_or_array:
  #     oneOf:
  #     - items:
  #         type: string
  #       type: array
  #     - type: string
  x-bte-kgs-operations:
    has_subclass:
    ## 16883 records have children: https://biothings.ncats.io/go_bp/query?q=_exists_:children
    - supportBatch: true
      useTemplating: true
      inputs:
      - id: GO
        semantic: BiologicalProcess
      requestBody:
        body:
          q: "{{ queryInputs | replPrefix('GO') }}"
          scopes: _id
      outputs:
      - id: GO
        semantic: BiologicalProcess
      parameters:
        fields: children
      predicate: superclass_of  ## this is the inverse of subclass_of right now
      source: "infores:go"
      response_mapping:
        $ref: '#/components/x-bte-response-mapping/has_subclass'
      # testExamples:
      #   - qInput: "GO:0089722"       ## phosphoenolpyruvate transmembrane transport
      #     oneOutput: "GO:1990536"    ## phosphoenolpyruvate transmembrane import into Golgi lumen
    subclass_of:
    ## all records but one have a "parents" field
    - supportBatch: true
      useTemplating: true
      inputs:
      - id: GO
        semantic: BiologicalProcess
      requestBody:
        body:
          q: "{{ queryInputs | replPrefix('GO') }}"
          scopes: _id
      outputs:
      - id: GO
        semantic: BiologicalProcess
      parameters:
        fields: parents
      predicate: subclass_of
      source: "infores:go"
      response_mapping:
        $ref: '#/components/x-bte-response-mapping/subclass_of'
      # testExamples:
      #   - qInput: "GO:0150068"       ## positive regulation of tubulin deacetylase activity
      #     oneOutput: "GO:0090044"    ## positive regulation of tubulin deacetylation
    negatively_regulates:
    ## 2774 records https://biothings.ncats.io/go_bp/query?q=_exists_:negatively_regulates
    - supportBatch: true
      useTemplating: true
      inputs:
      - id: GO
        semantic: BiologicalProcess
      requestBody:
        body:
          q: "{{ queryInputs | replPrefix('GO') }}"
          scopes: _id
      outputs:
      - id: GO
        semantic: BiologicalProcess
      parameters:
        fields: negatively_regulates.go
      ## biolink 3.0.3: this is a mixin. Is this an issue?
      ##   interpretation: X "regulates" Y's "downregulated" state
      ## biolink 2.4.8: used process_negatively_regulates_process
      predicate: regulates
      qualifiers:
        object_direction_qualifier: downregulated
      source: "infores:go"
      response_mapping:
        $ref: '#/components/x-bte-response-mapping/negatively_regulates'
      # testExamples:
      #   - qInput: "GO:0090272"       ## negative regulation of fibroblast growth factor production
      #     oneOutput: "GO:0090269"    ## fibroblast growth factor production
    negatively_regulated_by:
    - supportBatch: true
      useTemplating: true
      inputs:
      - id: GO
        semantic: BiologicalProcess
      requestBody:
        body:
          q: "{{ queryInputs | replPrefix('GO') }}"
          scopes: negatively_regulates.go
      outputs:
      - id: GO
        semantic: BiologicalProcess
      parameters:
        fields: _id
      ## biolink 3.0.3: this is a mixin. Is this an issue?
      ##   interpretation: Y's "downregulated" state "regulated_by" X
      ## biolink 2.4.8: used process_negatively_regulated_by_process
      predicate: regulated_by
      qualifiers:
        subject_direction_qualifier: downregulated
      source: "infores:go"
      response_mapping:
        $ref: '#/components/x-bte-response-mapping/negatively_regulated_by'
    # testExamples:
    #   - qInput: "GO:0016126"       ## sterol biosynthetic process
    #     oneOutput: "GO:0106119"    ## negative regulation of sterol biosynthetic process
    positively_regulates:
    ## 2761 records https://biothings.ncats.io/go_bp/query?q=_exists_:positively_regulates
    - supportBatch: true
      useTemplating: true
      inputs:
      - id: GO
        semantic: BiologicalProcess
      requestBody:
        body:
          q: "{{ queryInputs | replPrefix('GO') }}"
          scopes: _id
      outputs:
      - id: GO
        semantic: BiologicalProcess
      parameters:
        fields: positively_regulates.go
      ## biolink 3.0.3: this is a mixin. Is this an issue?
      ##   interpretation: X "regulates" Y's "upregulated" state
      ## biolink 2.4.8: used process_positively_regulates_process
      predicate: regulates
      qualifiers:
        object_direction_qualifier: upregulated
      source: "infores:go"
      response_mapping:
        $ref: '#/components/x-bte-response-mapping/positively_regulates'
      # testExamples:
      #   - qInput: "GO:0090129"       ## positive regulation of synapse maturation
      #     oneOutput: "GO:0060074"    ## synapse maturation
    positively_regulated_by:
    - supportBatch: true
      useTemplating: true
      inputs:
      - id: GO
        semantic: BiologicalProcess
      requestBody:
        body:
          q: "{{ queryInputs | replPrefix('GO') }}"
          scopes: positively_regulates.go
      outputs:
      - id: GO
        semantic: BiologicalProcess
      parameters:
        fields: _id
      ## biolink 3.0.3: this is a mixin. Is this an issue?
      ##   interpretation: Y's "upregulated" state "regulated_by" X
      ## biolink 2.4.8: used process_positively_regulated_by_process
      predicate: regulated_by
      qualifiers:
        subject_direction_qualifier: upregulated
      source: "infores:go"
      response_mapping:
        $ref: '#/components/x-bte-response-mapping/positively_regulated_by'
      # testExamples:
      #   - qInput: "GO:0006641"       ## triglyceride metabolic process
      #     oneOutput: "GO:0090208"    ## positive regulation of triglyceride metabolic process
    regulates:
    ## 3207 records https://biothings.ncats.io/go_bp/query?q=_exists_:regulates
    - supportBatch: true
      useTemplating: true
      inputs:
      - id: GO
        semantic: BiologicalProcess
      requestBody:
        body:
          q: "{{ queryInputs | replPrefix('GO') }}"
          scopes: _id
      outputs:
      - id: GO
        semantic: BiologicalProcess
      parameters:
        fields: regulates.go
      ## biolink 3.0.3: this is a mixin. Is this an issue?
      ## biolink 2.4.8: used process_regulates_process
      predicate: regulates   
      source: "infores:go"
      response_mapping:
        $ref: '#/components/x-bte-response-mapping/regulates'
      # testExamples:
      #   - qInput: "GO:0090016"        ## regulation of leaflet formation 
      #     oneOutput: "GO:0090014"     ## leaflet formation
    regulated_by:
    - supportBatch: true
      useTemplating: true
      inputs:
      - id: GO
        semantic: BiologicalProcess
      requestBody:
        body:
          q: "{{ queryInputs | replPrefix('GO') }}"
          scopes: regulates.go
      outputs:
      - id: GO
        semantic: BiologicalProcess
      parameters:
        fields: _id
      ## biolink 3.0.3: this is a mixin. Is this an issue?
      ## biolink 2.4.8: used process_regulated_by_process
      predicate: regulated_by
      source: "infores:go"
      response_mapping:
        $ref: '#/components/x-bte-response-mapping/regulated_by'
      # testExamples:
      #   - qInput: "GO:0001822"        ## kidney development
      #     oneOutput: "GO:0090183"     ## regulation of kidney development
    part_of:
    ## 4928 records https://biothings.ncats.io/go_bp/query?q=_exists_:part_of
    - supportBatch: true
      useTemplating: true
      inputs:
      - id: GO
        semantic: BiologicalProcess
      requestBody:
        body:
          q: "{{ queryInputs | replPrefix('GO') }}"
          scopes: _id
      outputs:
      - id: GO
        semantic: BiologicalProcess
      parameters:
        fields: part_of.go
      predicate: part_of
      source: "infores:go"
      response_mapping:
        $ref: '#/components/x-bte-response-mapping/part_of'
      # testExamples:
      #   - qInput: "GO:0090010"        ## transforming growth factor beta receptor signaling pathway involved in primitive streak formation
      #     oneOutput: "GO:0090009"     ## primitive streak formation
    has_part:
    - supportBatch: true
      useTemplating: true
      inputs:
      - id: GO
        semantic: BiologicalProcess
      requestBody:
        body:
          q: "{{ queryInputs | replPrefix('GO') }}"
          scopes: part_of.go
      outputs:
      - id: GO
        semantic: BiologicalProcess
      parameters:
        fields: _id
      predicate: has_part
      source: "infores:go"
      response_mapping:
        $ref: '#/components/x-bte-response-mapping/has_part'
      # testExamples:
      #   - qInput: "GO:0048313"        ## Golgi inheritance
      #     oneOutput: "GO:0090168"     ## Golgi reassembly
  x-bte-response-mapping:
    has_subclass:
      GO: children
    subclass_of:
      GO: parents
    negatively_regulates:
      GO: negatively_regulates.go
    positively_regulates:
      GO: positively_regulates.go
    regulates:
      GO: regulates.go
    negatively_regulated_by:
      GO: _id
    positively_regulated_by:
      GO: _id
    regulated_by:
      GO: _id
    part_of:
      GO: part_of.go
    has_part:
      GO: _id
