openapi: 3.0.0
servers:
  - url: 'https://endotypes.renci.org/v1'
info:
  description: >-
    NIH Endotypes API - Refer to <a href=\"https://github.com/NCATS-Tangerine/cq-notebooks/blob/master/Green_CQs/GreenTeam_Endotype_Data_Documentation/README.md\">User Manual</a> on how to use the API.
  version: 1.0.0
  title: NIH Endotypes API
  termsOfService: None
  contact:
    name: Hong Yi
    url: 'https://github.com/renci/nih-endotypes-api'
    email: hongyi@renci.org
  license:
    name: MIT
    url: 'http://opensource.org/licenses/MIT'
tags:
  - name: patient
  - name: endotype
  - name: query
  - name: translator
paths:
  /endotypes:
    post:
      summary: Get list of endotypes based on input as a POST request
      description: |
        list of endotypes based on input
        @input
        - JSON object with required input

        @return
        - JSON object that returns array of predicted endotypes
      operationId: endotypes_post
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_200'
        '400':
          description: Invalid parameter
        '404':
          description: No endotypes found
        '500':
          description: Server error
      x-swagger-router-controller: controllers.default_controller
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/input'
        required: true
components:
  schemas:
    exposure:
      type: object
      properties:
        value:
          type: number
          format: float
          example: 2
        units:
          type: string
          example: ''
        exposure_type:
          type: string
          example: pm25
    visit:
      type: object
      properties:
        time:
          type: string
          example: '2017-10-12 21:12:29'
        lat:
          type: string
          example: '20'
        lon:
          type: string
          example: '20'
        visit_type:
          type: string
          example: INPATIENT
          pattern: ^(INPATIENT|OUTPATIENT|EMERGENCY|inpatient|outpatient|emergency)$
          x-regex: ^(INPATIENT|OUTPATIENT|EMERGENCY|inpatient|outpatient|emergency)$
          x-modifiers: []
        icd_codes:
          type: string
          example: 'ICD9:V12,ICD9:E002'
          description: >-
            comma-separated standard ICD-9 or ICD-10 codes associated with the
            visit
        exposures:
          type: array
          items:
            $ref: '#/components/schemas/exposure'
    input:
      type: object
      properties:
        date_of_birth:
          type: string
          example: '2017-10-04'
        race:
          type: string
          example: '1'
          description: |
            race code ranged from 1 to 6 with the following mapping:
            1: WHITE OR CAUCASIAN
            2: BLACK OR AFRICAN AMERICAN
            3: AMERICAN INDIAN OR ALASKA NATIVE
            4: ASIAN
            5: NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER
            6: OTHER/HISPANIC
        sex:
          type: string
          example: M
          pattern: ^(F|M|f|m)$
          x-regex: ^(F|M|f|m)$
          x-modifiers: []
        model_type:
          type: string
          example: M0
          pattern: '^[M|m][0-9]$'
          x-regex: '^[M|m][0-9]$'
          x-modifiers: []
        visits:
          type: array
          items:
            $ref: '#/components/schemas/visit'
    endotypes_period:
      type: object
      properties:
        start_time:
          type: string
        end_time:
          type: string
    response_200:
      type: object
      properties:
        output:
          type: array
          items:
            $ref: '#/components/schemas/response_200_output'
    response_200_output:
      properties:
        endotype_id:
          type: string
        endotype_description:
          type: string
        endotype_evidence:
          type: string
        periods:
          type: array
          items:
            $ref: '#/components/schemas/endotypes_period'
      type: object