openapi: '3.0.0'
info: 
  version: '3.0'
  title: MyGene.info API
  description: >-
    Documentation of the MyGene.info Gene Query web services. Learn more about
    [MyGene.info](http://mygene.info/)
  termsOfService: "http://mygene.info/terms/"
  contact: 
    name: "Chunlei Wu"
    x-role: "responsible developer"
    email: help@mygene.info
    x-id: "https://github.com/newgene"
  x-translator: 
    component: KP
    team: 
      - Service Provider
servers: 
  - description: "Encrypted Production server"
    url: "https://mygene.info/v3"
  - description: "Production server"
    url: "http://mygene.info/v3"
tags: 
  - name: gene
  - name: annotation
  - name: query
  - name: translator
  - name: biothings
paths: 
  "/gene": 
    post: 
      parameters: 
        - $ref: "#/components/parameters/fields"
          name: fields
        - $ref: "#/components/parameters/species"
          name: species
        - $ref: "#/components/parameters/dotfield"
          name: dotfield
        - $ref: "#/components/parameters/email"
          name: email
      requestBody: 
        content: 
          application/x-www-form-urlencoded: 
            schema: 
              properties: 
                ids: 
                  description: "multiple geneids separated by comma, e.g., \"ids=1017,1018\" or \"ids=695,ENSG00000123374\". Note that currently we only take the input ids up to 1000 maximum, the rest will be omitted."
                  type: string
              required: 
                - ids
      responses: 
        '200': 
          content: 
            application/json: 
              schema: 
                items: 
                  $ref: "#/components/schemas/Gene"
                type: array
          description: "a list of matching gene objects"
      summary: "For a list of gene ids, return the matching gene objects"
      tags: 
        - annotation
  "/gene/{geneid}": 
    get: 
      parameters: 
        - description: "Entrez or Ensembl gene id, e.g., 1017, ENSG00000170248. A retired Entrez Gene id works too if it is replaced by a new one, e.g., 245794"
          example: "1017"
          in: path
          name: geneid
          required: true
          schema: 
            type: string
        - $ref: "#/components/parameters/fields"
          name: fields
        - $ref: "#/components/parameters/dotfield"
          name: dotfield
        - $ref: "#/components/parameters/callback"
          name: callback
        - $ref: "#/components/parameters/email"
          name: email
      responses: 
        "200": 
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/Gene"
          description: "A matching gene object"
      summary: "Retrieve gene annotation object based on Entrez or Ensembl gene id, support JSONP and CORS as well."
      tags: 
        - annotation
  "/metadata": 
    get: 
      parameters: 
        - $ref: "#/components/parameters/callback"
          name: callback
      responses: 
        "200": 
          description: "MyGene.info metadata object"
      summary: "Get metadata about the data available from MyGene.info."
  "/metadata/fields": 
    get: 
      parameters: 
        - description: "Pass a search term to filter the available fields, e.g. \"search=clinvar\"."
          in: query
          name: search
          schema: 
            type: string
        - description: "Pass a prefix string to filter the available fields, e.g. \"prefix=refseq\"."
          in: query
          name: prefix
          schema: 
            type: string
        - $ref: "#/components/parameters/callback"
          name: callback
      responses: 
        "200": 
          description: "MyGene.info metadata fields object"
      summary: "Get metadata about the data fields available from MyGene.info."
  "/query": 
    get: 
      parameters: 
        - description: "Query string. Examples \"CDK2\", \"NM_052827\", \"204639_at\", \"chr1:151,073,054-151,383,976\", \"hg19.chr1:151073054-151383976\". The detailed query syntax can be found from our [docs](http://docs.mygene.info/en/latest/doc/query_service.html)."
          example: CDK2
          in: query
          name: q
          required: true
          schema: 
            type: string
        - $ref: "#/components/parameters/fields"
          name: fields
        - $ref: "#/components/parameters/species"
          name: species
        - $ref: "#/components/parameters/size"
          name: size
        - $ref: "#/components/parameters/from"
          name: from
        - $ref: "#/components/parameters/sort"
          name: sort
        - description: "a single field or comma-separated fields to return facets, for example, \"facets=taxid\", \"facets=taxid,type_of_gene\"."
          in: query
          name: facets
          schema: 
            type: string
        - description: "relevant when faceting on species (i.e., “facets=taxid” are passed). It’s used to pass species filter without changing the scope of faceting, so that the returned facet counts won’t change. Either species name or taxonomy id can be used, just like “species” parameter."
          in: query
          name: species_facet_filter
          schema: 
            type: string
        - description: "when passed as “True” or “1”, the query returns only the hits with valid Entrez gene ids. Default: False."
          in: query
          name: entrezonly
          schema: 
            type: boolean
        - description: "when passed as “True” or “1”, the query returns only the hits with valid Ensembl gene ids. Default: False."
          in: query
          name: ensemblonly
          schema: 
            type: boolean
        - $ref: "#/components/parameters/callback"
          name: callback
        - $ref: "#/components/parameters/dotfield"
          name: dotfield
        - $ref: "#/components/parameters/email"
          name: email
      responses: 
        "200": 
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/QueryResult"
          description: "A query response object with \"hits\" property"
      summary: "Make gene query and return matching gene list. Support JSONP and CORS as well."
      tags: 
        - query
    post: 
      parameters: 
        - $ref: "#/components/parameters/fields"
          name: fields
        - $ref: "#/components/parameters/species"
          name: species
        - $ref: "#/components/parameters/dotfield"
          name: dotfield
        - $ref: "#/components/parameters/email"
          name: email
      requestBody: 
        content: 
          application/x-www-form-urlencoded: 
            schema: 
              properties: 
                q: 
                  description: "multiple query terms seperated by comma (also support \"+\" or white space), but no wildcard, e.g., \"q=1017,1018\" or \"q=CDK2+BTK\""
                  type: string
                scopes: 
                  description: "Specify one or more fields (separated by comma) as the search \"scopes\", e.g., \"scopes=entrezgene\", \"scopes=entrezgene,ensemblgene\". The available \"fields\" can be passed to \"scopes\" parameter are listed [here](http://mygene.info/doc/query_service.html#available-fields). Default: \"scopes=entrezgene,ensemblgene,retired\" (either Entrez or Ensembl gene ids)."
                  type: string
              required: 
                - q
      responses: 
        "200": 
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/QueryPOSTResult"
          description: "Query response objects with \"hits\" property"
      summary: "Make gene batch query and return matching gene hits"
      tags: 
        - query
      ## not doing the reverse for GeneToTranscript, 
      x-bte-kgs-operations: 
        - $ref: "#/components/x-bte-kgs-operations/PathwayHasHumanGene"
        - $ref: "#/components/x-bte-kgs-operations/HumanGeneInPathway"
        - $ref: "#/components/x-bte-kgs-operations/GeneToMF"
        - $ref: "#/components/x-bte-kgs-operations/GeneToBP"
        - $ref: "#/components/x-bte-kgs-operations/GeneToCC"
        - $ref: "#/components/x-bte-kgs-operations/MFToGene"
        - $ref: "#/components/x-bte-kgs-operations/BPToGene"
        - $ref: "#/components/x-bte-kgs-operations/CCToGene"
        - $ref: "#/components/x-bte-kgs-operations/GeneToTranscript"
        - $ref: "#/components/x-bte-kgs-operations/GeneToProtein"
        - $ref: "#/components/x-bte-kgs-operations/ProteinToGene"
        - $ref: "#/components/x-bte-kgs-operations/HumanGeneToHomolog"
components: 
  parameters: 
    callback: 
      description: "you can pass a \"callback\" parameter to make a JSONP call."
      in: query
      name: callback
      schema: 
        type: string
    dotfield: 
      description: "control the format of the returned fields when passed \"fields\" parameter contains dot notation, e.g. \"fields=refseq.rna\". If \"True\" or \"1\", the returned data object contains a single \"refseq.rna\" field, otherwise (\"False\" or \"0\"), a single \"refseq\" field with a sub-field of \"rna\". Default: True."
      in: query
      name: dotfield
      schema: 
        type: boolean
    email: 
      description: "If you are regular users of our services, we encourage you to provide us an email, so that we can better track the usage or follow up with you."
      in: query
      name: email
      schema: 
        type: string
    fields: 
      description: "a comma-separated fields to limit the fields returned from the matching gene hits. The supported field names can be found from any gene object (e.g. http://mygene.info/v3/gene/1017). Note that it supports dot notation as well, e.g., you can pass \"refseq.rna\". If \"fields=all\", all available fields will be returned. Default: \"symbol,name,taxid,entrezgene,ensemblgene\"."
      in: query
      name: fields
      schema: 
        type: string
    from: 
      description: "the number of matching gene hits to skip, starting from 0. Combining with \"size\" parameter, this can be useful for paging. Default: 0."
      in: query
      name: from
      schema: 
        type: integer
    size: 
      description: "the maximum number of matching gene hits to return (with a cap of 1000 at the moment). Default: 10."
      in: query
      name: size
      schema: 
        type: integer
    sort: 
      description: "the comma-separated fields to sort on. Prefix with \"-\" for descending order, otherwise in ascending order. Default: sort by matching scores in decending order."
      in: query
      name: sort
      schema: 
        type: string
    species: 
      description: "can be used to limit the gene hits from given species. You can use \"common names\" for nine common species (human, mouse, rat, fruitfly, nematode, zebrafish, thale-cress, frog and pig). All other species, you can provide their taxonomy ids. Multiple species can be passed using comma as a separator. Default: human,mouse,rat."
      in: query
      name: species
      schema: 
        type: string
  schemas: 
    Gene: 
      properties: 
        AnimalQTLdb: 
          type: string
        FLYBASE: 
          type: string
        HGNC: 
          type: string
        HPRD: 
          type: string
        MGI: 
          type: string
        MIM: 
          type: string
        RATMAP: 
          type: string
        RGD: 
          type: string
        TAIR: 
          type: string
        Vega: 
          type: string
        WormBase: 
          type: string
        Xenbase: 
          type: string
        ZFIN: 
          type: string
        _id: 
          type: string
        accession: 
          type: object
        alias: 
          type: string
        ec: 
          type: string
        ensembl: 
          type: object
        entrezgene: 
          format: int64
          type: integer
        generif: 
          properties: 
            pubmed: 
              $ref: "#/components/schemas/int64_or_array"
            text: 
              type: string
          type: object
        genomic_pos: 
          type: object
        go: 
          type: object
        homologene: 
          type: object
        interpro: 
          type: object
        locus_tag: 
          type: string
        map_location: 
          type: string
        miRBase: 
          type: string
        name: 
          type: string
        other_names: 
          $ref: "#/components/schemas/string_or_array"
        pathway: 
          type: object
        pdb: 
          $ref: "#/components/schemas/string_or_array"
        pfam: 
          type: string
        pharmgkb: 
          type: string
        pid: 
          type: string
        pir: 
          type: string
        prosite: 
          type: string
        reagent: 
          type: object
        refseq: 
          type: object
        reporter: 
          type: object
        summary: 
          type: string
        symbol: 
          type: string
        taxid: 
          format: int32
          type: integer
        type_of_gene: 
          type: string
        umls: 
          type: object
        unigene: 
          type: string
        uniprot: 
          properties: 
            Swiss-Prot: 
              $ref: "#/components/schemas/string_or_array"
            TrEMBL: 
              $ref: "#/components/schemas/string_or_array"
          type: object
        wikipedia: 
          properties: 
            url_stub: 
              type: string
          type: object
      required: 
        - _id
        - taxid
      type: object
    MinimalGene: 
      properties: 
        _id: 
          type: string
        entrezgene: 
          format: int64
          type: integer
        name: 
          type: string
        symbol: 
          type: string
        taxid: 
          format: int32
          type: integer
      required: 
        - _id
        - taxid
      type: object
    QueryPOSTResult: 
      items: 
        allOf: 
          - $ref: "#/components/schemas/MinimalGene"
          - properties: 
              _score: 
                format: float
                type: number
              query: 
                type: string
            type: object
      type: array
    QueryResult: 
      properties: 
        hits: 
          items: 
            $ref: "#/components/schemas/Gene"
          type: array
        max_score: 
          format: float
          type: number
        took: 
          type: integer
        total: 
          type: integer
      type: object
    int64_or_array: 
      oneOf: 
        - items: 
            format: int64
            type: integer
          type: array
        - format: int64
          type: integer
    string_or_array: 
      oneOf: 
        - items: 
            type: string
          type: array
        - type: string
  x-bte-response-mapping: 
    entrezgene:
      NCBIGENE: entrezgene
    reactomePathway: 
      REACT: pathway.reactome.id
      name: pathway.reactome.name
    keggPathway: 
      KEGG: pathway.kegg.id
      name: pathway.kegg.name
    wikipathway: 
      WIKIPATHWAYS: pathway.wikipathways.id
      name: pathway.wikipathways.name  
    molecularFunction: 
      GO: go.MF.id
      evidence: go.MF.evidence
      pubmed: go.MF.pubmed
      name: go.MF.term
    biologicalProcess: 
      GO: go.BP.id
      evidence: go.BP.evidence
      pubmed: go.BP.pubmed
      name: go.BP.term
    cellularComponent: 
      GO: go.CC.id
      evidence: go.CC.evidence
      pubmed: go.CC.pubmed
      name: go.CC.term
    ensemblTranscript: 
      ENSEMBL: ensembl.transcript
    ensemblProtein: 
      ENSEMBL: ensembl.protein
    uniprotProtein: 
      UNIPROTKB: uniprot.Swiss-Prot
    ensemblGene: 
      ENSEMBL: ensembl.gene
    ## include ortholog_type for panther?
    pantherMGI:
      MGI: pantherdb.ortholog.MGI
      inTaxon: pantherdb.ortholog.taxid
    pantherRGD:
      RGD: pantherdb.ortholog.RGD
      inTaxon: pantherdb.ortholog.taxid
    pantherZFIN:
      ZFIN: pantherdb.ortholog.ZFIN
      inTaxon: pantherdb.ortholog.taxid      
    pantherWorm:
      WormBase: pantherdb.ortholog.WormBase
      inTaxon: pantherdb.ortholog.taxid   
    pantherSGD:
      SGD: pantherdb.ortholog.SGD
      inTaxon: pantherdb.ortholog.taxid         
    pantherDicty:
      dictyBase: pantherdb.ortholog.dictyBase
      inTaxon: pantherdb.ortholog.taxid    
    pantherPom:
      POMBASE: pantherdb.ortholog.PomBase
      inTaxon: pantherdb.ortholog.taxid
  x-bte-kgs-operations: 
  ## notes:
  ## - reactome parser could retrieve more info: evidence codes, species, website 
  ## - for ConsensusPathDB, look at "content information" tab at http://cpdb.molgen.mpg.de/CPDB to see versions of the pathway databases they used
    PathwayHasHumanGene:  ## using Reactome, KEGG, Wikipathways
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: entrezgene
          species: human
        requestBody: 
          body: 
            q: "{inputs[0]}"
            scopes: pathway.reactome.id  ## example: R-HSA-70895
            size: 1000
          header: application/x-www-form-urlencoded
        inputs: 
          - id: REACT
            semantic: Pathway
        outputs:  
          - id: NCBIGENE
            semantic: Gene
        predicate: has_participant
        source: Reactome
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/entrezgene"
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: entrezgene
          species: human
        requestBody: 
          body: 
            q: "{inputs[0]}"
            scopes: pathway.kegg.id  ## example: hsa00120
            size: 1000
          header: application/x-www-form-urlencoded
        inputs: 
          - id: KEGG
            semantic: Pathway
        outputs: 
          - id: NCBIGENE
            semantic: Gene
        predicate: has_participant
        ## don't abbreviate since multiple resources named "CPDB"
        source: ConsensusPathDB
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/entrezgene"
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: entrezgene
          species: human
        requestBody: 
          body: 
            q: "{inputs[0]}"
            scopes: pathway.wikipathways.id  ## example: WP3942
            size: 1000
          header: application/x-www-form-urlencoded
        inputs: 
          - id: WIKIPATHWAYS
            semantic: Pathway
        outputs: 
          - id: NCBIGENE
            semantic: Gene
        predicate: has_participant
        ## don't abbreviate since multiple resources named "CPDB"
        source: ConsensusPathDB
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/entrezgene"
    HumanGeneInPathway:   ## using Reactome, KEGG, Wikipathways
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: pathway.reactome
          species: human
        requestBody: 
          body: 
            q: "{inputs[0]}"
            scopes: entrezgene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: NCBIGENE
            semantic: Gene
        outputs: 
          - id: REACT
            semantic: Pathway
        predicate: participates_in
        source: Reactome
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/reactomePathway"
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: pathway.kegg
          species: human
        requestBody: 
          body: 
            q: "{inputs[0]}"
            scopes: entrezgene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: NCBIGENE
            semantic: Gene
        outputs: 
          - id: KEGG
            semantic: Pathway
        predicate: participates_in
        source: ConsensusPathDB
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/keggPathway"
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: pathway.wikipathways
          species: human
        requestBody: 
          body: 
            q: "{inputs[0]}"
            scopes: entrezgene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: NCBIGENE
            semantic: Gene
        outputs: 
          - id: WIKIPATHWAYS
            semantic: Pathway
        predicate: participates_in
        source: ConsensusPathDB
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/wikipathway"
    GeneToMF: 
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: go.MF
          species: human
        requestBody: 
          body: 
            q: "{inputs[0]}"
            scopes: entrezgene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: NCBIGENE
            semantic: Gene
        outputs: 
          - id: GO
            semantic: MolecularActivity
        predicate: enables
        source: "NCBI Gene"
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/molecularFunction" 
    GeneToBP: 
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: go.BP
          species: human
        requestBody: 
          body: 
            q: "{inputs[0]}"
            scopes: entrezgene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: NCBIGENE
            semantic: Gene
        outputs: 
          - id: GO
            semantic: BiologicalProcess
        predicate: enables
        source: "NCBI Gene"
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/biologicalProcess"
    GeneToCC: 
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: go.CC
          species: human
        requestBody: 
          body: 
            q: "{inputs[0]}"
            scopes: entrezgene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: NCBIGENE
            semantic: Gene
        outputs: 
          - id: GO
            semantic: CellularComponent
        predicate: enables
        source: "NCBI Gene"
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/cellularComponent"  
    MFToGene: 
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: entrezgene
          species: human
        requestBody: 
          body: 
            q: "{inputs[0]}"
            scopes: go.MF.id
            size: 1000
          header: application/x-www-form-urlencoded 
        inputs: 
          - id: GO
            semantic: MolecularActivity          
        outputs: 
          - id: NCBIGENE
            semantic: Gene
        predicate: enabled_by
        source: "NCBI Gene"
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/entrezgene"
    BPToGene: 
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: entrezgene
          species: human
        requestBody: 
          body: 
            q: "{inputs[0]}"
            scopes: go.BP.id
            size: 1000
          header: application/x-www-form-urlencoded 
        inputs: 
          - id: GO
            semantic: BiologicalProcess          
        outputs: 
          - id: NCBIGENE
            semantic: Gene
        predicate: enabled_by
        source: "NCBI Gene"
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/entrezgene"  
    CCToGene: 
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: entrezgene
          species: human
        requestBody: 
          body: 
            q: "{inputs[0]}"
            scopes: go.CC.id
            size: 1000
          header: application/x-www-form-urlencoded 
        inputs: 
          - id: GO
            semantic: CellularComponent          
        outputs: 
          - id: NCBIGENE
            semantic: Gene
        predicate: enabled_by
        source: "NCBI Gene"
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/entrezgene"  
    GeneToTranscript: 
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: ensembl.transcript
          species: human
        requestBody: 
          body:  
            q: "{inputs[0]}"
            scopes: ensembl.gene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: ENSEMBL
            semantic: Gene
        outputs: 
          - id: ENSEMBL
            semantic: Transcript
        ## no biolink predicate for gene -> transcript. "has_gene_product" seems to be for only functional rnas, proteins
        predicate: related_to
        source: Ensembl
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/ensemblTranscript" 
    GeneToProtein: 
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: ensembl.protein
          species: human
        requestBody: 
          body:  
            q: "{inputs[0]}"
            scopes: ensembl.gene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: ENSEMBL
            semantic: Gene
        outputs: 
          - id: ENSEMBL
            semantic: Protein
        predicate: has_gene_product
        source: Ensembl
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/ensemblProtein" 
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: uniprot.Swiss-Prot
          species: human
        requestBody: 
          body: 
            q: "{inputs[0]}"
            scopes: ensembl.gene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: ENSEMBL
            semantic: Gene
        outputs: 
          - id: UNIPROTKB
            semantic: Protein
        predicate: has_gene_product
        ## technically from the ID mapping file https://www.uniprot.org/downloads#uniprotkblink
        source: UniprotKB
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/uniprotProtein"
    ProteinToGene: 
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: ensembl.gene
          species: human
        requestBody: 
          body:  
            q: "{inputs[0]}"
            scopes: ensembl.protein
          header: application/x-www-form-urlencoded
        inputs: 
          - id: ENSEMBL
            semantic: Protein
        outputs: 
          - id: ENSEMBL
            semantic: Gene
        ## no predicate inverse for "has_gene_product"
        predicate: related_to
        source: Ensembl
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/ensemblGene" 
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: ensembl.gene
          species: human
        requestBody: 
          body:  
            q: "{inputs[0]}"
            scopes: uniprot.Swiss-Prot
          header: application/x-www-form-urlencoded
        inputs: 
          - id: UNIPROTKB
            semantic: Protein
        outputs: 
          - id: ENSEMBL
            semantic: Gene
        ## no predicate inverse for "has_gene_product"
        predicate: related_to
        ## technically from the ID mapping file https://www.uniprot.org/downloads#uniprotkblink
        source: UniprotKB
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/ensemblGene" 
    ## pantherdb gives orthologs and paralogs, which are both homologs. Hence we use homolog
    ## currently output: MGI, RGD, ZFIN, WormBase, SGD, dictyBase, POMBASE
    ## Biolink questions: using FB (rather than FlyBase)?? Also no TAIR. 
    ## Also have Ensembl (for specific non-human species) and UniprotKB (for all orthologs)
    HumanGeneToHomolog: 
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: pantherdb.ortholog
        requestBody: 
          body:  
            q: "{inputs[0]}"
            scopes: entrezgene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: NCBIGENE
            semantic: Gene  
        outputs: 
          - id: MGI
            semantic: Gene
        predicate: homologous_to
        source: PANTHER
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/pantherMGI" 
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: pantherdb.ortholog
        requestBody: 
          body:  
            q: "{inputs[0]}"
            scopes: entrezgene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: NCBIGENE
            semantic: Gene  
        outputs: 
          - id: RGD
            semantic: Gene
        predicate: homologous_to
        source: PANTHER
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/pantherRGD"           
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: pantherdb.ortholog
        requestBody: 
          body:  
            q: "{inputs[0]}"
            scopes: entrezgene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: NCBIGENE
            semantic: Gene  
        outputs: 
          - id: ZFIN
            semantic: Gene
        predicate: homologous_to
        source: PANTHER
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/pantherZFIN"   
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: pantherdb.ortholog
        requestBody: 
          body:  
            q: "{inputs[0]}"
            scopes: entrezgene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: NCBIGENE
            semantic: Gene  
        outputs: 
          - id: WormBase
            semantic: Gene
        predicate: homologous_to
        source: PANTHER
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/pantherWorm"   
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: pantherdb.ortholog
        requestBody: 
          body:  
            q: "{inputs[0]}"
            scopes: entrezgene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: NCBIGENE
            semantic: Gene  
        outputs: 
          - id: SGD
            semantic: Gene
        predicate: homologous_to
        source: PANTHER
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/pantherSGD"   
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: pantherdb.ortholog
        requestBody: 
          body:  
            q: "{inputs[0]}"
            scopes: entrezgene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: NCBIGENE
            semantic: Gene  
        outputs: 
          - id: dictyBase
            semantic: Gene
        predicate: homologous_to
        source: PANTHER
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/pantherDicty"   
      - supportBatch: true
        inputSeparator: ","
        method: post
        parameters: 
          fields: pantherdb.ortholog
        requestBody: 
          body:  
            q: "{inputs[0]}"
            scopes: entrezgene
          header: application/x-www-form-urlencoded
        inputs: 
          - id: NCBIGENE
            semantic: Gene  
        outputs: 
          - id: POMBASE
            semantic: Gene
        predicate: homologous_to
        source: PANTHER
        response_mapping: 
          $ref: "#/components/x-bte-response-mapping/pantherPom"