{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "MyVariant.info API",
    "description": "Documentation of the MyVariant.info Variant Query web services. Learn more about [MyVariant.info](http://myvariant.info/)"
  },
  "host": "myvariant.info",
  "basePath": "/v1",
  "schemes": [
    "http",
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "query",
      "description": "Make variant query and return matching variant list."
    },
    {
      "name": "variant",
      "description": "Variant annotation information"
    },
    {
      "name": "metadata",
      "description": "Metadata about the data available from MyVariant.info."
    }
  ],
  "paths": {
    "/query": {
      "get": {
        "tags": [
          "query"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "query string. Examples: \"rs58991260\", \"chr1:69000-70000\", \"dbsnp.vartype:snp\". The detailed query syntax can be found at http://docs.myvariant.info/en/latest/doc/variant_query_service.html#query-syntax",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "a comma-separated fields to limit the fields returned from the matching gene hits. The supported field names can be found from any variant object (e.g. http://myvariant.info/v1/variant/chr16:g.28883241A>G). Note that it supports dot notation, and wildcards as well, e.g., you can pass \"dbnsfp\", \"dbnsfp.genename\", or \"dbnsfp.aa.*\". If \"fields=all\", all available fields will be returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "the maximum number of matching gene hits to return (with a cap of 1000 at the moment). Default 10.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "from",
            "in": "query",
            "description": "the number of matching gene hits to skip, starting from 0. Combining with \"size\" parameter, this can be useful for paging. Default: 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "the comma-separated fields to sort on. Prefix with \"-\" for descending order, otherwise in ascending order. Default: sort by matching scores in decending order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "facets",
            "in": "query",
            "description": "a single field or comma-separated fields to return facets, for example, \u201cfacets=dbsnp.vartype.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fetch_all",
            "in": "query",
            "description": "if TRUE, allows fast retrieval of all unsorted query hits in 1000 hit batches. The return object contains a _scroll_id field, which when passed back to the query endpoint in the scroll_id parameter, returns the next 1000 unordered results.",
            "type": "string"
          },
          {
            "name": "scroll_id",
            "in": "query",
            "description": "athe scroll_id from a previous request with fetch_all = TRUE. When this request is made, the response contains the next 1000 unordered query hits from your query (until no hits are left to return). As the query was supplied in the original query request (with fetch_all = TRUE), the query (q parameter) is ignored if scroll_id is supplied.",
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "you can pass a \"callback\" parameter to make a JSONP call.",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "If you are regular users of our services, we encourage you to provide us an email, so that we can better track the usage or follow up with you.",
            "type": "string"
          }
        ],
        "operationId": "queryVariant",
        "description": "Make variant query and return matching variant list.",
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "Successful response"
          }
        }
      },
      "post": {
        "tags": [
          "query"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "multiple query terms seperated by comma (also support \"+\" or white space), but no wildcard, e.g., \"q=rs58991260,rs2500\"",
            "required": true,
            "type": "string"
          },
          {
            "name": "scopes",
            "in": "query",
            "description": "specify one or more fields (separated by comma) as the search \"scopes\", e.g., \"scopes=dbsnp.rsid\", \"scopes=dbsnp.rsid,dbnsfp.genename\". The available \"fields\" can be passed to \"scopes\" parameter are listed here: (coming soon).",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "a comma-separated fields to limit the fields returned from the matching gene hits. The supported field names can be found from any variant object (e.g. http://myvariant.info/v1/variant/chr16:g.28883241A>G). Note that it supports dot notation, and wildcards as well, e.g., you can pass \"dbnsfp\", \"dbnsfp.genename\", or \"dbnsfp.aa.*\". If \"fields=all\", all available fields will be returned. Default: \"all\".",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "If you are regular users of our services, we encourage you to provide us an email, so that we can better track the usage or follow up with you.",
            "required": false,
            "type": "string"
          }
        ],
        "operationId": "queryGenes",
        "description": "Make gene queries in batch.\n",
        "responses": {
          "200": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "description": "Successful response"
          }
        }
      }
    },
    "/metadata": {
      "get": {
        "tags": [
          "metadata"
        ],
        "parameters": [
          {
            "name": "callback",
            "in": "query",
            "description": "you can pass a \"callback\" parameter to make a JSONP call.",
            "required": false,
            "type": "string"
          }
        ],
        "operationId": "getMetadata",
        "description": "Get metadata about the data available from MyVariant.info\n",
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "Successful response"
          }
        }
      }
    },
    "/variant": {
      "post": {
        "tags": [
          "variant"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "multiple variantids seperated by comma, e.g., \"ids=chr1:g.35367C>T,chr7:g.55241707G>T,chr16:g.28883241A>G\". Note that currently we only take the input ids up to 1000 maximum, the rest will be omitted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "a comma-separated fields to limit the fields returned from the matching gene hits. The supported field names can be found from any variant object (e.g. http://myvariant.info/v1/variant/chr16:g.28883241A>G). Note that it supports dot notation, and wildcards as well, e.g., you can pass \"dbnsfp\", \"dbnsfp.genename\", or \"dbnsfp.aa.*\". If \"fields=all\", all available fields will be returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "If you are regular users of our services, we encourage you to provide us an email, so that we can better track the usage or follow up with you.",
            "required": false,
            "type": "string"
          }
        ],
        "operationId": "getVariants",
        "description": "Make variant queries in batch for a list of HGVS name based ids\n",
        "responses": {
          "200": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "description": "Successful response"
          }
        }
      }
    },
    "/metadata/fields": {
      "get": {
        "tags": [
          "metadata"
        ],
        "parameters": [
          {
            "name": "callback",
            "in": "query",
            "description": "you can pass a \"callback\" parameter to make a JSONP call.",
            "required": false,
            "type": "string"
          }
        ],
        "operationId": "getMetadataFields",
        "description": "Get metadata about the data available from MyVariant.info\n",
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "Successful response"
          }
        }
      }
    },
    "/variant/{variantid}": {
      "get": {
        "tags": [
          "variant"
        ],
        "parameters": [
          {
            "name": "variantid",
            "in": "path",
            "description": "HGVS name based variant id, using genomic location based on hg19 human genome assembly, e.g. chr1:g.35367G>A, chr7:g.55241707G>T, chr16:g.28883241A>G",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "a comma-separated fields to limit the fields returned from the matching gene hits. The supported field names can be found from any variant object (e.g. http://myvariant.info/v1/variant/chr16:g.28883241A>G). Note that it supports dot notation, and wildcards as well, e.g., you can pass \"dbnsfp\", \"dbnsfp.genename\", or \"dbnsfp.aa.*\". If \"fields=all\", all available fields will be returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "you can pass a \"callback\" parameter to make a JSONP call.",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "If you are regular users of our services, we encourage you to provide us an email, so that we can better track the usage or follow up with you.",
            "required": false,
            "type": "string"
          }
        ],
        "operationId": "getVariant",
        "description": "Retrieve gene annotation based on Entrez or Ensembl gene id, support\nJSONP and CORS as well.\n",
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "Successful response"
          }
        }
      }
    }
  }
}