openapi: '3.0.0'
info:
  version: '1.0'
  title: MyVariant.info API
  description: >-
    Documentation of the MyVariant.info Variant Query web services. Learn more about
    [MyVariant.info](http://myvariant.info/)
  termsOfService: http://myvariant.info/terms/
  contact:
    name: Chunlei Wu
    x-role: responsible developer
    email: help@myvariant.info
    x-id: 'https://github.com/newgene'
servers:
  - url: 'http://myvariant.info/v1'
    description: 'Production server'
tags:
  - name: variant
  - name: annotation
  - name: query
  - name: translator
paths:
  /query:
    get:
      summary: 'Make variant query and return matching variant hits'
      parameters:
        - name: q
          in: query
          description: >-
            Query string. Examples "rs752396467", "possibly_damaging", "CDK7".
          required: true
          x-valueType:
            - 'http://identifiers.org/hgnc.symbol/'
            - 'http://identifiers.org/dbsnp/'
            - 'http://identifiers.org/ensembl.gene/'
            - 'http://identifiers.org/ensembl.transcript/'
            - 'http://identifiers.org/ensembl.protein/'
            - 'http://identifiers.org/ccds/'
            - 'http://identifiers.org/uniprot/'
            - 'http://identifiers.org/clinvar/'
            - 'http://identifiers.org/omim/'
            - 'http://identifiers.org/efo/'
            - 'http://identifiers.org/orphanet/'
            - 'http://identifiers.org/hgnc/'
            - 'http://identifiers.org/pubmed/'
            - 'http://identifiers.org/refseq/'
            - 'http://identifiers.org/clinicalsignificance/'
            - 'http://biothings.io/terms/drugname/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/hgnc.symbol/'
              template: cadd.gene.genename:{{input}} OR cgi.gene:{{input}} OR clinvar.gene.symbol:{{input}} OR dbnsfp.genename:{{input}} OR dbsnp.gene.symbol:{{input}} OR docm.genename:{{input}} OR emv.gene:{{input}} OR evs.gene.symbol:{{input}} OR snpeff.ann.genename:{{input}}
            - valueType: 'http://identifiers.org/dbsnp/'
              template: clinvar.rsid:{{input}} OR dbnsfp.rsid:{{input}} OR dbsnp.rsid:{{input}} OR evs.rsid:{{input}}
            - valueType: 'http://identifiers.org/ensembl.gene/'
              template: dbnsfp.ensembl.geneid:{{input}} OR cadd.gene.gene_id:{{input}}
            - valueType: 'http://identifiers.org/ensembl.transcript'
              template: dbnsfp.ensembl.transcriptid:{{input}} OR cadd.gene.feature_id:{{input}}
            - valueType: 'http://identifiers.org/ensembl.protein/'
              template: dbnsfp.ensembl.proteinid:{{input}}
            - valueType: 'http://identifiers.org/ccds/'
              template: cadd.gene.ccds_id:{{input}}
            - valueType: 'http://identifiers.org/uniprot/'
              template: dbnsfp.uniprot.acc:{{input}}
            - valueType: 'http://identifiers.org/omim/'
              template: clinvar.omim:{{input}}
            - valueType: 'http://identifiers.org/efo/'
              template: clinvar.rcv.conditions.identifiers.efo:{{input}}
            - valueType: 'http://identifiers.org/orphanet/'
              template: clinvar.rcv.conditions.identifiers.orphanet:{{input}}
            - valueType: 'http://identifiers.org/hgnc/'
              template: clinvar.gene.id:{{input}} OR dbsnp.gene.geneid:{{input}}
            - valueType: 'http://identifiers.org/pubmed/'
              template: civic.evidence_items.source.pubmed_id:{{input}} OR docm.pubmed_id:{{input}} OR gwassnps.pubmed:{{input}}
            - valueType: 'http://identifiers.org/clinicalsignificance/'
              template: clinvar.rcv.clinical_significance:{{input}}
            - valueType: 'http://biothings.io/terms/drugname/'
              template: civic.evidence_items.drugs.name:{{input}}
          schema:
            type: string
      responses:
        '200':
          description: 'A query response object with "hits" property'
          x-responseValueType:
            - path: _id
              valueType: 'http://identifiers.org/hgvs/'
          x-JSONLDContext:
            'https://raw.githubusercontent.com/NCATS-Tangerine/translator-api-registry/master/myvariant.info/jsonld_context/myvariant_query_1.1.json'
  '/variant/{variantid}':
    get:
      summary: 'For a given variant id, return the matching variant object'
      parameters:
        - name: variantid
          in: path
          description: >-
            Variant HGVS ID, dbSNP ID
          required: true
          x-valueType:
            - 'http://identifiers.org/hgvs/'
            - 'http://identifiers.org/dbsnp/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/hgvs/'
              template: /variant/{{input}}
            - valueType: 'http://identifiers.org/dbsnp/'
              template: /variant/{{input}}
          schema:
            type: string
      responses:
        '200':
          description: 'A variant object'
          x-responseValueType:
            - path: cadd.gene.genename
              valueType: 'http://identifiers.org/hgnc.symbol/'
            - path: clinvar.rsid
              valueType: 'http://identifiers.org/dbsnp/'
            - path: cadd.gene.gene_id
              valueType: 'http://identifiers.org/ensembl.gene/'
            - path: cadd.gene.feature_id
              valueType: 'http://identifiers.org/ensembl.transcript/'
            - path: cadd.gene.ccds_id
              valueType: 'http://identifiers.org/ccds/'
            - path: clinvar.uniprot
              valueType: 'http://identifiers.org/uniprot/'
            - path: clinvar.rcv.accession
              valueType: 'http://identifiers.org/clinvar/'
            - path: clinvar.rcv.conditions.identifiers.omim
              valueType: 'http://identifiers.org/omim/'
            - path: clinvar.rcv.conditions.identifiers.efo
              valueType: 'http://identifiers.org/efo/'
            - path: clinvar.rcv.conditions.identifiers.orphanet
              valueType: 'http://identifiers.org/orphanet/'
            - path: clinvar.gene.id
              valueType: 'http://identifiers.org/hgnc/'
            - path: dbnsfp.ensembl.proteinid
              valueType: 'http://identifiers.org/ensembl.protein/'
            - path: docm.pubmed_id
              valueType: 'http://identifiers.org/pubmed/'
            - path: evs.gene.accession
              valueType: 'http://identifiers.org/refseq/'
            - path: clinvar.rcv.clinical_significance
              valueType: 'http://identifiers.org/clinicalsignificance/'
            - path: civic.evidence_items
              valueType: 'http://biothings.io/concepts/clinical_evidence/'
            - path: civic.evidence_items.drugs.name
              valueType: 'http://biothings.io/terms/drugname/'
          x-JSONLDContext:
            'https://raw.githubusercontent.com/NCATS-Tangerine/translator-api-registry/master/myvariant.info/jsonld_context/myvariant_variant_1.1.json'
