openapi: '3.0.0'
info:
  version: '1.0'
  title: Ensembl API
  description: >-
    Ensembl REST API provides language agnostic bindings to Ensembl data.
  termsOfService: http://dgidb.genome.wustl.edu/contact
  contact:
    name: Paul Flicek
    x-role: responsible developer
    email: help@ensembl.org
    x-id: 
      - 'https://github.com/paul'
servers:
  - url: 'http://rest.ensembl.org'
    description: 'Production server'
tags:
  - name: phenotype
  - name: variant
  - name: genotype
  - name: translator
paths:
  '/variation/human/{dbsnp}?phenotypes=1':
    get:
      summary: 'Uses a variant identifier (e.g. rsID) to return the variation phenotype'
      parameters:
        - name: dbsnp
          in: path
          description: >-
            Put dbsnp ids here, e.g. rs56116432
          required: true
          x-valueType:
            - 'http://identifiers.org/dbsnp/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/dbsnp/'
              template: '/variation/human/{dbsnp}?phenotypes=1'
          schema:
            type: string
      responses:
        '200':
          description: 'list of phenotypes related to the variant'
          x-responseValueType:
            - path: phenotypes
              valueType: 'http://biothings.io/concepts/phenotypes/'
  '/variation/human/{dbsnp}?genotypes=1':
    get:
      summary: 'Uses a variant identifier (e.g. rsID) to return the variation genotypes'
      parameters:
        - name: dbsnp
          in: path
          description: >-
            Put dbsnp ids here, e.g. rs56116432
          required: true
          x-valueType:
            - 'http://identifiers.org/dbsnp/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/dbsnp/'
              template: '/variation/human/{dbsnp}?genotypes=1'
          schema:
            type: string
      responses:
        '200':
          description: 'list of phenotypes related to the variant'
          x-responseValueType:
            - path: genotypes
              valueType: 'http://biothings.io/concepts/genotypes/'
  '/taxonomy/id/{taxonomyid}':
    get:
      summary: 'Search for a taxonomic term by its identifier or name'
      parameters:
        - name: taxonomyid
          in: path
          description: >-
            Put taxonomy ids here, e.g. 9606
          required: true
          x-valueType:
            - 'http://identifiers.org/taxonomy/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/taxonomy/'
              template: '/taxonomy/id/{taxonomyid}?content-type=application/json'
          schema:
            type: string
      responses:
        '200':
          description: 'taxonomy annotation information'
          x-responseValueType:
            - path: parent.id
              valueType: 'http://identifiers.org/taxonomy/'
          x-JSONLDContext:
            'ensembl/jsonld_context/ensembl_taxonomy_context.json'
  '/lookup/id/{geneid}':
    get:
      summary: 'Find the species and database for a single identifier e.g. gene, transcript, protein'
      parameters:
        - name: geneid
          in: path
          description: >-
            Put ensembl gene ids here, e.g. ENSG00000157764
          required: true
          x-valueType:
            - 'http://identifiers.org/ensembl.gene/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/ensembl.gene/'
              template: '/lookup/id/{geneid}?content-type=application/json;phenotypes=1;expand=1'
          schema:
            type: string
      responses:
        '200':
          description: 'ensembl gene lookup information'
          x-responseValueType:
            - path: Transcript.Exon.id
              valueType: 'http://identifiers.org/ensembl.exon/'
            - path: Transcript.Translation.id
              valueType: 'http://identifiers.org/ensembl.translation/'
            - path: phenotypes.ontology_accessions
              valueType: 'http://identifiers.org/efo/'
            - path: phenotypes.ontology_accessions
              valueType: 'http://identifiers.org/hp/'
          x-JSONLDContext:
            'ensembl/jsonld_context/ensembl_gene_context.json'