openapi: '3.0.0'
info:
  version: '1.0'
  title: Ensembl API
  description: >-
    Ensembl REST API provides language agnostic bindings to Ensembl data.
  termsOfService: http://dgidb.genome.wustl.edu/contact
  contact:
    name: Paul Flicek
    x-role: responsible developer
    email: help@ensembl.org
    x-id: 'https://github.com/paul'
servers:
  - url: 'http://rest.ensembl.org'
    description: 'Production server'
tags:
  - name: phenotype
  - name: variant
  - name: genotype
  - name: translator
paths:
  '/variation/human/{dbsnp}?phenotypes=1':
    get:
      summary: 'Uses a variant identifier (e.g. rsID) to return the variation phenotype'
      parameters:
        - name: dbsnp
          in: path
          description: >-
            Put dbsnp ids here, e.g. rs56116432
          required: true
          x-valueType:
            - 'http://identifiers.org/dbsnp/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/dbsnp/'
              template: '/variation/human/{{input}}?phenotypes=1'
          schema:
            type: string
      responses:
        '200':
          description: 'list of phenotypes related to the variant'
          x-responseValueType:
            - path: phenotypes
              valueType: 'http://biothings.io/concepts/phenotypes/'
  '/variation/human/{dbsnp}?genotypes=1':
    get:
      summary: 'Uses a variant identifier (e.g. rsID) to return the variation genotypes'
      parameters:
        - name: dbsnp
          in: path
          description: >-
            Put dbsnp ids here, e.g. rs56116432
          required: true
          x-valueType:
            - 'http://identifiers.org/dbsnp/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/dbsnp/'
              template: '/variation/human/{{input}}?genotypes=1'
          schema:
            type: string
      responses:
        '200':
          description: 'list of phenotypes related to the variant'
          x-responseValueType:
            - path: genotypes
              valueType: 'http://biothings.io/concepts/genotypes/'
