openapi: 3.0.3
info:
  contact:
    email: guangrong.qin@isbscience.org
    name: Guangrong Qin
    x-role: responsible developer
  description: >-
    Documentation of the BioThings API for Translator Multiomics Team's
    BigGIM-DrugResponse KP. This KP contains associations from multiple sources.
  termsOfService: https://biothings.io/about
  title: Multiomics BigGIM-DrugResponse KP API
  version: '3.0'
  x-translator:
    infores: "infores:biothings-multiomics-biggim-drugresponse"
    component: KP
    team:
      - Multiomics Provider
      - Service Provider
    biolink-version: "3.5.3"
servers:
- description: Encrypted Production server
  url: https://biothings.ncats.io/biggim_drugresponse_kp
  x-maturity: production
- url: https://biothings.test.transltr.io/biggim_drugresponse_kp
  description: ITRB Test server
  x-maturity: testing
- url: https://biothings.ci.transltr.io/biggim_drugresponse_kp
  description: ITRB CI server
  x-maturity: staging
tags:
- name: gene
- name: disease
- name: chemical
- name: association
- name: annotation
- name: query
- name: translator
- name: biothings
- name: biothings_graph
paths:
  "/association/{id}":
    get:
      description: >-
        By default, this will return the complete association in JSON format. If the input is not valid,
        404 (NOT FOUND) will be returned.
        

        Optionally, you can pass a "fields" parameter to return only the annotation you want 
        (by filtering returned object fields). "fields" accepts any attributes (a.k.a fields) available 
        from the association. Multiple attributes should be separated by commas. If an attribute is not 
        available for a specific association, it will be ignored. Note that the attribute names are 
        case-sensitive.


        Just like the query service, you can also pass a "callback" parameter to make a JSONP call.
      parameters:
      - name: id
        in: path
        required: true
        example: "Disease_biolink:has_biomarker_Gene_GDSC_cancer_specific_signatures.csv_2998"
        schema:
          type: string
      - "$ref": "#/components/parameters/fields"
      - "$ref": "#/components/parameters/callback"
      - "$ref": "#/components/parameters/email"
      ## this is useful even when it's not noted in the docs
      - "$ref": "#/components/parameters/size"
      ## these are noted in the /spec endpoint; commenting out for now
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/rawquery"
      # - "$ref": "#/components/parameters/dotfield"
      # - "$ref": "#/components/parameters/_sorted"
      # - "$ref": "#/components/parameters/always_list"
      # - "$ref": "#/components/parameters/allow_null"
      # - "$ref": "#/components/parameters/format"
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      ## commenting out schemas and other status codes for now
      #     content:
      #       application/json:
      #         schema:
      #           $ref: '#/components/schemas/Association'
      #   '404':
      #     description: A response indicating an unknown association ID
      tags:
      - association
  "/association":
    post:
      description: >-
        Although making simple GET requests above to our service is sufficient in most use cases, 
        there are some times you might find it easier to batch query (e.g., retrieving multiple associations). 
        Fortunately, you can also make batch queries via POST requests when you need to.
      parameters:
      - name: ids
        description: >-
          Accepts multiple association ids separated by commas. Note that currently we only take ids up to 
          1000 maximum, the rest will be omitted.


          The request body can also be used to provide these ids.
        in: query
        ## setting to false since putting this info in the request body seems to work as well
        required: false
        schema:
          type: string
      - "$ref": "#/components/parameters/fields"
      - "$ref": "#/components/parameters/email"
      ## this is useful even when it's not noted in the docs
      - "$ref": "#/components/parameters/size"
      ## these are noted in the /spec endpoint; commenting out for now
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/rawquery"
      # - "$ref": "#/components/parameters/dotfield"
      # - "$ref": "#/components/parameters/_sorted"
      # - "$ref": "#/components/parameters/always_list"
      # - "$ref": "#/components/parameters/allow_null"
      # - "$ref": "#/components/parameters/format"
      requestBody:
        content:
          application/json:
            example:
              ids:
              - "Disease_biolink:has_biomarker_Gene_GDSC_cancer_specific_signatures.csv_2998"
              - "Protein_biolink:physically_interacts_with_Protein_Biogrid_formated.csv_170247"
            schema:
              type: object
              properties:
                ids:
                  description: >-
                    Accepts multiple association ids. Note that currently we only take the input ids 
                    up to 1000 maximum, the rest will be omitted.
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      tags:
      - association
  "/metadata":
    get:
      description: Get metadata about the data available from the API
      ## these are noted in the https://mychem.info/v1/spec endpoint; commenting out for now
      # parameters:
      # - "$ref": "#/components/parameters/format"
      # - "$ref": "#/components/parameters/raw"
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      tags:
      - metadata
  "/metadata/fields":
    get:
      description: Get metadata about the data fields available from the API
      ## these are noted in the https://mychem.info/v1/spec endpoint; commenting out for now
      # parameters:
      # - "$ref": "#/components/parameters/format"
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/search"
      # - "$ref": "#/components/parameters/prefix"
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      tags:
      - metadata
  "/query":
    get:
      description: >-
        Query service. In the output, "total" in the output gives the total number 
        of matching hits, while the actual hits are returned under "hits" field.
      parameters:
      - name: q
        description: >-
          Required, passing user query. The detailed query syntax for parameter is explained 
          [here for a core BioThings 
          API](https://docs.mychem.info/en/latest/doc/chem_query_service.html#query-syntax).
        in: query
        required: true
        example: subject.NCBIGene:"NCBIGene:91526"
        schema:
          type: string
      - "$ref": "#/components/parameters/fields"
      - "$ref": "#/components/parameters/size"
      - "$ref": "#/components/parameters/from"
      - "$ref": "#/components/parameters/fetch_all"
      - "$ref": "#/components/parameters/scroll_id"
      - "$ref": "#/components/parameters/sort"
      - "$ref": "#/components/parameters/facets"
      - "$ref": "#/components/parameters/facet_size"
      - "$ref": "#/components/parameters/callback"
      - "$ref": "#/components/parameters/dotfield"
      - "$ref": "#/components/parameters/email"
      ## these are noted in the /spec endpoint; commenting out for now
      # - "$ref": "#/components/parameters/aggs"
      # - "$ref": "#/components/parameters/userquery"
      # - "$ref": "#/components/parameters/explain"
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/rawquery"
      # - "$ref": "#/components/parameters/_sorted"
      # - "$ref": "#/components/parameters/always_list"
      # - "$ref": "#/components/parameters/allow_null"
      # - "$ref": "#/components/parameters/format"
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      ## commenting out schemas and other status codes for now
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/QueryResult"
      #   '400':
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/ErrorResult"
      #     description: A response indicating an improperly formatted query
      # summary: Make queries and return matching gene hits. Supports JSONP and CORS
      #   as well.
      tags:
      - query
    post:
      description: >-
        Although making simple GET requests above to our query service is sufficient for most use cases, 
        there are times you might find it more efficient to make batch queries (e.g., retrieving data 
        for multiple inputs). Fortunately, you can also make batch queries via POST requests when you need to.


        The "query” field in the returned object indicates the matching query term. If a query term has no match, 
        it will return with a “notfound” field with the value “true”.
      parameters:
      - name: q
        description: >-
          Accepts multiple values separated by commas. Note that currently we only take the input values up to 1000 
          maximum, the rest will be omitted.


          The request body can also be used to provide these ids.
        in: query
        ## setting to false since putting this info in the request body seems to work as well
        required: false
        schema:
          type: array
          items:
            type: string
      - name: scopes
        description: >-
          Optional, specify one or more fields (separated by commas) to search. Default: _id


          The request body can also be used to provide this information.
        in: query
        ## setting to false since putting this info in the request body seems to work as well
        required: false
        schema:
          type: string
      - "$ref": "#/components/parameters/fields"
      - "$ref": "#/components/parameters/email"
      ## this is useful even when it's not noted in the docs
      - "$ref": "#/components/parameters/size"
      - "$ref": "#/components/parameters/from"
      - "$ref": "#/components/parameters/fetch_all"
      - "$ref": "#/components/parameters/scroll_id"
      ## these are noted in the https://mychem.info/v1/spec endpoint; commenting out for now
      # - "$ref": "#/components/parameters/sort"
      # - "$ref": "#/components/parameters/raw"
      # - "$ref": "#/components/parameters/rawquery"
      # - "$ref": "#/components/parameters/dotfield"
      # - "$ref": "#/components/parameters/_sorted"
      # - "$ref": "#/components/parameters/always_list"
      # - "$ref": "#/components/parameters/allow_null"
      # - "$ref": "#/components/parameters/format"
      requestBody:
        content:
          application/json:
            example:
              q:
              - "NCBIGene:91526"
              - "NCBIGene:5788"
              scopes:
              - "subject.NCBIGene"
            schema:
              type: object
              properties:
                q:
                  description: >-
                    Accepts multiple values separated by commas. Note that currently we only take the input values 
                    up to 1000 maximum, the rest will be omitted.
                  type: array
                  items:
                    type: string
                scopes:
                  description: >-
                    Specify one or more fields (separated by commas) to search. Default: _id
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: A 200 status code indicates a successful query, and is accompanied by the query response payload.
      ## commenting out schemas and other status codes for now
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/QueryPOSTResult"
      #   '400':
      #     content:
      #       application/json:
      #         schema:
      #           "$ref": "#/components/schemas/ErrorResult"
      #     description: A response indicating an improperly formatted query
      # summary: Make batch gene queries and return matching gene hits
      tags:
      - query
      x-bte-kgs-operations:
      - $ref: '#/components/x-bte-kgs-operations/gene-sensitivity-chem'
      - $ref: '#/components/x-bte-kgs-operations/gene-sensitivity-chem-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-resistance-chem'
      - $ref: '#/components/x-bte-kgs-operations/gene-resistance-chem-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-associated-disease'
      - $ref: '#/components/x-bte-kgs-operations/gene-associated-disease-rev'
      - $ref: '#/components/x-bte-kgs-operations/disease-biomarker-gene'
      - $ref: '#/components/x-bte-kgs-operations/disease-biomarker-gene-rev'
      - $ref: '#/components/x-bte-kgs-operations/chem-targets-gene'
      - $ref: '#/components/x-bte-kgs-operations/chem-targets-gene-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-physicallyInteracts-gene'
      - $ref: '#/components/x-bte-kgs-operations/gene-physicallyInteracts-gene-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-geneticallyInteracts-gene'
      - $ref: '#/components/x-bte-kgs-operations/gene-geneticallyInteracts-gene-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-negativelyCorrelated-gene'
      - $ref: '#/components/x-bte-kgs-operations/gene-negativelyCorrelated-gene-rev'  
      - $ref: '#/components/x-bte-kgs-operations/gene-positivelyCorrelated-gene'
      - $ref: '#/components/x-bte-kgs-operations/gene-positivelyCorrelated-gene-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-expressed-in-cell'
      - $ref: '#/components/x-bte-kgs-operations/cell-expresses-gene'
      
components:
  parameters:
    callback:
      name: callback
      description: >-
        Optional, you can pass a "callback" parameter to make a JSONP call.
      in: query
      required: false
      schema:
        type: string
    dotfield:
      name: dotfield
      description: >-
        Optional, can be used to control the format of the returned object. 
        If "dotfield" is true, the returned data object is returned flattened (no nested objects) 
        using dotfield notation for key names. Default: false.
      in: query
      required: false
      schema:
        type: boolean
        default: false
    email:
      name: email
      description: >-
        Optional, if you are regular users of our services, we encourage you to provide us an email, 
        so that we can better track the usage or follow up with you.
      in: query
      required: false
      schema:
        type: string
    facet_size:
      name: facet_size
      description: >-
        Optional, an integer (1 <= facet_size <= 1000) that specifies how many buckets to return in a 
        [faceted query](https://docs.mychem.info/en/latest/doc/chem_query_service.html?highlight=from#faceted-queries).
      in: query
      required: false
      schema:
        type: integer
        default: 10
    facets:
      name: facets
      description: >-
        Optional, a single field or comma-separated fields to return facets, can only be used on non-free text fields. 
        E.g. “facets=chembl.molecule_properties.full_mwt”. See [examples of faceted queries for a core BioThings 
        API](https://docs.mychem.info/en/latest/doc/chem_query_service.html?highlight=from#faceted-queries).
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
    fetch_all:
      name: fetch_all
      description: >-
        Optional, a boolean, which when TRUE, allows fast retrieval of all unsorted query hits. 
        The return object contains a _scroll_id field, which when passed as a parameter to the query endpoint 
        (see the scroll_id parameter), returns the next 1000 query results. Setting fetch_all = TRUE causes 
        the results to be inherently unsorted, therefore the sort parameter is ignored. For more information, 
        see [examples using fetch_all for a core BioThings 
        API](https://docs.mychem.info/en/latest/doc/chem_query_service.html?highlight=from#scrolling-queries). 
        Default: FALSE.
      in: query
      required: false
      schema:
        type: boolean
        default: false
    fields:
      name: fields
      description: >-
        Optional, can be a comma-separated list to limit the fields returned from the object. 
        If "fields=all", all available fields will be returned.
        

        Note that it supports dot notation as well, e.g., you can pass "chebi.name". 
        Default: "fields=all". 
        The parameter "filter" is an alias for this parameter.
      in: query
      required: false
      schema:
        type: string
        default: all
    from:
      name: from
      description: >-
        Optional, the number of matching hits to skip, starting from 0. Default: 0. 
      in: query
      required: false
      schema:
        type: integer
        default: 0
    scroll_id:
      name: scroll_id
      description: >-
        Optional, a string containing the _scroll_id returned from a query request with fetch_all = TRUE. 
        Supplying a valid scroll_id will return the next 1000 unordered results. If the next results are 
        not obtained within 1 minute of the previous set of results, the scroll_id becomes stale, and a 
        new one must be obtained with another query request with fetch_all = TRUE. All other parameters are 
        ignored when the scroll_id parameter is supplied. For more information see [examples using scroll_id 
        for a core BioThings 
        API](https://docs.mychem.info/en/latest/doc/chem_query_service.html?highlight=from#scrolling-queries).
      in: query
      required: false
      schema:
        type: string
    size:
      name: size
      description: >-
        Optional, the maximum number of matching hits to return (with a cap of 1000 at the moment). Default: 10.
        The combination of "size" and "from" parameters can be used to get paging for a large query.
      in: query
      required: false
      schema:
        type: integer
        default: 10
    sort:
      name: sort
      description: >-
        Optional, the comma-separated fields to sort on. Prefix with "-" for descending order, otherwise in ascending order. 
        Default: sort by matching scores in descending order.
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
    ## these are noted in the https://mychem.info/v1/spec endpoint; commenting out for now
    # _sorted:
    #   name: _sorted
    #   in: query
    #   required: false
    #   schema:
    #     type: boolean
    #     default: true
    # aggs:
    #   name: aggs
    #   in: query
    #   required: false
    #   schema:
    #     type: array
    #     items:
    #       type: string
    # allow_null:
    #   name: allow_null
    #   in: query
    #   required: false
    #   schema:
    #     type: array
    #     items:
    #       type: string
    # always_list:
    #   name: always_list
    #   in: query
    #   required: false
    #   schema:
    #     type: array
    #     items:
    #       type: string
    # explain:
    #   name: explain
    #   in: query
    #   required: false
    #   schema:
    #     type: boolean
    # format:
    #   name: format
    #   description: 'controls output format of server response, currently supports:
    #     "json", "jsonld", "html". Type: string. Default: json.'
    #   in: query
    #   required: false
    #   schema:
    #     type: string
    #     default: json
    # prefix:
    #   name: prefix
    #   in: query
    #   required: false
    #   schema:
    #     type: string
    # raw:
    #   name: raw
    #   in: query
    #   required: false
    #   schema:
    #     type: boolean
    # rawquery:
    #   name: rawquery
    #   in: query
    #   required: false
    #   schema:
    #     type: boolean
    # search:
    #   name: search
    #   in: query
    #   required: false
    #   schema:
    #     type: string
    # userquery:
    #   name: userquery
    #   in: query
    #   required: false
    #   schema:
    #     type: string
  ## commenting out schemas and other status codes for now
  # schemas:
  #   Association:
  #     properties:
  #       _id:
  #         type: string
  #     required:
  #     - _id
  #     type: object
  #   ErrorResult:
  #     properties:
  #       message:
  #         type: string
  #       success:
  #         type: boolean
  #     type: object
  #   QueryPOSTResult:
  #     items:
  #       allOf:
  #       - $ref: '#/components/schemas/Association'
  #       - properties:
  #           _score:
  #             format: float
  #             type: number
  #           query:
  #             type: string
  #         type: object
  #     type: array
  #   QueryResult:
  #     properties:
  #       hits:
  #         items:
  #           $ref: '#/components/schemas/Association'
  #         type: array
  #       max_score:
  #         format: float
  #         type: number
  #       took:
  #         type: integer
  #       total:
  #         type: integer
  #     type: object
  #   int64_or_array:
  #     oneOf:
  #     - items:
  #         format: int64
  #         type: integer
  #       type: array
  #     - format: int64
  #       type: integer
  #   string_or_array:
  #     oneOf:
  #     - items:
  #         type: string
  #       type: array
  #     - type: string
  x-bte-kgs-operations:
  ## in the API's records:
  ## - subjects and objects can be Gene (NCBIGene), SmallMolecule (PUBCHEM.COMPOUND), Disease (MONDO)
  ## - predicates can be associated_with_resistance_to, associated_with_sensitivity_to
  ##   gene_associated_with_condition, has_biomarker, physically_interacts_with,
  ##   physically_interacts_with, genetically_interacts_with,
  ##   negatively_correlated_with, positively_correlated_with
  ## - BTE automatically puts prefix on MONDO IDs, but prefix has to be added to other ID inputs 
  ## - currently, BTE will also accept response with Translator-prefix (api-response-transform module).
  ## - joinSafe is only needed if the delimiter isn't a comma
    gene-expressed-in-cell:
    ##  https://biothings.ci.transltr.io/biggim_drugresponse_kp/query?q=predicate:"biolink:expressed_in"
    ## 34719 records
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: NCBIGene
            semantic: Gene
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('NCBIGene') }}"
            scopes: subject.NCBIGene
        parameters:
          fields: object.CL,attributes,sources
          size: 1000
          filter: predicate:"biolink:expressed_in"
        outputs:
          - id: CL
            semantic: Cell
        predicate: expressed_in
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/cl-object"
        testExamples:
          - qInput: "NCBIGene:930"                ## CD19
            oneOutput: "CL:0000236"                ## Hodgkin Lymphoma B cell
    cell-expresses-gene:
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: CL
            semantic: Cell
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('CL') }}"
            scopes: object.CL
        parameters:
          fields: subject.NCBIGene,attributes,sources
          size: 1000
          filter: predicate:"biolink:expressed_in"
        outputs:
          - id: NCBIGene
            semantic: Gene
        predicate: expresses
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ncbigene-subject"
        testExamples:
          - qInput: "CL:0000843"                ## follicular B cell
            oneOutput: "NCBIGene:930"           ## CD19
    gene-sensitivity-chem:
    ##  https://biothings.ci.transltr.io/biggim_drugresponse_kp/query?q=predicate:"biolink:associated_with_sensitivity_to"
    ##  95994 records  
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: NCBIGene #biolink prefix for id
            semantic: Gene #category of id
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('NCBIGene') }}"
            scopes: subject.NCBIGene
        parameters:
          fields: object.pubchem_compound,attributes,sources #field to return
          size: 1000
          filter: predicate:"biolink:associated_with_sensitivity_to"
        outputs:
          - id: "PUBCHEM.COMPOUND"
            semantic: SmallMolecule
        predicate: associated_with_sensitivity_to
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/pubchem-object"
        testExamples:
          - qInput: "NCBIGene:25878"                    ## MXRA5
            oneOutput: "PUBCHEM.COMPOUND:135539077"     ## THZ-2-102-1 (Luminespib / CHEBI:83656)
    gene-sensitivity-chem-rev:
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: "PUBCHEM.COMPOUND"
            semantic: SmallMolecule
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('PUBCHEM.COMPOUND') }}"
            scopes: object.pubchem_compound
        parameters:
          fields: subject.NCBIGene,attributes,sources
          size: 1000
          filter: predicate:"biolink:associated_with_sensitivity_to"
        outputs:
          - id: NCBIGene
            semantic: Gene
        predicate: sensitivity_associated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ncbigene-subject"
        testExamples:
          - qInput: "PUBCHEM.COMPOUND:24856436"       ## JNK-9L (Adavosertib / CHEBI:91414)
            oneOutput: "NCBIGene:59352"               ## LGR6
    gene-resistance-chem:
    ##  https://biothings.ci.transltr.io/biggim_drugresponse_kp/query?q=predicate:"biolink:associated_with_resistance_to"
    ##  107719 records
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: NCBIGene
            semantic: Gene
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('NCBIGene') }}"
            scopes: subject.NCBIGene
        parameters:
          fields: object.pubchem_compound,attributes,sources
          size: 1000
          filter: predicate:"biolink:associated_with_resistance_to"
        outputs:
          - id: "PUBCHEM.COMPOUND"
            semantic: SmallMolecule
        predicate: associated_with_resistance_to
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/pubchem-object"
        testExamples:
          - qInput: "NCBIGene:5724"                ## PTAFR
            oneOutput: "PUBCHEM.COMPOUND:4261"     ## Elesclomol (Entinostat / CHEBI:132082)
    gene-resistance-chem-rev:
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: "PUBCHEM.COMPOUND"
            semantic: SmallMolecule
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('PUBCHEM.COMPOUND') }}"
            scopes: object.pubchem_compound
        parameters:
          fields: subject.NCBIGene,attributes,sources
          size: 1000
          filter: predicate:"biolink:associated_with_resistance_to"
        outputs:
          - id: NCBIGene
            semantic: Gene
        predicate: resistance_associated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ncbigene-subject"
        testExamples:
          - qInput: "PUBCHEM.COMPOUND:46844147"       ## AZD8055 (Erk5-IN-1 / CHEBI:91375)
            oneOutput: "NCBIGene:26119"               ## LDLRAP1
    gene-associated-disease:
    ##  https://biothings.ci.transltr.io/biggim_drugresponse_kp/query?q=predicate:"biolink:gene_associated_with_condition"
    ##  922 records  
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: NCBIGene
            semantic: Gene
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('NCBIGene') }}"
            scopes: subject.NCBIGene
        parameters:
          fields: object.MONDO,attributes,sources
          size: 1000
          filter: predicate:"biolink:gene_associated_with_condition"
        outputs:
          - id: MONDO
            semantic: Disease
        predicate: gene_associated_with_condition
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/mondo-object"
        testExamples:
          - qInput: "NCBIGene:10459"       ## MAD2L2
            oneOutput: "MONDO:0019391"     ## Fanconi anemia
    gene-associated-disease-rev:
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: MONDO
            semantic: Disease
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('MONDO') }}"
            scopes: object.MONDO
        parameters:
          fields: subject.NCBIGene,attributes,sources
          size: 1000
          filter: predicate:"biolink:gene_associated_with_condition"
        outputs:
          - id: NCBIGene
            semantic: Gene
        predicate: condition_associated_with_gene
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ncbigene-subject"
        testExamples:
          - qInput: "MONDO:0004056"         ## TCGA-BLCA (bladder papillary urothelial carcinoma)
            oneOutput: "NCBIGene:7157"      ## TP53
    disease-biomarker-gene:
    ##  https://biothings.ci.transltr.io/biggim_drugresponse_kp/query?q=predicate:"biolink:has_biomarker"
    ##  13811 records  
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: MONDO
            semantic: Disease
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('MONDO') }}"
            scopes: subject.MONDO
        parameters:
          fields: object.NCBIGene,attributes,sources
          size: 1000
          filter: predicate:"biolink:has_biomarker"
        outputs:
          - id: NCBIGene
            semantic: Gene
        predicate: has_biomarker
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ncbigene-object"
        testExamples:
          - qInput: "MONDO:0005097"       ## LUSC (squamous cell lung carcinoma)
            oneOutput: "NCBIGene:131"     ## ADH7
    disease-biomarker-gene-rev:
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: NCBIGene
            semantic: Gene
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('NCBIGene') }}"
            scopes: object.NCBIGene
        parameters:
          fields: subject.MONDO,attributes,sources
          size: 1000
          filter: predicate:"biolink:has_biomarker"
        outputs:
          - id: MONDO
            semantic: Disease
        predicate: biomarker_for
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/mondo-subject"
        testExamples:
          - qInput: "NCBIGene:1145"         ## CHRNE
            oneOutput: "MONDO:0018874"      ## LAML (acute myeloid leukemia)
    chem-targets-gene:
    ##  https://biothings.ci.transltr.io/biggim_drugresponse_kp/query?q=predicate:"biolink:physically_interacts_with"
    ##  14806 records??
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: "PUBCHEM.COMPOUND"
            semantic: SmallMolecule
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('PUBCHEM.COMPOUND') }}"
            scopes: subject.pubchem_compound
        parameters:
          fields: object.NCBIGene,attributes,sources
          size: 1000
          filter: predicate:"biolink:physically_interacts_with" AND _exists_:subject.pubchem_compound AND _exists_:object.NCBIGene
        outputs:
          - id: NCBIGene
            semantic: Gene
        predicate: physically_interacts_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ncbigene-object"
        testExamples:
          - qInput: "PUBCHEM.COMPOUND:444"     ## Bupropion / CHEBI:3219
            oneOutput: "NCBIGene:6530"         ## SLC6A2
    chem-targets-gene-rev:
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: NCBIGene
            semantic: Gene
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('NCBIGene') }}"
            scopes: object.NCBIGene
        parameters:
          fields: subject.pubchem_compound,attributes,sources
          size: 1000
          filter: predicate:"biolink:physically_interacts_with" AND _exists_:subject.pubchem_compound AND _exists_:object.NCBIGene
        outputs:
          - id: "PUBCHEM.COMPOUND"
            semantic: SmallMolecule
        predicate: physically_interacts_with #change predicate
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/pubchem-subject"
        testExamples:
          - qInput: "NCBIGene:8424"                 ## BBOX1
            oneOutput: "PUBCHEM.COMPOUND:5455"      ## Thiram / CHEBI:9495
    gene-physicallyInteracts-gene:
    ##  https://biothings.ci.transltr.io/biggim_drugresponse_kp/query?q=predicate:"biolink:physically_interacts_with"
    ##  888994 records??  
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: NCBIGene
            semantic: Gene
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('NCBIGene') }}"
            scopes: subject.NCBIGene
        parameters:
          fields: object.NCBIGene,attributes,sources
          size: 1000
          filter: predicate:"biolink:physically_interacts_with" AND _exists_:subject.NCBIGene AND _exists_:object.NCBIGene
        outputs:
          - id: NCBIGene
            semantic: Gene
        predicate: physically_interacts_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ncbigene-object"
        testExamples:
          - qInput: "NCBIGene:9282"        ## MED14
            oneOutput: "NCBIGene:55588"     ## MED29
    gene-physicallyInteracts-gene-rev:
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: NCBIGene
            semantic: Gene
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('NCBIGene') }}"
            scopes: object.NCBIGene
        parameters:
          fields: subject.NCBIGene,attributes,sources
          size: 1000
          filter: predicate:"biolink:physically_interacts_with" AND _exists_:subject.NCBIGene AND _exists_:object.NCBIGene
        outputs:
          - id: NCBIGene
            semantic: Gene
        predicate: physically_interacts_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ncbigene-subject"
        testExamples:
          - qInput: "NCBIGene:6874"       ## TAF4
            oneOutput: "NCBIGene:6881"    ## TAF10
    gene-geneticallyInteracts-gene:
    ##  https://biothings.ci.transltr.io/biggim_drugresponse_kp/query?q=predicate:"biolink:genetically_interacts_with"
    ##  10754 records  
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: NCBIGene
            semantic: Gene
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('NCBIGene') }}"
            scopes: subject.NCBIGene
        parameters:
          fields: object.NCBIGene,attributes,sources
          size: 1000
          filter: predicate:"biolink:genetically_interacts_with"
        outputs:
          - id: NCBIGene
            semantic: Gene
        predicate: genetically_interacts_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ncbigene-object"
        testExamples:
          - qInput: "NCBIGene:5980"        ## REV3L
            oneOutput: "NCBIGene:7295"     ## TXN
    gene-geneticallyInteracts-gene-rev:
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: NCBIGene
            semantic: Gene
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('NCBIGene') }}"
            scopes: object.NCBIGene
        parameters:
          fields: subject.NCBIGene,attributes,sources
          size: 1000
          filter: predicate:"biolink:genetically_interacts_with"
        outputs:
          - id: NCBIGene
            semantic: Gene
        predicate: genetically_interacts_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ncbigene-subject"
        testExamples:
          - qInput: "NCBIGene:2081"         ## ERN1
            oneOutput: "NCBIGene:4609"      ## MYC
    gene-negativelyCorrelated-gene:
    ##  https://biothings.ci.transltr.io/biggim_drugresponse_kp/query?q=predicate:"biolink:negatively_correlated_with"
    ##  565 records  
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: NCBIGene
            semantic: Gene
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('NCBIGene') }}"
            scopes: subject.NCBIGene
        parameters:
          fields: object.NCBIGene,attributes,sources
          size: 1000
          filter: predicate:"biolink:negatively_correlated_with"
        outputs:
          - id: NCBIGene
            semantic: Gene
        predicate: negatively_correlated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ncbigene-object"
        testExamples:
          - qInput: "NCBIGene:823"        ## CAPN1
            oneOutput: "NCBIGene:4539"    ## MT-ND4L (ND4L)
    gene-negativelyCorrelated-gene-rev:
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: NCBIGene
            semantic: Gene
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('NCBIGene') }}"
            scopes: object.NCBIGene
        parameters:
          fields: subject.NCBIGene,attributes,sources
          size: 1000
          filter: predicate:"biolink:negatively_correlated_with"
        outputs:
          - id: NCBIGene
            semantic: Gene
        predicate: negatively_correlated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ncbigene-subject"
        testExamples:
          - qInput: "NCBIGene:6540"         ## SLC6A13
            oneOutput: "NCBIGene:1072"      ## CFL1
    gene-positivelyCorrelated-gene:
    ##  https://biothings.ci.transltr.io/biggim_drugresponse_kp/query?q=predicate:"biolink:positively_correlated_with"
    ##  437054 records  
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: NCBIGene
            semantic: Gene
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('NCBIGene') }}"
            scopes: subject.NCBIGene
        parameters:
          fields: object.NCBIGene,attributes,sources
          size: 1000
          filter: predicate:"biolink:positively_correlated_with"
        outputs:
          - id: NCBIGene
            semantic: Gene
        predicate: positively_correlated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ncbigene-object"
        testExamples:
          - qInput: "NCBIGene:988"        ## CDC5L
            oneOutput: "NCBIGene:6197"    ## RPS6KA3
    gene-positivelyCorrelated-gene-rev:
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: NCBIGene
            semantic: Gene
        requestBody:
          body: 
            q: "{{ queryInputs | replPrefix('NCBIGene') }}"
            scopes: object.NCBIGene
        parameters:
          fields: subject.NCBIGene,attributes,sources
          size: 1000
          filter: predicate:"biolink:positively_correlated_with"
        outputs:
          - id: NCBIGene
            semantic: Gene
        predicate: positively_correlated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ncbigene-subject"
        testExamples:
          - qInput: "NCBIGene:7094"         ## TLN1
            oneOutput: "NCBIGene:7941"      ## PLA2G7
  x-bte-response-mapping:
  ## all have prefix
    pubchem-subject:
      "PUBCHEM.COMPOUND": subject.pubchem_compound
      edge-attributes: attributes
      trapi_sources: sources
    pubchem-object:
      "PUBCHEM.COMPOUND": object.pubchem_compound
      edge-attributes: attributes
      trapi_sources: sources
    ncbigene-subject:
      NCBIGene: subject.NCBIGene
      edge-attributes: attributes
      trapi_sources: sources
    ncbigene-object:
      NCBIGene: object.NCBIGene
      edge-attributes: attributes
      trapi_sources: sources
    mondo-subject:
      MONDO: subject.MONDO
      edge-attributes: attributes
      trapi_sources: sources
    mondo-object:
      MONDO: object.MONDO
      edge-attributes: attributes
      trapi_sources: sources
    cl-object:
      CL: object.CL
      edge-attributes: attributes
      trapi_sources: sources
    cl-subject:
      CL: subject.CL
      edge-attributes: attributes
      trapi_sources: sources