openapi: 3.0.0
info:
  contact:
    email: help@biothings.io
    name: BioThings Team
    x-id: https://github.com/biothings
    x-role: responsible developers
  description: Documentation of the Drug Response KP query web services.
  termsOfService: https://biothings.io/about
  title: Multiomics BigGIM-DrugResponse KP API
  version: '1.0'
  x-translator:
    infores: "infores:biothings-multiomics-biggim-drugresponse"
    component: KP
    team:
      - Multiomics Provider
      - Service Provider
    biolink-version: "2.2.13"
servers:
- description: Encrypted Production server
  url: https://biothings.ncats.io/drug_response_kp
  x-maturity: production
- description: Production server
  url: http://biothings.ncats.io/drug_response_kp
  x-maturity: production
tags:
- name: gene
- name: disease
- name: chemical
- name: association
- name: annotation
- name: query
- name: translator
- name: biothings
- name: biothings_graph
paths:
  /association:
    post:
      parameters:
      - $ref: '#/components/parameters/dotfield'
        name: dotfield
      - $ref: '#/components/parameters/fields'
        name: fields
      - $ref: '#/components/parameters/email'
        name: email
      - $ref: '#/components/parameters/format'
        name: format
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ids:
                  description: 'multiple association IDs separated by comma. Note that currently we only take the input ids up to 1000 maximum, the rest will be omitted. Type: string (list). Max: 1000.'
                  type: string
              required:
              - ids
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Association'
                type: array
          description: A list of matching association objects
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: A response indicating an improperly formatted query
      summary: For a list of association IDs, return the matching disease object
      tags:
      - association
  /association/{associationid}:
    get:
      parameters:
      - description: Retrieve association objects based on Association ID  Supports
          JSONP and CORS as well.
        example: NRAS-TCGA-LUAD
        in: path
        name: associationid
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/dotfield'
        name: dotfield
      - $ref: '#/components/parameters/callback'
        name: callback
      - $ref: '#/components/parameters/fields'
        name: fields
      - $ref: '#/components/parameters/email'
        name: email
      - $ref: '#/components/parameters/format'
        name: format
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Association'
          description: A matching association object
        '404':
          description: A response indicating an unknown association ID
      summary: Retrieve association objects based on ID
      tags:
      - association
  /metadata:
    get:
      parameters:
      - $ref: '#/components/parameters/callback'
        in: query
        name: callback
      responses:
        '200':
          description: KP metadata object
      summary: Get metadata about the data available from the API
      tags:
      - metadata
  /metadata/fields:
    get:
      parameters:
      - $ref: '#/components/parameters/search'
        name: search
      - $ref: '#/components/parameters/callback'
        name: callback
      - $ref: '#/components/parameters/prefix'
        name: prefix
      - $ref: '#/components/parameters/format'
        name: format
      responses:
        '200':
          description: metadata fields object
      summary: Get metadata about the data fields available
      tags:
      - metadata
  /query:
    get:
      parameters:
      - description: Query string.
        example: subject.NCBIGene:51742
        in: query
        name: q
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/dotfield'
        name: dotfield
      - $ref: '#/components/parameters/fields'
        name: fields
      - $ref: '#/components/parameters/facet_size'
        name: facet_size
      - $ref: '#/components/parameters/sort'
        name: sort
      - $ref: '#/components/parameters/callback'
        name: callback
      - $ref: '#/components/parameters/email'
        name: email
      - $ref: '#/components/parameters/facets'
        name: facets
      - $ref: '#/components/parameters/size'
        name: size
      - $ref: '#/components/parameters/from'
        name: from
      - $ref: '#/components/parameters/format'
        name: format
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: A query response with the "hits" property
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: A response indicating an improperly formatted query
      summary: Make queries and return matching association hits. Supports JSONP and CORS
        as well.
      tags:
      - query
    post:
      parameters:
      - $ref: '#/components/parameters/dotfield'
        name: dotfield
      - $ref: '#/components/parameters/email'
        name: email
      - $ref: '#/components/parameters/fields'
        name: fields
      - $ref: '#/components/parameters/size'
        name: size
      - $ref: '#/components/parameters/format'
        name: format
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                q:
                  description: multiple query terms separated by comma (also "+" or
                    whitespace).  Does not support wildcard queries
                  type: string
                scopes:
                  description: 'a comma-separated list of fields as the search "scopes"
                    (fields to search through for query term). The available "fields"
                    that can be passed to the "scopes" parameter are listed in the
                    **/metadata/fields** endpoint.string Default: "scopes=_id".'
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryPOSTResult'
          description: Query response objects with the "hits" property
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: A response indicating an improperly formatted query
      summary: Make batch disease queries and return matching disease hits
      tags:
      - query
      x-bte-kgs-operations:
      - $ref: '#/components/x-bte-kgs-operations/gene-sensitivity-pubchem-1'
      - $ref: '#/components/x-bte-kgs-operations/gene-sensitivity-pubchem-1-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-sensitivity-pubchem-2'
      - $ref: '#/components/x-bte-kgs-operations/gene-sensitivity-pubchem-2-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-sensitivity-hms_lincs'
      - $ref: '#/components/x-bte-kgs-operations/gene-sensitivity-hms_lincs-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-sensitivity-chembl'
      - $ref: '#/components/x-bte-kgs-operations/gene-sensitivity-chembl-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-sensitivity-chebi'
      - $ref: '#/components/x-bte-kgs-operations/gene-sensitivity-chebi-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-resistance-pubchem-1'
      - $ref: '#/components/x-bte-kgs-operations/gene-resistance-pubchem-1-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-resistance-pubchem-2'
      - $ref: '#/components/x-bte-kgs-operations/gene-resistance-pubchem-2-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-resistance-hms_lincs'
      - $ref: '#/components/x-bte-kgs-operations/gene-resistance-hms_lincs-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-resistance-chembl'
      - $ref: '#/components/x-bte-kgs-operations/gene-resistance-chembl-rev'
      - $ref: '#/components/x-bte-kgs-operations/gene-resistance-chebi'
      - $ref: '#/components/x-bte-kgs-operations/gene-resistance-chebi-rev'
components:
  parameters:
    callback:
      description: 'you can pass a "callback" parameter to make a JSONP call. Type:
        string.'
      in: query
      name: callback
      schema:
        type: string
    dotfield:
      description: 'control the format of the returned chem object. If "true" or "1",
        all fields will be collapsed into a single level deep object (all nested objects
        will be a single level deep, using dotfield notation to signify the nested
        structure) Type: boolean. Default: false.'
      in: query
      name: dotfield
      schema:
        type: boolean
    email:
      description: If you are regular users of our services, we encourage you to provide
        us with an email, so that we can better track the usage or follow up with
        you.
      in: query
      name: email
      schema:
        type: string
    facet_size:
      description: 'the number of facet buckets to return in the response. Type: integer.
        Default: 10. Max: 1000.'
      in: query
      name: facet_size
      schema:
        type: integer
    facets:
      description: 'a comma-separated list of fields to return facets on.  In addition
        to query hits, the fields notated in "facets" will be aggregated by value
        and bucklet counts will be displayed in the "facets" field of the response
        object. Type: string (list). Default: None. Max: 1000.'
      in: query
      name: facets
      schema:
        type: string
    fields:
      description: 'a comma-separated list of fields (in dotfield notation) used to
        limit the fields returned from the matching chem hit(s). The supported field
        names can be found from any chem object or from the /metadata/fields endpoint.
        If "fields=all", all available fields will be returned. Type: string (list).
        Default: all. Max: 1000.'
      in: query
      name: fields
      schema:
        type: string
    format:
      description: 'controls output format of server response, currently supports:
        "json", "jsonld", "html". Type: string. Default: json.'
      in: query
      name: format
      schema:
        type: string
    from:
      description: 'the number of matching chem hits to skip, starting from 0.  This
        can be useful for paging in combination with the "size" parameter. Type: integer.
        Default: None.'
      in: query
      name: from
      schema:
        type: integer
    prefix:
      description: 'Pass a prefix string to filter the available fields. Type: string.
        Default: None.'
      in: query
      name: prefix
      schema:
        type: string
    search:
      description: 'Pass a search term to filter the available fields. Type: string.
        Default: None.'
      in: query
      name: search
      schema:
        type: string
    size:
      description: 'the maximum number of matching chem hits to return per batch.
        Type: integer. Default: 10.'
      in: query
      name: size
      schema:
        type: integer
    sort:
      description: 'the comma-separated list of fields to sort on. Prefix each with
        "-" for descending order, otherwise in ascending order. Default: sort by descending
        score.'
      in: query
      name: sort
      schema:
        type: string
  schemas:
    Association:
      properties:
        _id:
          type: string
      required:
      - _id
      type: object
    ErrorResult:
      properties:
        message:
          type: string
        success:
          type: boolean
      type: object
    QueryPOSTResult:
      items:
        allOf:
        - $ref: '#/components/schemas/Association'
        - properties:
            _score:
              format: float
              type: number
            query:
              type: string
          type: object
      type: array
    QueryResult:
      properties:
        hits:
          items:
            $ref: '#/components/schemas/Association'
          type: array
        max_score:
          format: float
          type: number
        took:
          type: integer
        total:
          type: integer
      type: object
    int64_or_array:
      oneOf:
      - items:
          format: int64
          type: integer
        type: array
      - format: int64
        type: integer
    string_or_array:
      oneOf:
      - items:
          type: string
        type: array
      - type: string
  x-bte-kgs-operations:
  ## in the API's records:
  ## - all subjects are Gene, ENSEMBL
  ## - all objects are SmallMolecule (chemicals):
  ##   - PUBCHEM.COMPOUND (but using the prefix + field PUBCHEM....and CID?)
  ##   - HMS_LINCS_ID (not in biolink-model, so no standard prefix...). https://lincs.hms.harvard.edu/db/sm/10076-101/
  ##     - note that LINCS isn't in biolink-model either
  ##     - also SRI ID resolver won't handle these 
  ##   - CHEMBL.COMPOUND (using the prefix + field CHEMBL.COMPOUND)
  ##   - CHEBI (using the prefix + field CHEBI)
  ## - predicates in association.edge_label:
  ##   - biolink:associated with sensitivity to
  ##   - biolink:associated with resistance to
  ## - for reverse operations, some edge attributes may seem odd (reversed subj/obj)
  ## - currently we can't express _exists_ with this kind of query: useful for setting the output
  ## - currently, BTE handles most prefix (CHEBI keeps prefixes, EMSEMBL / PUBCHEM.COMPOUND / CHEMBL.COMPOUND does not).  
  ##   not sure about stuff that isn't in biolink-model like HMS_LINCS_ID
  ##   in the future, could edit parser + queries to handle prefixes
  ## - joinSafe is only needed if the delimiter isn't a comma
    gene-sensitivity-pubchem-1:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20sensitivity%20to%22%20AND%20_exists_:%22object.PUBCHEM%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: ENSEMBL
            semantic: Gene
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["ENSEMBL:' , '","biolink:associated with sensitivity to"]') }} ],
              "scopes": ["subject.ENSEMBL", "association.edge_label"]
            }
        parameters:
          fields: object.PUBCHEM,association.edge_attributes
          size: 1000
        outputs:
          - id: "PUBCHEM.COMPOUND"
            semantic: SmallMolecule
        predicate: associated_with_sensitivity_to
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/pubchem-1-object"
        # testExamples:
        #   - qInput: "ENSEMBL:ENSG00000039319"     ## ZFYVE16
        #     oneOutput: "PUBCHEM.COMPOUND:46224516"  ## UNC0638
    gene-sensitivity-pubchem-1-rev:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20sensitivity%20to%22%20AND%20_exists_:%22object.PUBCHEM%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: "PUBCHEM.COMPOUND"
            semantic: SmallMolecule
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["PUBCHEM:' , '","biolink:associated with sensitivity to"]') }} ],
              "scopes": ["object.PUBCHEM", "association.edge_label"]
            }
        parameters:
          fields: subject.ENSEMBL,association.edge_attributes
          size: 1000
        outputs:
          - id: ENSEMBL
            semantic: Gene
        predicate: sensitivity_associated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ensembl-subject"
        # testExamples:
        #   - qInput: "PUBCHEM.COMPOUND:25222038"  ## JNK-9L 
        #     oneOutput: "ENSEMBL:ENSG00000104884"     ## ERCC2
    gene-sensitivity-pubchem-2:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20sensitivity%20to%22%20AND%20_exists_:%22object.CID%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: ENSEMBL
            semantic: Gene
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["ENSEMBL:' , '","biolink:associated with sensitivity to"]') }} ],
              "scopes": ["subject.ENSEMBL", "association.edge_label"]
            }
        parameters:
          fields: object.CID,association.edge_attributes
          size: 1000
        outputs:
          - id: "PUBCHEM.COMPOUND"
            semantic: SmallMolecule
        predicate: associated_with_sensitivity_to
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/pubchem-2-object"
        # testExamples:
        #   - qInput: "ENSEMBL:ENSG00000152580"     ## IGSF10
        #     oneOutput: "PUBCHEM.COMPOUND:135659062"  ## BIX02189
    gene-sensitivity-pubchem-2-rev:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20sensitivity%20to%22%20AND%20_exists_:%22object.CID%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: "PUBCHEM.COMPOUND"
            semantic: SmallMolecule
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["CID:' , '","biolink:associated with sensitivity to"]') }} ],
              "scopes": ["object.CID", "association.edge_label"]
            }
        parameters:
          fields: subject.ENSEMBL,association.edge_attributes
          size: 1000
        outputs:
          - id: ENSEMBL
            semantic: Gene
        predicate: sensitivity_associated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ensembl-subject"
        # testExamples:
        #   - qInput: "PUBCHEM.COMPOUND:644243"  ## FMK
        #     oneOutput: "ENSEMBL:ENSG00000152580"     ## IGSF10
    gene-sensitivity-hms_lincs:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20sensitivity%20to%22%20AND%20_exists_:%22object.HMS_LINCS_ID%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: ENSEMBL
            semantic: Gene
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["ENSEMBL:' , '","biolink:associated with sensitivity to"]') }} ],
              "scopes": ["subject.ENSEMBL", "association.edge_label"]
            }
        parameters:
          fields: object.HMS_LINCS_ID,association.edge_attributes
          size: 1000
        outputs:
          - id: "HMS_LINCS_ID"
            semantic: SmallMolecule
        predicate: associated_with_sensitivity_to
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/hms_lincs-object"
        # testExamples:
        #   - qInput: "ENSEMBL:ENSG00000126895"     ## AVPR2
        #     oneOutput: "HMS_LINCS_ID:10076-101"  ## QL-XI-92
    gene-sensitivity-hms_lincs-rev:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20sensitivity%20to%22%20AND%20_exists_:%22object.HMS_LINCS_ID%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: "HMS_LINCS_ID"
            semantic: SmallMolecule
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["HMS_LINCS_ID:' , '","biolink:associated with sensitivity to"]') }} ],
              "scopes": ["object.HMS_LINCS_ID", "association.edge_label"]
            }
        parameters:
          fields: subject.ENSEMBL,association.edge_attributes
          size: 1000
        outputs:
          - id: ENSEMBL
            semantic: Gene
        predicate: sensitivity_associated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ensembl-subject"
        # testExamples:
        #   - qInput: "HMS_LINCS_ID:10089-101"  ## XMD14-99
        #     oneOutput: "ENSEMBL:ENSG00000106804"     ## C5
    gene-sensitivity-chembl:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20sensitivity%20to%22%20AND%20_exists_:%22object.CHEMBL%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: ENSEMBL
            semantic: Gene
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["ENSEMBL:' , '","biolink:associated with sensitivity to"]') }} ],
              "scopes": ["subject.ENSEMBL", "association.edge_label"]
            }
        parameters:
          fields: object.CHEMBL,association.edge_attributes
          size: 1000
        outputs:
          - id: "CHEMBL.COMPOUND"
            semantic: SmallMolecule
        predicate: associated_with_sensitivity_to
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/chembl-object"
        # testExamples:
        #   - qInput: "ENSEMBL:ENSG00000126733"     ## DACH2
        #     oneOutput: "CHEMBL.COMPOUND:CHEMBL2105734"  ## YM155
    gene-sensitivity-chembl-rev:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20sensitivity%20to%22%20AND%20_exists_:%22object.CHEMBL%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: "CHEMBL.COMPOUND"
            semantic: SmallMolecule
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["CHEMBL.COMPOUND:' , '","biolink:associated with sensitivity to"]') }} ],
              "scopes": ["object.CHEMBL", "association.edge_label"]
            }
        parameters:
          fields: subject.ENSEMBL,association.edge_attributes
          size: 1000
        outputs:
          - id: ENSEMBL
            semantic: Gene
        predicate: sensitivity_associated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ensembl-subject"
        # testExamples:
        #   - qInput: "CHEMBL.COMPOUND:CHEMBL591429"  ## PAC-1
        #     oneOutput: "ENSEMBL:ENSG00000106078"     ## COBL
    gene-sensitivity-chebi:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20sensitivity%20to%22%20AND%20_exists_:%22object.CHEBI%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: ENSEMBL
            semantic: Gene
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["ENSEMBL:' , '","biolink:associated with sensitivity to"]') }} ],
              "scopes": ["subject.ENSEMBL", "association.edge_label"]
            }
        parameters:
          fields: object.CHEBI,association.edge_attributes
          size: 1000
        outputs:
          - id: CHEBI
            semantic: SmallMolecule
        predicate: associated_with_sensitivity_to
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/chebi-object"
        # testExamples:
        #   - qInput: "ENSEMBL:ENSG00000104884"     ## ERCC2
        #     oneOutput: "CHEBI:137113"  ## JQ1
    gene-sensitivity-chebi-rev:
    ## needs prefix in q! BTE will automatically add??
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20sensitivity%20to%22%20AND%20_exists_:%22object.CHEBI%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: CHEBI
            semantic: SmallMolecule
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["' , '","biolink:associated with sensitivity to"]') }} ],
              "scopes": ["object.CHEBI", "association.edge_label"]
            }
        parameters:
          fields: subject.ENSEMBL,association.edge_attributes
          size: 1000
        outputs:
          - id: ENSEMBL
            semantic: Gene
        predicate: sensitivity_associated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ensembl-subject"
        # testExamples:
        #   - qInput: "CHEBI:79369"  ## Elesclomol
        #     oneOutput: "ENSEMBL:ENSG00000039537"     ## C6
    gene-resistance-pubchem-1:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20resistance%20to%22%20AND%20_exists_:%22object.PUBCHEM%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: ENSEMBL
            semantic: Gene
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["ENSEMBL:' , '","biolink:associated with resistance to"]') }} ],
              "scopes": ["subject.ENSEMBL", "association.edge_label"]
            }
        parameters:
          fields: object.PUBCHEM,association.edge_attributes
          size: 1000
        outputs:
          - id: "PUBCHEM.COMPOUND"
            semantic: SmallMolecule
        predicate: associated_with_resistance_to
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/pubchem-1-object"
        # testExamples:
        #   - qInput: "ENSEMBL:ENSG00000008130"     ## NADK
        #     oneOutput: "PUBCHEM.COMPOUND:9914412"  ## ZM-447439
    gene-resistance-pubchem-1-rev:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20resistance%20to%22%20AND%20_exists_:%22object.PUBCHEM%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: "PUBCHEM.COMPOUND"
            semantic: SmallMolecule
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["PUBCHEM:' , '","biolink:associated with resistance to"]') }} ],
              "scopes": ["object.PUBCHEM", "association.edge_label"]
            }
        parameters:
          fields: subject.ENSEMBL,association.edge_attributes
          size: 1000
        outputs:
          - id: ENSEMBL
            semantic: Gene
        predicate: resistance_associated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ensembl-subject"
        # testExamples:
        #   - qInput: "PUBCHEM.COMPOUND:6450551"  ## Axitinib 
        #     oneOutput: "ENSEMBL:ENSG00000035499"     ## DEPDC1B
    gene-resistance-pubchem-2:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20resistance%20to%22%20AND%20_exists_:%22object.CID%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: ENSEMBL
            semantic: Gene
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["ENSEMBL:' , '","biolink:associated with resistance to"]') }} ],
              "scopes": ["subject.ENSEMBL", "association.edge_label"]
            }
        parameters:
          fields: object.CID,association.edge_attributes
          size: 1000
        outputs:
          - id: "PUBCHEM.COMPOUND"
            semantic: SmallMolecule
        predicate: associated_with_resistance_to
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/pubchem-2-object"
        # testExamples:
        #   - qInput: "ENSEMBL:ENSG00000036672"     ## USP2
        #     oneOutput: "PUBCHEM.COMPOUND:644243"  ## FMK
    gene-resistance-pubchem-2-rev:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20resistance%20to%22%20AND%20_exists_:%22object.CID%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: "PUBCHEM.COMPOUND"
            semantic: SmallMolecule
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["CID:' , '","biolink:associated with resistance to"]') }} ],
              "scopes": ["object.CID", "association.edge_label"]
            }
        parameters:
          fields: subject.ENSEMBL,association.edge_attributes
          size: 1000
        outputs:
          - id: ENSEMBL
            semantic: Gene
        predicate: resistance_associated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ensembl-subject"
        # testExamples:
        #   - qInput: "PUBCHEM.COMPOUND:21741774"  ## Z-LLNle-CHO
        #     oneOutput: "ENSEMBL:ENSG00000058453"     ## CROCC
    gene-resistance-hms_lincs:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20resistance%20to%22%20AND%20_exists_:%22object.HMS_LINCS_ID%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: ENSEMBL
            semantic: Gene
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["ENSEMBL:' , '","biolink:associated with resistance to"]') }} ],
              "scopes": ["subject.ENSEMBL", "association.edge_label"]
            }
        parameters:
          fields: object.HMS_LINCS_ID,association.edge_attributes
          size: 1000
        outputs:
          - id: "HMS_LINCS_ID"
            semantic: SmallMolecule
        predicate: associated_with_resistance_to
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/hms_lincs-object"
        # testExamples:
        #   - qInput: "ENSEMBL:ENSG00000041515"     ## MYO16
        #     oneOutput: "HMS_LINCS_ID:10075-101"  ## QL-X-138
    gene-resistance-hms_lincs-rev:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20resistance%20to%22%20AND%20_exists_:%22object.HMS_LINCS_ID%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: "HMS_LINCS_ID"
            semantic: SmallMolecule
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["HMS_LINCS_ID:' , '","biolink:associated with resistance to"]') }} ],
              "scopes": ["object.HMS_LINCS_ID", "association.edge_label"]
            }
        parameters:
          fields: subject.ENSEMBL,association.edge_attributes
          size: 1000
        outputs:
          - id: ENSEMBL
            semantic: Gene
        predicate: resistance_associated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ensembl-subject"
        # testExamples:
        #   - qInput: "HMS_LINCS_ID:10089-101"  ## XMD14-99
        #     oneOutput: "ENSEMBL:ENSG00000122986"     ## HVCN1
    gene-resistance-chembl:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20resistance%20to%22%20AND%20_exists_:%22object.CHEMBL%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: ENSEMBL
            semantic: Gene
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["ENSEMBL:' , '","biolink:associated with resistance to"]') }} ],
              "scopes": ["subject.ENSEMBL", "association.edge_label"]
            }
        parameters:
          fields: object.CHEMBL,association.edge_attributes
          size: 1000
        outputs:
          - id: "CHEMBL.COMPOUND"
            semantic: SmallMolecule
        predicate: associated_with_resistance_to
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/chembl-object"
        # testExamples:
        #   - qInput: "ENSEMBL:ENSG00000007062"     ## PROM1
        #     oneOutput: "CHEMBL.COMPOUND:CHEMBL598797"  ## CUDC-101
    gene-resistance-chembl-rev:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20resistance%20to%22%20AND%20_exists_:%22object.CHEMBL%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: "CHEMBL.COMPOUND"
            semantic: SmallMolecule
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["CHEMBL.COMPOUND:' , '","biolink:associated with resistance to"]') }} ],
              "scopes": ["object.CHEMBL", "association.edge_label"]
            }
        parameters:
          fields: subject.ENSEMBL,association.edge_attributes
          size: 1000
        outputs:
          - id: ENSEMBL
            semantic: Gene
        predicate: resistance_associated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ensembl-subject"
        # testExamples:
        #   - qInput: "CHEMBL.COMPOUND:CHEMBL1084546"  ## PF-562271
        #     oneOutput: "ENSEMBL:ENSG00000007174"     ## DNAH9
    gene-resistance-chebi:
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20resistance%20to%22%20AND%20_exists_:%22object.CHEBI%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: ENSEMBL
            semantic: Gene
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["ENSEMBL:' , '","biolink:associated with resistance to"]') }} ],
              "scopes": ["subject.ENSEMBL", "association.edge_label"]
            }
        parameters:
          fields: object.CHEBI,association.edge_attributes
          size: 1000
        outputs:
          - id: CHEBI
            semantic: SmallMolecule
        predicate: associated_with_resistance_to
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/chebi-object"
        # testExamples:
        #   - qInput: "ENSEMBL:ENSG00000007062"     ## PROM1
        #     oneOutput: "CHEBI:91351"  ## A-443654
    gene-resistance-chebi-rev:
    ## needs prefix in q! BTE will automatically add??
    ##  https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:%22biolink:associated%20with%20resistance%20to%22%20AND%20_exists_:%22object.CHEBI%22
      - supportBatch: true
        useTemplating: true ## flag to say templating is being used below
        inputs:
          - id: CHEBI
            semantic: SmallMolecule
        requestBodyType: object
        requestBody:
          body: >-
            {
              "q": [ {{ queryInputs | wrap( '["' , '","biolink:associated with resistance to"]') }} ],
              "scopes": ["object.CHEBI", "association.edge_label"]
            }
        parameters:
          fields: subject.ENSEMBL,association.edge_attributes
          size: 1000
        outputs:
          - id: ENSEMBL
            semantic: Gene
        predicate: resistance_associated_with
        response_mapping:
          "$ref": "#/components/x-bte-response-mapping/ensembl-subject"
        # testExamples:
        #   - qInput: "CHEBI:94128"  ## ABT-263
        #     oneOutput: "ENSEMBL:ENSG00000008083"     ## JARID2
  x-bte-response-mapping:
    pubchem-1-object:
      "PUBCHEM.COMPOUND": object.PUBCHEM
      edge-attributes: association.edge_attributes
    ensembl-subject:
      ENSEMBL: subject.ENSEMBL
      edge-attributes: association.edge_attributes
    pubchem-2-object:
      "PUBCHEM.COMPOUND": object.CID
      edge-attributes: association.edge_attributes
    hms_lincs-object:
      "HMS_LINCS_ID": object.HMS_LINCS_ID
      edge-attributes: association.edge_attributes
    chembl-object:
      "CHEMBL.COMPOUND": object.CHEMBL
      edge-attributes: association.edge_attributes
    chebi-object:
      CHEBI: object.CHEBI
      edge-attributes: association.edge_attributes
