openapi: '3.0.0'
info:
  version: '1.0'
  title: QuickGO API
  description: >-
    The QuickGO REST API provides access to key biological data from QuickGO and GOA. The services provide a unified interface to query information about ontology terms from GO (the Gene Ontology) and ECO (the Evidence & Conclusion Ontology), Gene Ontology annotations from the EBI's GOA database, and gene products (proteins from UniProt, RNA from RNAcentral and complexes from ComplexPortal). 
  termsOfService: https://www.ebi.ac.uk/QuickGO/services
  contact:
    name: pharmgkb help desk
    x-role: responsible developer
    email: help@pharmgkb.org
servers:
  - url: 'https://www.ebi.ac.uk/QuickGO/services'
    description: 'Production server'
tags:
  - name: publication
paths:
  '/ontology/go/terms/{goid}/ancestors':
    get:
      summary: 'retrieve the ancestors of specified ontology terms'
      parameters:
        - name: goid
          in: path
          description: >-
            Put Gene Ontology ID here, e.g. GO:0000082
          required: true
          x-valueType:
            - 'http://identifiers.org/go/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/go/'
              template: /ontology/go/terms/{goid}/ancestors
          schema:
            type: string
      responses:
        '200':
          description: 'A gene ontolgoy annotation object'
          x-responseValueType:
            - path: results.ancestors
              valueType: 'http://identifiers.org/go/'
          x-JSONLDContext:
            'quickgo/jsonld_context/go_ancestor_context.json'
  '/ontology/go/terms/{goid}/descendants':
    get:
      summary: 'retrieve the descendants of specified ontology terms'
      parameters:
        - name: goid
          in: path
          description: >-
            Put Gene Ontology ID here, e.g. GO:0000082
          required: true
          x-valueType:
            - 'http://identifiers.org/go/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/go/'
              template: /ontology/go/terms/{goid}/descendants
          schema:
            type: string
      responses:
        '200':
          description: 'A gene ontolgoy annotation object'
          x-responseValueType:
            - path: results.descendants
              valueType: 'http://identifiers.org/go/'
          x-JSONLDContext:
            'quickgo/jsonld_context/go_descendant_context.json'
